{#
/**
 * Page variables
 */
#}
{% set recalculate_url = "#!" %}
{% set email_results_url = "#!" %}
{% set total_benefit = 429457192.75 %}
{% set retention_benefit = 207500000 %}
{% set upsell_cross_sell_benefit = 220833333 %}
{% set churn_rate = 10 %}
{% set churn_rate_with_pega = 9 %}
{% set number_of_additional_customers_retained = 100000 %}
{% set cost_avoidance_of_replacing_churned_customers = 20000000 %}
{% set revenue_loss_avoidance_with_pega = 187500000 %}
{% set customer_value = 1875 %}
{% set customer_value_with_pega = 1897 %}
{% set customer_value_increase = (customer_value_with_pega - customer_value) / customer_value * 100 %}


{#
/**
 * Tab 1
 */
#}
{% set tab_content_1 %}
  <div class="o-bolt-grid o-bolt-grid--matrix o-bolt-grid--flex o-bolt-grid--middle">
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small">
      {% include "@bolt-components-headline/headline.twig" with {
        text: "Deeper relationships. Lasting benefits.",
        size: "xlarge",
        tag: "h2"
      } only %}
      {% include "@bolt-components-headline/text.twig" with {
        text: "Pega protects your revenue by proactively predicting churn, then delivering hyper-personalized next best actions that retain customers, buiild long-term loyalty, and reduce discounts.",
      } only %}
      {% include "@bolt-components-headline/text.twig" with {
        text: "Total Retention Benefit: <strong>$" ~ retention_benefit|number_format ~ "</strong>",
        size: "xlarge"
      } only %}
    </div>
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small">
      {% include "results-graph/results-graph.twig" with {
        graph_array: [
          {
            number: churn_rate ~ "%",
            description: "Your churn rate today",
            color: "gray"
          },
          {
            number: churn_rate_with_pega ~ "%",
            description: "Your churn rate with Pega Customer Decision Hub",
            color: "indigo"
          }
        ]
      } only %}

      {# Flag 1 #}
      {% set flag_1_figure %}
        {% include "@bolt-components-icon/icon.twig" with {
          name: "partners",
          size: "large",
          color: "teal"
        } only %}
      {% endset %}
      {% set flag_1_content %}
        <p class="c-www-results-stat">
          <span class="c-www-results-stat__text">Number of additional customers retained</span>
          <span class="c-www-results-stat__headline">{{ number_of_additional_customers_retained|number_format }}</span>
        </p>
      {% endset %}
      {% include "@bolt/flag.twig" with {
        valign: "middle",
        figure: {
          content: flag_1_figure,
        },
        content: flag_1_content,
      } only %}

      {# Flag 2 #}
      {% set flag_2_figure %}
        {% include "@bolt-components-icon/icon.twig" with {
          name: "add-open",
          size: "large",
          color: "teal"
        } only %}
      {% endset %}
      {% set flag_2_content %}
        <p class="c-www-results-stat">
          <span class="c-www-results-stat__text">Cost avoidance of replacing churned customers</span>
          <span class="c-www-results-stat__headline">{{ cost_avoidance_of_replacing_churned_customers|number_format }}</span>
        </p>
      {% endset %}
      {% include "@bolt/flag.twig" with {
        valign: "middle",
        figure: {
          content: flag_2_figure,
        },
        content: flag_2_content,
      } only %}

      {# Flag 3 #}
      {% set flag_3_figure %}
        {% include "@bolt-components-icon/icon.twig" with {
          name: "asset-data",
          size: "large",
          color: "teal"
        } only %}
      {% endset %}
      {% set flag_3_content %}
        <p class="c-www-results-stat">
          <span class="c-www-results-stat__text">Revenue loss avoidance with Pega Customer Decision Hub</span>
          <span class="c-www-results-stat__headline">{{ revenue_loss_avoidance_with_pega|number_format }}</span>
        </p>
      {% endset %}
      {% include "@bolt/flag.twig" with {
        valign: "middle",
        figure: {
          content: flag_3_figure,
        },
        content: flag_3_content,
      } only %}
    </div>
  </div>
{% endset %}


{#
/**
 * Tab 2
 */
#}
{% set tab_content_2 %}
  <div class="o-bolt-grid o-bolt-grid--matrix o-bolt-grid--flex o-bolt-grid--middle">
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small">
      {% include "@bolt-components-headline/headline.twig" with {
        text: "Make selling more empathetic.",
        size: "xlarge",
        tag: "h3"
      } only %}
      {% include "@bolt-components-headline/text.twig" with {
        text: "With Pega&rsquo;s real-time decisioning you&rsquo;ll know when a customer is in-market, and how to convert the sale. You&rsquo;ll trigger relevant offers at exactly the right time - increasing your accept rates and maximizing customer lifetime value.",
      } only %}
      {% include "@bolt-components-headline/text.twig" with {
        text: "Total Uppsell/Cross-sell Benefit: <strong>$220,833,333</strong>",
        size: "xlarge"
      } only %}
    </div>
    <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small">
      {% include "results-graph/results-graph.twig" with {
        graph_array: [
          {
            number: "$" ~ customer_value|number_format,
            description: "Your current value of a customer",
            color: "gray"
          },
          {
            number: "$" ~ customer_value_with_pega|number_format,
            description: "Your value of a customer with Pega Customer Decision Hub",
            color: "indigo"
          }
        ]
      } only %}

      {# Flag 1 #}
      {% set flag_1_figure %}
        {% include "@bolt-components-icon/icon.twig" with {
          name: "asset-data",
          size: "large",
          color: "teal"
        } only %}
      {% endset %}
      {% set flag_1_content %}
        <p class="c-www-results-stat">
          <span class="c-www-results-stat__text">Percent increase in customer value from improved upsell/cross-sell presentation and conversion rates.</span>
          <span class="c-www-results-stat__headline">{{ customer_value_increase|number_format(1, '.', ',') }}%</span>
        </p>
      {% endset %}
      {% include "@bolt/flag.twig" with {
        valign: "middle",
        figure: {
          content: flag_1_figure,
        },
        content: flag_1_content,
      } only %}
    </div>
  </div>
{% endset %}


{#
/**
 * Total benefit tooltip
 */
#}
{% set tooltip_trigger %}
  <strong class="u-bolt-color-indigo-light">${{ total_benefit|number_format }}</strong>
{% endset %}
{% set tooltip_content %}
  <div class="u-bolt-text-align-center" style="white-space: nowrap">
    <bolt-stack spacing="small">
      Retention benefits: <br>
      <strong>${{ retention_benefit|number_format }}</strong>
    </bolt-stack>
    <bolt-stack spacing="small">
      Upsell/Cross-sell benefit:<br>
      <strong>${{ upsell_cross_sell_benefit|number_format}}</strong>
    </bolt-stack>
  </div>
{% endset %}
{% set total_benefit_tooltip %}
  {% include "@bolt-components-tooltip/tooltip.twig" with {
    trigger: tooltip_trigger,
    content: tooltip_content,
  } only %}
{% endset %}


{#
/**
 * Band content
 */
#}
{% set content %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Your total benefit from a real-time, next-best-action approach is <br>" ~ total_benefit_tooltip,
    size: "xxlarge",
    tag: "h1",
    align: "center",
    weight: "regular",
  } only %}

  {% include "@bolt-components-tabs/tabs.twig" with {
    align: "center",
    panel_spacing: "medium",
    panels: [
      {
        label: "The Value of Customer Retention",
        content: tab_content_1,
      },
      {
        label: "Upsell and Cross-Sell Benefits",
        content: tab_content_2,
      }
    ]
  } only %}
{% endset %}


{#
/**
 * Band's pinned content
 */
#}
{% set pinned_recalculate_link %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Recalculate",
    style: "text",
    size: "small",
    weight: "semibold",
    url: recalculate_url,
    icon: {
      name: "refresh",
      position: "before"
    }
  } only %}
{% endset %}
{% set pinned_email_results_link %}
  {% include "@bolt-components-headline/text.twig" with {
    text: "Email my results",
    style: "text",
    size: "small",
    weight: "semibold",
    url: email_results_url,
    icon: {
      name: "email",
      position: "before"
    }
  } only %}
{% endset %}


{#
/**
 * Overall band
 */
#}
{% include "@bolt-components-band/band.twig" with {
  size: "large",
  theme: "light",
  full_bleed: true,
  pinned_content: {
    upper: [
      {
        content: pinned_recalculate_link
      },
      {
        content: pinned_email_results_link
      },
    ]
  },
  content: content,
} only %}
