{% set tags = ["button", "a"] %} {# Available Headline Types #}
{% set widths = ["full", "full@small"] %}
{% set styles = ["primary", "secondary", "text"] %}
{% set prefix = "c-bolt-" %}

{% set itemAlignments = {
  "center": "center",
  "left": "start"
} %}

{# Allowed Button Sizes #}
{% set sizes = [
  "xsmall",
  "small",
  "large",
  "xlarge"
] %}

{% set attributes = create_attribute(attributes|default({})) %}

{# Defaults for a vanilla `Button` component #}
{% set componentName = "button" %}
{% set baseClass = prefix ~ componentName %}
{% set size = size | default("medium") %}
{% set width = width | default("") %}
{% set style = style | default("") %}
{% set itemAlignment = itemAlignment | default("center") %}

{% set tag = tag in tags ? tag: "a" %}


{% set classes = [
  baseClass,
  disabled ? baseClass ~ "--disabled" : "",
  size in sizes ? baseClass ~ "--" ~ size : "",
  width in widths ? baseClass ~ "--" ~ width : "",
  style in styles ? baseClass ~ "--" ~ style : baseClass ~ "--primary",
  itemAlignment in itemAlignments|keys ? baseClass ~ "--item-align-" ~ itemAlignments[itemAlignment]
] %}


{% if url %}
  {% set attributes = attributes.setAttribute("href", url) %}
{% endif %}

{% if disabled %}
  {% set attributes = attributes.setAttribute("disabled", true) %}
{% endif %}


{# set iconpos = iconpos | default("right") #}

<bolt-button
  size="{{ size }}"
  bolt-component>
  <{{ tag }} {{ attributes.addClass(classes | raw) }}>
    <span class="{{ "#{baseClass}__item #{baseClass}__item-text" }}">{{ text }}</span>

    {% if icon %}
      <span class="{{ "#{baseClass}__icon" }}">
        {% include "@bolt/icon.twig" with icon only %}
      </span>
    {% endif %}

  </{{ tag }}>
</bolt-button>
{% if TWIG_ENV == 'pl' %}
  {{ validate_json_schema('@bolt/button.schema.json', _self) }}
{% endif %}
