{% macro menu(items, depth, currentUrl) %}
  {% import _self as macros %}
  <ul class="sub-nav__list sub-nav__list--depth-{{ depth }}">
    {% for item in items %}
      {% set isActive = currentUrl == item.url %}
      <li class="sub-nav__item">
        <a href="/{{ item.url }}" class="sub-nav__link{% if isActive %} sub-nav__link--active{% endif %}">
          {{ item.meta.title }}
        </a>
        {% if item.children %}
          {% set depth = depth + 1 %}
          {{ macros.menu(item.children, depth, currentUrl) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}
{% set currentUrl = page.url %}

<nav class="sub-nav">
  {% if currentSection %}
    <h4 class="sub-nav__section">{{ currentSection|title }}</h4>
  {% endif %}
  {{ macros.menu(nestedPages, 1, currentUrl) }}
</nav>
