<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bolt Design System{% if page.meta.title %} | {{ page.meta.title }}{% endif %}</title>
  <meta name="description" content="Bolt Design System">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {#<link rel="manifest" href="site.webmanifest">#}
  {#<link rel="apple-touch-icon" href="icon.png">#}
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/build/bolt-global.css">

  {# Global Twig vars #}
  {% set urlChunks = page.url | split('/') %}
  {% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
  {% set currentUrl = page.url %}
  {% if page.url starts with currentSection %}
    {% set nestedPages = [] %}
    {% for page in site.nestedPages if page.url starts with currentSection %}
      {% set nestedPages = page.children %}
    {% endfor %}
  {% endif %}
  {% set hasSidebar = nestedPages or sidebar %}
  {# End Global Twig vars #}
</head>
<body class="storefront-docs">

{# @todo Incorporate new class into styles for when there is a sidebar and when there is not. ie: when no sidebar: make it 100% wide Jake #}
<div class="storefront-docs__content {% if hasSidebar %} storefront-docs__content--has-sidebar{% endif %}">
  <div class="storefront-docs-wrapper">
    <h1 class="storefront-docs-title">
      {% include "@bolt-components-icon/icon.twig" with {
        name: "energy",
        size: "medium",
      }%} <span>BOLT DESIGN SYSTEM</span>
    </h1>
    {% if hasSidebar %}
      <aside class="storefront-docs-sidebar">
        {% if nestedPages %}
          {% include 'partials/sub-nav.twig' with {
            nestedPages: nestedPages,
          } %}
        {% endif %}
      </aside>
    {% endif %}
    <header class="storefront-docs-header t-bolt-xdark">
      <nav class="storefront-docs-header__nav">
        {% for page in site.pages if page.meta.nav == 'main' %}
          {% set isActive = currentUrl == page.url %}
          {% set isActivePath = page.url starts with currentSection %}
          <a href="/{{ page.url }}" class="{% if isActive %}active{% endif %} {% if isActivePath %}active-path{% endif %}">{{ page.meta.title }}</a>
        {% endfor %}
      </nav>
      {% if page.meta.title %}
        {% include "@bolt-components-headline/headline.twig" with {
          text: page.meta.title,
          size: 'xxxlarge',
          transform: 'uppercase',
          icon: {
            name: 'chevron-right'
          }
        } only %}
      {% endif %}
      {% if page.meta.subtitle %}
        <h3 class="storefront-docs-page-subtitle">{{ page.meta.subtitle }}</h3>
      {% endif %}
    </header>
    <main class="storefront-docs-content">
      {{ content }}
    </main>
  </div>
</div>

<div class="storefront-docs-footer">
  <div class="storefront-docs-wrapper">
    <footer role="contentinfo">
      <p>
        <strong>Copyright &copy; 2017 Pegasystems, Inc.</strong>
      </p>
      {% set gitBranch = 'feature/docs-site' %}
      <p><a href="https://github.com/bolt-design-system/bolt/blob/{{ gitBranch }}/apps/bolt-site--storefront/{{ page.srcPath }}">Edit this page on GitHub</a></p>
    </footer>
  </div>
</div>

{# Shows Twig Vars in Browser Console #}
<script type="application/json">{{ _context|json_encode()|raw }}</script>
<script>
  (function () {
    var me = document.currentScript;
    var jsonScriptTag = me.previousElementSibling.innerHTML;
    var data = JSON.parse(jsonScriptTag);
    console.log('Twig vars for this page: ', data);
    console.table(data.site.pages);
//        console.table(data.site.pages);
  })();
</script>

<script src="/build/bolt-global.js"></script>
{# Code syntax highlighting - https://highlightjs.org/ #}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/scss.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/twig.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
{#<script>#}
{#window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;#}
{#ga('create','UA-XXXXX-Y','auto');ga('send','pageview')#}
{#</script>#}
{#<script src="https://www.google-analytics.com/analytics.js" async defer></script>#}
</body>
</html>
