{% import "@bolt-academy/_macros.twig" as macros %}

{% set useCarousel = useCarousel ?? true %}

{% set content %}
  <div class="u-bolt-margin-bottom-medium">
    <bolt-grid gutter="small" row-gutter="small">
      {% if sectionTitle %}
        <bolt-grid-item column-start="1" column-span="12">
          {% include "@bolt-components-headline/headline.twig" with {
            text: sectionTitle,
            size: "xxlarge",
            weight: "semibold",
            align: sectionTitleAlignment | default("left")
          } only %}
        </bolt-grid-item>
      {% endif %}

      {% if sectionButtons %}
        <bolt-grid-item column-start="1" column-span="8">
          {% for button in sectionButtons %}
            {{ button }}
          {% endfor %}
        </bolt-grid-item>
      {% endif %}
    </bolt-grid>
  </div>

  {% if items %}
    <bolt-grid gutter="small" row-gutter="small">
      {% if items|length > 1 and useCarousel %}
        {% set slides = [] %}
        {% for item in items %}
          {# @todo: why do we do this check? #}
          {% if item.cardTitle %}
            {% set slides = slides|merge([macros.include("@bolt-academy/_vertical-card.twig", item)]) %}
          {% else %}
            {% set slides = slides|merge([item]) %}
          {% endif %}
        {% endfor %}

        <bolt-grid-item column-start="1" column-span="12">
          {% include "@bolt-components-carousel/carousel.twig" with {
            slides_per_view: "auto",
            nav_button_position: "outside",
            slides: slides
          } only %}
        </bolt-grid-item>
      {% else %}
        {% for item in items %}
        {% set card %}
          {% if item.cardTitle %}
            {% include "@bolt-academy/_vertical-card.twig" with item %}
          {% else %}
            {{ item }}
          {% endif %}
        {% endset %}
        {% if loop.index % 3 == 0 %}
          <bolt-grid-item column-start="1 9@medium" column-span="12 4@medium">
            {{ card }}
          </bolt-grid-item>
        {% elseif loop.index % 2 == 0 %}
          <bolt-grid-item column-start="1 5@medium" column-span="12 4@medium">
            {{ card }}
          </bolt-grid-item>
        {% else %}
          <bolt-grid-item column-start="1" column-span="12 4@medium">
            {{ card }}
          </bolt-grid-item>
        {% endif %}
        {% endfor %}
      {% endif %}
    </bolt-grid>
  {% endif %}
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  theme: theme|default("xlight"),
  content: content,
} only %}
