{# Variables that are editable by the content editor #}
{% set hero_headline = 'Powerful software. Powered by you.' %}
{% set hero_background_video_poster = '/images/placeholders/landscape-16x9-mountains.jpg' %}
{% set hero_background_video_id = '5999324539001' %}
{% set themes = ['light', 'dark'] %}

{# Headline and Text #}
{% set headline_and_text %}
  {% if hero_headline %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: hero_headline,
      size: 'xxxlarge',
      tag: 'h1',
      align: 'center',
    } only %}
  {% endif %}
  {% if hero_text %}
    {% include '@bolt-components-headline/text.twig' with {
      text: hero_text,
      size: 'large',
      tag: 'h2',
      align: 'center',
    } only %}
  {% endif %}
{% endset %}


{# Form #}
{% set form_children %}
  {% set search_element %}
    {% set label %}
      {% include '@bolt-components-form/form-label.twig' with {
        title: 'Search',
        displayType: 'floating',
        attributes: {
          for: 'search',
        },
      } only %}
    {% endset %}
    {% set input %}
      {% include '@bolt-components-form/form-input.twig' with {
        attributes: {
          placeholder: 'Search All Jobs',
          type: 'search',
          id: 'search',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-form/form-element.twig' with {
      label: label,
      children: input,
      labelDisplay: 'before',
    } only %}
  {% endset %}

  {% set select_elements %}
    {% set country %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Country',
          displayType: 'floating',
        } only %}
      {% endset %}
      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: '',
              label: '- Select an option -',
              attributes: {
                disabled: true,
              }
            },
            {
              type: 'option',
              value: 'a',
              label: 'Argentina'
            },
            {
              type: 'option',
              value: 'b',
              label: 'Belgium'
            },
            {
              type: 'option',
              value: 'c',
              label: 'Croatia'
            }
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: select,
      } only %}
      {% endset %}

    {% set categories %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Categories',
          displayType: 'floating',
        } only %}
      {% endset %}
      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          options: [
            {
              type: 'option',
              value: '',
              label: '- Select a Category -',
              attributes: {
                disabled: true,
              }
            },
            {
              type: 'option',
              value: 'sales',
              label: 'Sales'
            },
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: select,
      } only %}
    {% endset %}

    {% include '@bolt-components-grid/grid.twig' with {
      gutter: 'small',
      row_gutter: 'small',
      items: [
        {
          column_start: '1',
          column_span: '12 6@medium',
          content: country,
        },
        {
          column_start: '1 7@medium',
          column_span: '12 6@medium',
          content: categories,
        },
      ]
    } only %}
  {% endset %}

  {% set form_button %}
    {% include '@bolt-components-form/form-button.twig' with {
      text: 'Search',
      width: 'full',
    } only %}
  {% endset %}

  {% include '@bolt-components-grid/grid.twig' with {
    gutter: 'small',
    row_gutter: 'small',
    items: [
      {
        column_start: '1',
        column_span: '12 9@medium',
        content: search_element,
      },
      {
        column_start: '1 10@medium',
        column_span: '12 3@medium',
        content: form_button,
      },
      {
        column_start: '1',
        column_span: '12',
        row_start: '2 auto@medium',
        content: select_elements,
      },
    ]
  } only %}
{% endset %}

{% set form %}
  {% include '@bolt-components-form/form.twig' with {
    children: form_children
  } only %}
{% endset %}

{% set card_with_form %}
  {% embed '@bolt-components-card-replacement/card-replacement.twig' %}
    {% block body %}
      {{ form }}
    {% endblock %}
  {% endembed %}
{% endset %}

{% set background_video %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: hero_background_video_poster,
      background: true,
      loading: 'lazy',
    }
  } only %}
  {% set video %}
    <video-js
      data-account="1900410236"
      data-player="O3FkeBiaDz"
      data-embed="default"
      data-video-id="{{ hero_background_video_id }}"
      autoplay loop muted
      class="c-base-video"></video-js>
  {% endset %}
  {% include '@bolt-elements-ratio/ratio.twig' with {
    content: video,
    ratio: 'wide'
  } only %}
{% endset %}

{% set themes = ['light', 'dark'] %}

{# Hero Band #}
{% for theme in themes %}
  {% embed '@bolt-components-band/band.twig' with {
    size: 'large',
    theme: theme,
    background: {
      opacity: 'heavy',
      fill: 'solid',
      video: true,
      items: [
        background_video,
      ]
    },
    attributes: {
      class: "u-bolt-margin-bottom-large"
    }
  } %}
    {% block band_background %}
      {{ background_video }}
      {{ parent() }}
    {% endblock %}

    {% block band_content %}
      {% include '@bolt-components-grid/grid.twig' with {
        gutter: 'small',
        row_gutter: 'small',
        items: [
          {
            column_start: '1 2@small 4@large',
            column_span: '12 10@small 6@large',
            content: headline_and_text,
          },
          {
            column_start: '1 2@small 3@medium',
            column_span: '12 10@small 8@medium',
            row_start: '4',
            content: card_with_form,
          },
        ]
      } only %}
      {{ parent() }}
    {% endblock band_content %}
  {% endembed %}
  {% embed '@bolt-components-band/band.twig' with {
    size: 'large',
    theme: theme,
    background: {
      opacity: 'heavy',
      fill: 'solid',
      video: true,
      items: [
        background_video,
      ]
    },
    attributes: {
      class: "u-bolt-margin-bottom-large"
    }
  } %}
    {% block band_background %}
      {{ background_video }}
      {{ parent() }}
    {% endblock %}

    {% block band_content %}
      {% include '@bolt-components-grid/grid.twig' with {
        gutter: 'small',
        row_gutter: 'small',
        items: [
          {
            column_start: '1 2@small 3@medium',
            column_span: '12 10@small 8@medium',
            content: card_with_form,
          },
        ]
      } only %}
      {{ parent() }}
    {% endblock band_content %}
  {% endembed %}
{% endfor %}


  {# Rest of the page #}
  {% set cards_in_band %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Placeholder for rest of the page',
      size: 'xxlarge',
      align: 'center',
    } only %}

    {% set card_1 %}
      {% set image %}
        {% include '@bolt-elements-image/image.twig' with {
          attributes: {
            alt: 'alt text',
            src: '/images/content/promos/promo-16x9-anthem.jpg',
            loading: 'lazy',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-card-replacement/card-replacement.twig' with {
        media: {
          image: image,
        },
        body: {
          eyebrow: 'Eyebrow',
          headline: 'Headline',
        },
        actions: [
          {
            text: 'Button',
            url: 'https://google.com',
          },
        ],
      } only %}
    {% endset %}

    {% set card_2 %}
      {% set image %}
        {% include '@bolt-elements-image/image.twig' with {
          attributes: {
            alt: 'alt text',
            src: '/images/content/promos/promo-16x9-anthem.jpg',
            loading: 'lazy',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-card-replacement/card-replacement.twig' with {
        media: {
          image: image,
        },
        body: {
          headline: 'Anthem debuts its next-generation service desktop, driving frictionless customer experiences.',
        },
      } only %}
    {% endset %}

    {% set card_3 %}
      {% include '@bolt-components-card-replacement/card-replacement.twig' with {
        body: {
          headline: 'Anthem debuts its next-generation service desktop, driving frictionless customer experiences.',
        },
      } only %}
    {% endset %}

    {% include '@bolt-components-grid/grid.twig' with {
      items: [
        {
          column_start: '1',
          column_span: '12 4@small',
          content: card_1,
        },
        {
          column_start: '1 5@small',
          column_span: '12 4@small',
          content: card_2,
        },
        {
          column_start: '1 9@small',
          column_span: '12 4@small',
          content: card_3,
        },
      ]
    } only %}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: cards_in_band,
  } only %}
</div>
