{% embed "@utils/utilities.twig" with {
  utility_name: "Bolt Shadows",
  sassdoc_items: [
    {
      title: "@mixin bolt-shadow",
      anchor: link["styleguide-sassdoc"] ~ "#mixin-bolt-shadow"
    }
  ]
} only %}

  {% set class_prefix = "u-bolt-shadow-" %}

  {% block utility_description %}
    <p>Add the utility class <code>{{ class_prefix }}xx</code> where xx equals the level of shadow you wish to apply.</p>
    <p><strong>For example</strong>: <code>.{{ class_prefix ~ bolt.data.shadows.sets|keys|first }}</code></p>
  {% endblock %}

  {% block utility_demo %}
    {% for key, value in bolt.data.shadows.sets %}
      <div class="c-bds-shadow-demo__card {{ class_prefix }}{{ key }}">{{ key }}
        <br>Utility Class
        <br><code>.{{ class_prefix }}{{ key }}</code>
        <br>Scss Mixin
        <br><code>@include bolt-shadow("{{ key }}");</code>
      </div>
    {% endfor %}

    <h5>Hoverable</h5>
    <p>To add an animated shadow that "lifts" on hover, add the <code>{{ class_prefix }}xx-hoverable</code> where xx equals the level of shadow you wish to use.</p>
    <p><strong>For example</strong>: <code>.{{ class_prefix ~ bolt.data.shadows.sets|keys|first ~ "-hoverable" }}</code></p>

    {% for key, value in bolt.data.shadows.sets %}
      <div class="c-bds-shadow-demo__card {{ class_prefix }}{{ key }}-hoverable">{{ key }}
        <br>Utility Class
        <br><code>.{{ class_prefix }}{{ key }}-hoverable</code>
        <br>Scss Mixin
        <br><code>@include bolt-shadow("{{ key }}", true);</code>
      </div>
    {% endfor %}
  {% endblock %}

{% endembed %}
