{% embed "@utils/utilities.twig" with {
  utility_name: "Bolt Z-index",
  sassdoc_items: [
    {
      title: "@function bolt-z-index",
      anchor: link["styleguide-sassdoc"] ~ "/docs/development/sassdocs.html#function-bolt-z-index"
    },
    {
      title: "@mixin bolt-z-index",
      anchor: link["styleguide-sassdoc"] ~ "/docs/development/sassdocs.html#mixin-bolt-z-index"
    }
  ]
} only %}
  {% set class_prefix = "u-bolt-z-index-" %}
  {% set z_index_options = bolt.data.zIndexes %}

  {% block utility_description %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "The Bolt z-index utilities create the stacking order of multiple positioned elements. Overlapping elements with a larger z-index cover those with a smaller one. ",
    } only %}

    {% include "@bolt-components-headline/headline.twig" with {
      text: "Classes",
      size: "xlarge",
      tag: "h3",
      attributes: {
        class: "u-bolt-margin-bottom-xsmall",
      }
    } only %}

    {% set rows = [] %}
    {% for key, value in z_index_options %}
      {% set rows = rows|merge(
        [
          {
            cells: [
              value,
              "." ~ class_prefix ~ key,
              "bolt-z-index(" ~ key ~ ")",
            ]
          }
        ]
      ) %}
    {% endfor %}

    {% include "@bolt-components-table/table.twig" with {
      headers: {
        top: {
          cells: [
            "z-index",
            "Utility Class",
            "Scss Function",
          ]
        },
      },
      rows: rows,
      first_col_fixed_width: true,
    } only %}

    {% include "@bolt-components-headline/headline.twig" with {
      text: "Usage Guidelines",
      size: "xxlarge",
      tag: "h2",
    } only %}
    {% include "@bolt-components-headline/text.twig" with {
      text: "The usage of z-index is very complicated, do not use it blindly and without context. Use <code>content-low</code>, <code>content</code>, and <code>content-high</code> to handle general stacking order within a container (assuming this container's position is set to anything but static). Use <code>nav</code>, <code>overlay</code>, <code>floating-low</code>, <code>floating</code>, <code>floating-high</code>, <code>modal-overlay</code>, <code>modal</code> for more specific high level UI components that are fixed or absolute position.",
    } only %}

    {% include "@bolt-components-headline/headline.twig" with {
      text: "Stacking Order Works as Expected When:",
      size: "xlarge",
      tag: "h3",
      attributes: {
        class: "u-bolt-margin-bottom-xsmall",
      }
    } only %}
    {% include "@bolt-components-ol/ol.twig" with {
      items: [
        "Elements with position set to fixed or sticky.",
        "Elements with position set to relative or absolute and they are on the same level in the markup.",
      ]
    } only %}

    {% include "@bolt-components-headline/headline.twig" with {
      text: "Stacking Order Does Not Work as Expected When:",
      size: "xlarge",
      tag: "h3",
      attributes: {
        class: "u-bolt-margin-bottom-xsmall",
      }
    } only %}
    {% include "@bolt-components-ol/ol.twig" with {
      items: [
        "Elements with position set to static or undefined (z-index should not be used at all in this case).",
        "Elements with position set to anything but static and they are not on the same level in the markup.",
      ]
    } only %}

    {% include "@bolt-components-headline/headline.twig" with {
      text: "When In Doubt, Use This Decision Tree",
      size: "xlarge",
      tag: "h3",
    } only %}
    {% include "@bolt-components-image/image.twig" with {
      src: "/images/content/charts/decision-tree-z-index.png",
      alt: "z-index decision tree",
    } only %}
    {% include "@bolt-components-link/link.twig" with {
      text: "Open image in new tab",
      url: "/images/content/charts/decision-tree-z-index.png",
      icon: {
        name: "external-link",
      },
      attributes: {
        target: "_blank"
      },
    } only %}
  {% endblock %}

  {% block utility_demo %}
    <div style="position: relative; background-color: #f4f4f4; width: 100%; padding-bottom: 100%; overflow: auto">
      {% for key, value in z_index_options|reverse %}
        <div style="position: absolute; top: {{ value }}0px; left: {{ value }}0px; width: 10rem; color: white; white-space: nowrap; border: 2px dotted; background-color: #545DA6;" class="{{ class_prefix }}{{ key }} u-bolt-padding-top-small u-bolt-padding-bottom-xlarge u-bolt-padding-left-small">{{ key }}</div>
      {% endfor %}
    </div>
  {% endblock %}

{% endembed %}
