{% if bolt.data.config.lang is iterable %}
  {% set lang = bolt.data.config.lang[0] %}
{% else %}
  {% set lang = bolt.data.config.lang %}
{% endif %}


{# @TODO: how do we get this to use the exact same values from our global .js config without having the source of truth live as a .yml or .json file...? #}
{% set legacyManifestConfig = "@bolt-assets/bolt-webpack-manifest#{lang != "" ? "-" ~ lang : ""}.json" %}
{% set modernManifestConfig = "@bolt-assets/bolt-webpack-manifest#{lang != "" ? "-" ~ lang : ""}.modern.json" %}

{% set legacyAssets = [] %}
{% set modernAssets = [] %}

{% if fileExists(legacyManifestConfig) %}
  {% set legacyAssets = get_data(legacyManifestConfig) %}
{% endif %}

{% if fileExists(modernManifestConfig) %}
  {% set modernAssets = get_data(modernManifestConfig) %}
{% endif %}

{% set urlChunks = page.url | split('/') %}
{% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
{% set currentUrl = page.url %}

{% if page.url starts with currentSection %}
  {% set nestedPages = [] %}
  {% for page in site.nestedPages if page.url starts with currentSection %}
    {% set nestedPages = page.children %}
  {% endfor %}
{% endif %}
{% set hasSidebar = nestedPages or sidebar %}

{% set cacheBuster = bolt.data.config.prod ? "?v=" ~ bolt.data.fullManifest.version : "" %}

{% set htmlClasses = [
  bolt.data.config.prod ? '' : 'js-fonts-loaded',
  currentUrl == 'index.html' ? 'u-bolt-min-height-screen u-bolt-flex' : ''
] %}

<!DOCTYPE html>
<html lang="en-US" class="{{ htmlClasses|join(' ') }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect dns-prefetch" href="https://www.google-analytics.com"/>

    <!-- async load PL's CSS -->
    <link rel="stylesheet" href="{{ legacyAssets["bolt-global.css"] | default("/build/bolt-global.css") }}" media="all" />
    <link rel="preload" href="/pattern-lab/styleguide/css/pattern-lab.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

    {# shared critical path scripts #}
    <script>
      if (sessionStorage.fontsLoadedCriticalFoftPreloadPolyfill){
        document.documentElement.classList.add('js-fonts-loaded');
      }

      window.drupalSettings = {
        google_analytics: {
          trackCrossDomains: ['github.com']
        }
      }

      window.bolt = window.bolt || {};
      window.bolt.data = window.bolt.data || {};
      window.bolt.data.fullManifest = window.bolt.data.fullManifest || {};
      window.bolt.data.fullManifest.version = window.bolt.data.fullManifest.version || {{ bolt.data.fullManifest.version|json_encode|raw }};
    </script>

    <noscript>
      <link href="/pattern-lab/styleguide/css/pattern-lab.css" rel="stylesheet">
    </noscript>

    {# @TODO: wire this up to use Critical CSS #}
    <style>
      {% if fileExists("@bolt-assets/bolt-components-critical-fonts.css") %}
        {# {{ inline( legacyAssets["bolt-components-critical-fonts.css"] | default("") ) }} #}
      {% endif %}
    </style>

    <link rel="image_src" href="/images/bolt-logo-480.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=LbyzAXRqNz">
    <link rel="manifest" href="/site.webmanifest?v=LbyzAXRqNz">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=LbyzAXRqNz" color="#1f2656">
    <link rel="shortcut icon" href="/favicon.ico?v=LbyzAXRqNz">
    <meta name="apple-mobile-web-app-title" content="Bolt DS">
    <meta name="application-name" content="Bolt Design System">
    <meta name="msapplication-TileColor" content="#1f2656">
    <meta name="msapplication-config" content="/browserconfig.xml?v=LbyzAXRqNz">
    <meta name="theme-color" content="#1f2656">

    <!-- OG Tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bolt Design System" />
    <meta property="og:description" content="The Bolt Design System provides guidelines, reusable UI components, visual styles, tools, and other resources that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope." />
    <meta property="og:image" content="https://boltdesignsystem.com/images/bolt-logo-480.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="480" />
    <meta property="og:url" content="https://boltdesignsystem.com/" />
    <meta property="og:site_name" content="Bolt Design System" />
    <!-- Twitter specific tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Bolt Design System" />
    <meta name="twitter:description" content="The Bolt Design System provides guidelines, reusable UI components, visual styles, tools, and other resources that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope." />
    <meta name="twitter:image" content="https://boltdesignsystem.com/images/bolt-logo-480.png" />
    <meta name="twitter:site" content="@pega" />
  </head>

  {% set bodyClasses = [
    patternData.patternBreadcrumb.patternType == 'pages' ? 'c-bolt-site' : '',
    currentUrl == 'index.html' ? 't-bolt-xdark' : '',
    hasSidebar and patternLabFoot is not defined ? 'c-bds-layout--has-sidebar' : '',
    patternLabFoot is not defined ? 'c-bolt-site' : '',
    patternLabFoot is not defined ? 'c-bds-layout' : '',
    patternLabFoot is not defined ? ('c-bds-layout--' ~ urlChunks | length >= 2 ? urlChunks|first : 'c-bds-layout--parent') : '',
  ] %}
<body class="{{ bodyClasses|join(' ') }}">
