{% extends "@pl/_default-page-template.twig" %}

{% block main_content %}

{% set schema = bolt.data.components['@bolt-components-navbar'].schema['navbar'] %}

{% set section_content %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt necessitatibus, nostrum aliquam sed qui et totam deserunt quasi. Quae fugit aliquam velit aperiam at quibusdam tempore repellat commodi sapiente!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt necessitatibus, nostrum aliquam sed qui et totam deserunt quasi. Quae fugit aliquam velit aperiam at quibusdam tempore repellat commodi sapiente!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt necessitatibus, nostrum aliquam sed qui et totam deserunt quasi. Quae fugit aliquam velit aperiam at quibusdam tempore repellat commodi sapiente!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt necessitatibus, nostrum aliquam sed qui et totam deserunt quasi. Quae fugit aliquam velit aperiam at quibusdam tempore repellat commodi sapiente!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nesciunt necessitatibus, nostrum aliquam sed qui et totam deserunt quasi. Quae fugit aliquam velit aperiam at quibusdam tempore repellat commodi sapiente!</p>
{% endset %}

{% for spacing in schema.properties.spacing.enum %}
  {% set navbar_data = [
    {
      link: {
        content: 'Section 1',
        attributes: {
          href: '#section-' ~ spacing ~ '-1'
        }
      }
    },
    {
      link: {
        content: 'Button',
        attributes: {
          type: 'button',
          'data-foo': 'bar'
        }
      }
    },
    {
      link: {
        content: 'External Link',
        attributes: {
          href: 'http://google.com/',
          target: '_blank'
        }
      }
    },
    {
      link: {
        content: 'Section 2',
        attributes: {
          href: '#section-' ~ spacing ~ '-2'
        }
      }
    },
    {
      link: {
        content: 'External Link',
        attributes: {
          href: 'http://google.com/'
        }
      }
    },
    {
      link: {
        content: 'Button',
        attributes: {
          type: 'button',
          onclick: 'alert("test")'
        }
      }
    },
    {
      link: {
        content: 'Section 3',
        attributes: {
          href: '#section-' ~ spacing ~ '-3'
        }
      }
    }
  ] %}

  {% set navbar_items %}
    {% for item in navbar_data %}
      {% include '@bolt-components-navbar/navbar-li.twig' with item only %}  
    {% endfor %}
  {% endset %}

  {% set navbar_links %}
    {% include '@bolt-components-navbar/navbar-ul.twig' with { content: navbar_items } only %}  
  {% endset %}

  <div>
    {% include "@bolt-components-navbar/navbar.twig" with {
      title: {
        content: 'Title text ' ~ spacing,
        icon: {
          name: "marketing-gray"
        }
      },
      links: navbar_links,
      spacing: spacing
    } only %}

    <div id="section-{{ spacing }}-1">
      <h2>Section 1</h2>
      {{ section_content }}
    </div>

    <div id="section-{{ spacing }}-2">
      <h2>Section 2</h2>
      {{ section_content }}
    </div>

    <div id="section-{{ spacing }}-3">
      <h2>Section 3</h2>
      {{ section_content }}
    </div>
  </div>
{% endfor %}

{% endblock %}
