{% set formInputs %}
  {% grid 'o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--small o-bolt-grid--center o-bolt-grid--middle' %}
    {% cell 'o-bolt-grid__cell--top c-reorderable-form-field c-reorderable-form-field--first u-bolt-width-1/1 u-bolt-width-2/3@small u-bolt-flex-grow' %}
        {% include "@pl/10-form-element-demo-input-element.twig" with {
        "title": "Search All Jobs",
        "inputAttributes": {
          "placeholder": "Search All Jobs",
          "required": false,
          "type": "search"
        },
        "labelDisplayType": "floating"
      } only %}
    {% endcell %}

    {% cell 'o-bolt-grid__cell--top c-reorderable-form-field c-reorderable-form-field--third u-bolt-width-1/1 u-bolt-width-1/2@small' %}
        {% include "@pl/40-form-element-demo-select.twig" with {
          "title": "Country",
          "selectAttributes": {
            "required": false
          },
          "options": [
            {
              "type": "option",
              "value": "",
              "label": "- Select a Country -"
            },
            {
              "type": "option",
              "value": "a",
              "label": "Argentina"
            },
            {
              "type": "option",
              "value": "b",
              "label": "Belgium"
            },
            {
              "type": "option",
              "value": "c",
              "label": "Croatia"
            }
          ]
        } only %}
    {% endcell %}

    {% cell 'o-bolt-grid__cell--top c-reorderable-form-field c-reorderable-form-field--fourth u-bolt-width-1/1 u-bolt-width-1/2@small' %}
        {% include "@pl/40-form-element-demo-select.twig" with {
        "title": "Categories",
        "selectAttributes": {
          "required": false
        },
        "options": [
          {
            "type": "option",
            "value": "",
            "label": "- Select a Category -"
          },
          {
            "type": "option",
            "value": "sales",
            "label": "Sales"
          }
        ]
      } only %}
    {% endcell %}

    {% cell 'o-bolt-grid__cell--top u-bolt-flex-grow u-bolt-flex-shrink c-reorderable-form-field c-reorderable-form-field--fifth c-reorderable-form-field--second@small' %}
      {% include "@bolt/form-button.twig" with {
        "text": "Search",
        "width": "full",
      } only %}
    {% endcell %}
  {% endgrid %}
{% endset %}

{% set form %}
  {% include "@bolt/form.twig" with {
    children: formInputs
  } only %}
{% endset %}

{% set form_card %}
  {% embed "@bolt-components-card/card.twig" with {
    theme: "xlight",
  } %}
    {% block card_body %}
      {{ form }}
    {% endblock %}

    {% block card_footer %}{% endblock %}
  {% endembed %}
{% endset %}

{% set band_bg %}
  <div class="c-background-video">
    <div class="c-background-video__inner">
      {% include "@bolt/video.twig" with {
        "videoId": "5780495299001",
        "accountId": "1900410236",
        "playerId": "r1CAdLzTW",
        "autoplay": true,
        "loop": true,
        "controls": false
      } only %}
    </div>
  </div>
{% endset %}

{% embed "@bolt/band.twig" with {
  size: "large",
  theme: "none",
  attributes: {
    "style": [
      "min-height: 65vmin"
    ]
  },
  background: {
    opacity: "medium",
    fill: "gradient",
    focalPoint: {
      vertical: "center",
      horizontal: "center"
    },
    contentItems: [
      {
        pattern: "image",
        src: "/images/content/backgrounds/background-short-1.jpg",
        lazyload: false
      }
    ]
  },
} %}

  {% block band_background %}
    <bolt-parallax class="c-background-video__image" data-rellax-zindex="-1" data-rellax-speed="-4" data-rellax-percentage="0.5">
      {{ band_bg }}
      {{ parent() }}
    </bolt-parallax>
  {% endblock %}

  {% block band_content %}
    {# {% include "@bolt/headline.twig" with {
      text: "What's Trending",
      size: "xlarge",
      tag: "h3"
    } only %}
    {% include "@bolt/button.twig" with {
      text: "Toggle video",
      attributes: {
        "on-click": "toggle",
        "on-click-target": "js-video-bg-test-1"
      }
    } only %} #}

    {# <script>
      var rellax = new Rellax('bolt-parallax', {
        speed: -2,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false
      });
    </script> #}

    <style>
      bolt-parallax {
        display: block;
      }

      body {
        min-height: 4000px;
      }

      .c-background-video {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
      }

      .c-background-video__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin-top: -3rem;
      }

      .c-background-video__image bolt-image {
        display: none;
      }

      .c-background-video__inner {
        justify-self: center;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
        flex-shrink: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      @media screen and (orientation: landscape){
        .c-background-video__inner {
          flex-basis: 150vh;
        }
      }

      @media screen and (orientation: portrait){
        .c-background-video__inner {
          flex-basis: 200vh;
        }
      }

      .c-reorderable-form-field--first {
        order: 1;
      }

      .c-reorderable-form-field--second {
        order: 2;
      }

      .c-reorderable-form-field--third {
        order: 3;
      }

      .c-reorderable-form-field--fourth {
        order: 4;
      }

      .c-reorderable-form-field--fifth {
        order: 5;
      }

      @media screen and (min-width: 37.5em){
        .c-reorderable-form-field--second\@small {
          order: 2;
        }
      }
    </style>
    
    <bolt-parallax data-rellax-speed="3" data-rellax-zindex="2" style="margin-top: 25vmin;">
      <div class="u-bolt-flex u-bolt-margin-auto" style="justify-content: center; align-items: center; max-width: 800px;">
        {{ form_card }}
      </div>
    </bolt-parallax>
    
    

    
    
    {{ parent() }}
  {% endblock band_content %}
{% endembed %}

{% include "@bolt-components-band/band--card-collection.twig" with {
  attributes: {
    "style": [
      "margin-top: -8rem"
    ]
  },
  theme: "none",
  size: "medium",
  contentItems: [
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "/images/content/thumbnail-forrester-prevcard.jpg"
        },
        {
          pattern: "headline",
          text: "2017 Forrester Wave Report",
          size: "large",
          tag: "h3"
        },
        {
          pattern: "text",
          text: "Pega cited as a Leader in The Forrester Wave™: Digital Process Automation Software, Q3 2017."
        },
        {
          pattern: "button",
          width: "full",
          text: "Get the report",
          style: "secondary"
        }
      ]
    },
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "/images/placeholders/1200x660.jpg"
        },
        {
          pattern: "teaser",
          headlines: [
            {
              type: "headline",
              text: "Headline #2",
              size: "large"
            }
          ],
          content: "Simplify and automate to reduce costs and improve agility.",
          buttons: [
            {
              text: "Learn More About Pega 7",
              style: "secondary",
              url: "#!"
            }
          ]
        }
      ]
    },
    {
      pattern: "card",
      contentItems: [
        {
          pattern: "image",
          lazyload: false,
          src: "/images/placeholders/1200x660.jpg"
        },
        {
          pattern: "teaser",
          headlines: [
            {
              type: "headline",
              text: "Headline #3",
              size: "large"
            }
          ],
          content: "Simplify and automate to reduce costs and improve agility.",
          buttons: [
            {
              text: "Learn More About Pega 7",
              style: "secondary",
              url: "#!"
            }
          ]
        }
      ]
    }
  ]
} %}
