{% set tags = ["div", "article", "section", "figure"] %} {# Available overall container tags #}
{% set contentTags = ["div", "article", "section", "figcaption"] %} {# Available content container tags #}
{% set themes = ["xlight", "light", "dark", "xdark"] %}
{% set prefix = "c-bolt-" %}

{% set attributes = create_attribute(attributes|default({})) %}

{# Defaults for a vanilla `Card` component #}
{% set componentName = "card" %}
{% set baseClass = prefix ~ componentName %}
{% set theme = theme %}
{% set tag = tag in tags ? tag: "div" %}
{% set contentTag = contentTag in contentTags ? contentTag: "div" %}

{% set classes = [
  baseClass,
  theme in themes ? "t-bolt-" ~ theme : ""
] %}

{% if url %}
  {% set attributes = attributes.setAttribute("href", url) %}
{% endif %}


{% set _card_footer_block = block('card_footer') %}

<bolt-card
  theme="{{ theme }}"
  bolt-component>
  <{{ tag }} {{ attributes.addClass(classes) }}>

    {% if block('card_media') is not empty %}
      <div class="{{ "#{baseClass}__media" }}">{% spaceless %}
        {% block card_media %}
          {%- if items -%}
            {% for item in items if item.name == "image" %}
              {% include "@bolt/" ~ item.name ~ ".twig" with item only %}
            {% endfor %}
          {%- endif -%}
        {% endblock %}
      {% endspaceless %}</div>
    {% endif %}

    
    {% if block('card_body') is not empty %}
    <{{ contentTag }} class="{{ "#{baseClass}__body" }}">{% spaceless %}
      {% block card_body %}
        {%- if items -%}
          {% for item in items if item.name != "image" and item.name != "button" %}
            {% include "@bolt/" ~ item.name ~ ".twig" with item only %}
          {% endfor %}
        {%- endif -%}
      {% endblock card_body %}
    {% endspaceless %}</{{ contentTag }}>
    {% endif %}

    {% if block('card_footer') is not empty %}
      <div class="{{ "#{baseClass}__footer" }}">{% spaceless %}
        {% block card_footer %}
          {%- if items -%}
            {% for item in items if item.name == "button" %}
              <div class="{{ "#{baseClass}__footer-item" }}">
                {% include "@bolt/" ~ item.name ~ ".twig" with item only %}
              </div>
            {% endfor %}
          {%- endif -%}
        {% endblock card_footer %}
      {% endspaceless %}</div>
    {% endif %}

      
      
          
  </{{ tag }}>
</bolt-card>
