<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../../styles/bolt.css?{{ cacheBuster }}" media="all" />
    
    
    <meta name="bolt-javascript-path"  content="/vendor/">

    {# Inline Critical Font-specific CSS automatically #}
    <style>
    {{ inline("_patterns/02-components/bolt-critical-fonts/dist/critical-fonts.css", "/src/") }}
    </style>


    {# Inline Critical JS automatically using references to the file manifest webpack generates #}
    <script>
    {{ inline("scripts/bolt-critical-path.min.js", "/bolt-website/") }}
    </script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }} c-bolt-site">
