<bolt-list separator="solid" spacing="none">
  <bolt-list-item class="t-bolt-light">
    <bolt-list display="flex" inset>
      <bolt-list-item>
        <bolt-list display="inline">
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link url="#">
                Training
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link url="#">
                Support
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link url="#">
                Knowledge Base
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link url="#">
                More
                <bolt-icon name="chevron-down"></bolt-icon>
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
        </bolt-list>
      </bolt-list-item>
      <bolt-list-item>
        <bolt-list display="inline" align="end">
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link>
                Log In
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-text font-size="xsmall">
              <bolt-link>
                Sign Up
              </bolt-link>
            </bolt-text>
          </bolt-list-item>
        </bolt-list>
      </bolt-list-item>
    </bolt-list>
  </bolt-list-item>
  <bolt-list-item class="t-bolt-xlight">
    <bolt-list display="flex" spacing="medium" inset>
      <bolt-list-item>
        <bolt-list display="inline" spacing="large">
          <bolt-list-item>
            <bolt-text headline font-size="xxlarge" text-transform="uppercase">
              Pega
            </bolt-text>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-list display="inline">
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Products
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Solutions
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Customers
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Why Pega?
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Services &amp; Partners
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  Events
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="text" size="xsmall" url="#">
                  About
                </bolt-button>
              </bolt-list-item>
            </bolt-list>
          </bolt-list-item>
        </bolt-list>
      </bolt-list-item>
      <bolt-list-item>
        <bolt-list display="inline" align="end" spacing="small" separator="solid">
          <bolt-list-item>
            <bolt-link url="#">
              <bolt-icon name="search" size="medium"></bolt-icon>
            </bolt-link>
          </bolt-list-item>
          <bolt-list-item>
            <bolt-list display="inline" align="end">
              <bolt-list-item>
                <bolt-button color="secondary" size="small">
                  Log In
                </bolt-button>
              </bolt-list-item>
              <bolt-list-item>
                <bolt-button color="primary" size="small">
                  Sign Up
                </bolt-button>
              </bolt-list-item>
            </bolt-list>
          </bolt-list-item>
      </bolt-list-item>
    </bolt-list>
  </bolt-list-item>

  {% set search_bar %}
    <label class="c-bolt-global-search-bar">
      <span class="c-bolt-global-search-bar__label">Search the Pegasystems website</span>
      <input class="c-bolt-global-search-bar__input" type="search" name="search-bar" placeholder="Enter to search">
      <bolt-button class="c-bolt-global-search-bar__button" color="text" icon-only>
        <bolt-icon name="search" slot="before"></bolt-icon>
      </bolt-button>
    </label>
  {% endset %}

  <bolt-list-item class="t-bolt-dark">
    <bolt-list display="inline" spacing="small" align="center" inset>
      <bolt-list-item>
        {{ search_bar }}
      </bolt-list-item>
    </bolt-list>
  </bolt-list-item>
  <bolt-list-item>
    <bolt-list display="flex" spacing="medium" align="center" inset>
      <bolt-list-item class="t-bolt-xlight">
        {{ search_bar }}
      </bolt-list-item>
      <bolt-list-item class="t-bolt-light">
        {{ search_bar }}
      </bolt-list-item>
      <bolt-list-item class="t-bolt-dark">
        {{ search_bar }}
      </bolt-list-item>
      <bolt-list-item class="t-bolt-xdark">
        {{ search_bar }}
      </bolt-list-item>
    </bolt-list>
  </bolt-list-item>
</bolt-list>
