{% set device_widths =
  [
    {
      "name": "iPhone Portrait",
      "width": 320
    },
    {
      "name": "Galaxy Nexus Portrait",
      "width": 360
    },
    {
      "name": "iPhone 6 Portrait",
      "width": 375
    },
    {
      "name": "iPhone 6 Plus Portrait",
      "width": 414
    },
    {
      "name": "Galaxy Note 3 Portrait",
      "width": 540
    },

    {
      "name": "iPhone Landscape",
      "width": 568
    },
    {
      "name": "Google Nexus 7 Portrait",
      "width": 604
    },
    {
      "name": "Galaxy Nexus Landscape",
      "width": 640
    },
    {
      "name": "iPhone 6 Landscape",
      "width": 667
    },
    {
      "name": "iPhone 6 Plus Landscape",
      "width": 738
    },
    {
      "name": "iPad Portrait",
      "width": 768
    },
    {
      "name": "Galaxy Note 3 Landscape",
      "width": 960
    },
    {
      "name": "Google Nexus 7 Landscape",
      "width": 966
    },
    {
      "name": "iPad Landscape",
      "width": 1024
    },
    {
      "name": "11\" MacBook Air",
      "width": 1366
    },
    {
      "name": "13\" MacBook Air",
      "width": 1440
    },
    {
      "name": "21.5\" iMac",
      "width": 1980
    }
  ]
%}

<div class="sg-breakpoints">
  <ul class="breakpoints">
    {% for key, item in bolt.data.breakpoints %}
      <li style="left: {{item}}">
        <span class="label">{{key}}:<br/>{{item}}</span>
      </li>
    {% endfor %}
  </ul>
  <ul class="device_widths">
    {% for device in device_widths %}
      <li style="width: {{device.width}}px;">
        <span class="label">{{device.name}}: {{device.width}}px</span>
      </li>
    {% endfor %}
  </ul>
</div>

<h4>How to use</h4>

{% set code %}{% verbatim %}.c-component-name {
  // Setting a min (mobile first)
  @include bolt-mq(xsmall) {
    background-color: red;
  }

  // Setting a max (desktop first)
  @include bolt-mq($until: xsmall) {
    background-color: blue;
  }

  // Setting a range (adaptive)
  @include bolt-mq($from: medium, $until: xlarge) {
    background-color: yellow;
  }

  // Setting orientation or other media queries
  @include bolt-mq($from: xlarge, $until: xxxlarge, $and: '(orientation: portrait)') {
    background-color: green;
  }
}
{% endverbatim %}{% endset %}

{% include "@bolt-components-code-snippet/code-snippet.twig" with {
  display: "block",
  lang: "scss",
  content: code
} only %}
