{% set spacing_size_map = bolt.data.spacing.base %}
{% set spacing_multiplier_map = bolt.data.spacing.multipliers %}

{# To make sure these numbers are up to date, make sure to check vars-typography.scss #}
{% set base_pixel = 15 %}
{% set smallbp_pixel = 14 %}
{% set largebp_pixel = 16 %}

{% set content %}
  <bolt-stack spacing="large">
    <bolt-text headline font-size="xxxlarge" tag="h1">
      Spacing Tokens
    </bolt-text>
    <bolt-text subheadline font-size="xxlarge" tag="h2">
      Design tokens for Bolt&rsquo;s spacing system, available as CSS custom properties.
    </bolt-text>
  </bolt-stack>

  <bolt-tabs label-spacing="medium" panel-spacing="medium" inset="off">
    {# Tokens table #}
    {% for size_name, size_value in spacing_size_map %}
      {% if size_name == "x" %}
        {% set type = "Horizontal" %}
      {% else %}
        {% set type = "Vertical" %}
      {% endif %}

      <bolt-tab-panel>
        <bolt-text slot="label">{{ type|capitalize }}</bolt-text>
        <bolt-table>
          <table>
            <thead>
              <tr>
                <td></td>
                <th>CSS custom property</th>
                <th>Value in rem</th>
                <th>Value in px (at 1400px viewport)*</th>
              </tr>
            </thead>
            <tbody>
              {% for multiplier_name, multiplier_value in spacing_multiplier_map %}
                <tr>
                  <th>{{ multiplier_name }}</th>
                  <td>var(--bolt-spacing-{{ size_name }}-{{ multiplier_name }})</td>
                  <td>{{ size_value|number_format(2,".",",") * multiplier_value|number_format(2,".",",") ~ "rem" }}</td>
                  <td>
                    <bolt-tooltip>
                      {{ (size_value * multiplier_value * base_pixel)|round(0, "ceil") ~ "px" }}
                      <span slot="content">scales from {{ (size_value * multiplier_value * smallbp_pixel)|round(0, "ceil") ~ "px" }} to {{ (size_value * multiplier_value * largebp_pixel)|round(0, "ceil") ~ "px" }}</span>
                    </bolt-tooltip>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </bolt-table>
      </bolt-tab-panel>
    {% endfor %}
  </bolt-tabs>

  <bolt-banner align="start">
    *Spacing sizes in Bolt are responsive from 320px viewport to 1920px viewport. <bolt-link url="{{ link['viewall-visual-styles-breakpoints'] }}">View Breakpoint System<bolt-icon name="chevron-right" slot="after"></bolt-icon></bolt-link>
  </bolt-banner>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: content,
  theme: "none",
  size: "large",
} only %}
