{# Sample Usage
#}


{% set prefix = "c-bolt-" %}

{% set themeOptions = [
  "xlight",
  "light",
  "dark",
  "xdark"
] %}

{% set vspacingOptions = [
  "xsmall",
  "small"
] %}

{% set Attributes = create_attribute(attributes|default({})) %}


{% set componentName = "navbar" %}
{% set baseClass = prefix ~ componentName %}


{% set theme = theme == false and theme is not null ? "false" : theme | default("dark") %}
{% set gradient = gradient == false and gradient is not null ? "false" : "true" | default("true") %}
{% set vspacing = vspacing == false and vspacing is not null ? "false" : vspacing | default("xsmall") %}


{% set Classes = [
  baseClass
] %}

<bolt-{{ componentName }} bolt-component>

  {% embed "@bolt/band.twig" with {
    size: vspacing,
    theme: theme,
    fullBleed: true
  } %}

    {% block band_background %}
      {% if gradient == "true" %}
        {% include "@bolt/background.twig" with {
          "opacity": "light",
          "fill": "gradient",
          "focalPoint":
          {
            "vertical": "center",
            "horizontal": "left"
          }
        } only %}
      {% endif %}
    {% endblock band_background %}

    {% block band_content %}
      <nav class="c-bolt-navbar">
        <div class="c-bolt-navbar__title">
          <div class="c-bolt-navbar__title-item">
            {% include "@bolt/icon.twig" with {
              "name": title.icon.name,
              "size": "large"
            } only %}
          </div>
          <div class="c-bolt-navbar__title-item">
            {% include "@bolt/text.twig" with {
              "size": "large",
              "weight": "semibold",
              "tag": "h1",
              "text": title.text
            } only %}
          </div>
        </div>
        <div class="c-bolt-navbar__nav">
          <ul class="c-bolt-nav-list {{ "c-bolt-nav-list--#{vspacing}" }}">
            {% for item in links %}
              <li class="c-bolt-nav-list__item">
                <a class="c-bolt-nav-list__item-link" href="#{{ item.url }}" name="{{ item.url }}">
                  {{ item.text }}
                </a>
              </li>
            {% endfor %}
            <li class="c-bolt-nav-list__indicator"></li>
          </ul>
        </div>
      </nav>
    {% endblock %}

  {% endembed %}

</bolt-{{ componentName }}>
