{# Sample Usage
  {% include "@bolt/navbar.twig" with {
    "theme": "dark",
    "gradient": true,
    "vspacing": "xsmall",
    "title":
    {
      "tag": "h2",
      "text": "Title Text",
      "icon": {
        "name": "icon-name"
      }
    },
    "links":
    [
      {
        "text": "Link 1 Text",
        "url": "link-1-url"
      },
      {
        "text": "Link 2 Text",
        "url": "link-2-url"
      },
      {
        "text": "Link 3 Text",
        "url": "link-3-url"
      }
    ]
  } only %}
#}


{% set prefix = "c-bolt-" %}

{% set themeOptions = [
  "xlight",
  "light",
  "dark",
  "xdark"
] %}

{% set vspacingOptions = [
  "xsmall",
  "small"
] %}

{% set Attributes = create_attribute(attributes|default({})) %}


{% set componentName = "navbar" %}
{% set baseClass = prefix ~ componentName %}


{% set theme = theme == false and theme is not null ? "false" : theme | default("dark") %}
{% set gradient = gradient == false and gradient is not null ? "false" : "true" | default("true") %}
{% set vspacing = vspacing == false and vspacing is not null ? "false" : vspacing | default("xsmall") %}


{% set Classes = [
  baseClass
] %}

<bolt-{{ componentName }} bolt-component>

  {% embed "@bolt/band.twig" with {
    size: vspacing,
    theme: theme,
    fullBleed: true
  } %}

    {% block band_background %}
      {% if gradient == "true" %}
        {% include "@bolt/background.twig" with {
          "opacity": "light",
          "fill": "gradient",
          "focalPoint":
          {
            "vertical": "center",
            "horizontal": "left"
          }
        } only %}
      {% endif %}
    {% endblock band_background %}

    {% block band_content %}
      <nav class="c-bolt-navbar">
        {% if title %}
          <div class="c-bolt-navbar__title">
            <div class="c-bolt-navbar__title-item">
              {% include "@bolt/icon.twig" with {
                "name": title.icon.name,
                "size": "large"
              } only %}
            </div>
            <div class="c-bolt-navbar__title-item">
              {% include "@bolt/text.twig" with {
                "size": "large",
                "weight": "semibold",
                "tag": title.tag,
                "text": title.text
              } only %}
            </div>
          </div>
        {% endif %}
        <div class="c-bolt-navbar__nav">
          <bolt-nav-list>
            <ul class="c-bolt-nav-list {{ "c-bolt-nav-list--#{vspacing}" }} js-bolt-nav-list">
              {% for item in links %}
                <li class="c-bolt-nav-list__item">
                  <bolt-nav-link>
                    {% set itemAttributes = create_attribute(item.attributes | default({})) %}
                    {% set itemAttributes = itemAttributes.addClass("c-bolt-nav-list__item-link").setAttribute("href", item.url) %}
                    <a {{ itemAttributes }}>
                      {{ item.text }}
                    </a>
                  </bolt-nav-link>
                </li>
              {% endfor %}
              <li class="c-bolt-nav-list__indicator js-bolt-nav-indicator"></li>
            </ul>
          </bolt-nav-list>
        </div>
      </nav>
    {% endblock %}

  {% endembed %}

</bolt-{{ componentName }}>
