{# Icons #}
{% set icon_user %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'user',
  } only %}
{% endset %}
{% set icon_global %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'global',
  } only %}
{% endset %}
{% set icon_menu %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'menu',
  } only %}
{% endset %}

{# Site nav #}
{% set intelligent_automation_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Low-Code Platform',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Intelligent Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Robotic Process Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Case Management &amp; BPM',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set intelligent_automation_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: intelligent_automation_lv4_ul_content,
  } only %}
{% endset %}

{% set customer_engagement_crm_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Marketing &amp; Decisioning',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Customer Service',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Sales',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Onboarding &amp; KYC',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set customer_engagement_crm_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: customer_engagement_crm_lv4_ul_content,
  } only %}
{% endset %}

{% set products_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Intelligent Automation',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: intelligent_automation_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Customer Engagement &amp; CRM',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: customer_engagement_crm_lv4,
  } only %}
{% endset %}

{% set products_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: products_lv3_ul_content,
  } only %}
{% endset %}

{% set capabilities_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'AI-powered Decisioning',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'BPM &amp; Case Management',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Chatbots &amp; Virtual Assistants',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Cloud Services',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'DevOps & Testing',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Low-code App Development',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Robotic Process Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Workforce Intelligence',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set capabilities_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: capabilities_lv3_ul_content,
  } only %}
{% endset %}

{% set my_dashboard_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Products',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: products_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Capabilities',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: capabilities_lv3,
  } only %}

  {% set card %}
    {% set card_body_content %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'CBA: Exceeding customer expectations',
        size: 'large',
        tag: 'p',
      } only %}
    {% endset %}
    {% include '@bolt-components-card-replacement/card-replacement.twig' with {
      link: {
        url: 'https://pega.com',
        text: 'Go to pega.com'
      },
      media: {
        image: {
          src: '/images/placeholders/landscape-16x9-mountains.jpg',
          alt: 'Image alt.',
        },
      },
      body: {
        content: card_body_content,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: card,
  } only %}

  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all products',
      attributes: {
        href: 'https://pega.com',
      }
    },
    full_width: true,
  } only %}
{% endset %}

{% set my_dashboard_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: my_dashboard_lv2_ul_content,
  } only %}
{% endset %}

{% set learn_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'documentation placeholder',
      attributes: {
        href: 'https://pega.com',
      }
    },
  } only %}
{% endset %}
{% set learn_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: learn_lv2_ul_content,
  } only %}
{% endset %}

{% set certification_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'training placeholder',
      attributes: {
        href: 'https://pega.com',
      }
    },
  } only %}
{% endset %}
{% set certification_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: certification_lv2_ul_content,
  } only %}
{% endset %}

{% set about_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'collaborate placeholder',
      attributes: {
        href: 'https://pega.com',
      }
    },
  } only %}
{% endset %}
{% set about_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: about_lv2_ul_content,
  } only %}
{% endset %}

{% set site_nav_lv1_list_items = [
  {
    link: {
      content: 'My Dashboard',
    },
    children: my_dashboard_lv2,
  },
  {
    link: {
      content: 'Learn',
    },
    children: learn_lv2,
  },
  {
    link: {
      content: 'Certifications',
    },
    children: certification_lv2,
  },
  {
    link: {
      content: 'About',
    },
    children: about_lv2,
  },
] %}

{% set site_nav_lv1_ul_content = [] %}
{% for list_item in site_nav_lv1_list_items %}
  {% set site_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv1_ul_content = site_nav_lv1_ul_content|merge([site_nav_lv1_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv1_ul_content|join,
    category: 'site',
  } only %}
{% endset %}

{# User nav #}
{% set user_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Log in',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Sign up',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set user_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_nav_lv1_ul_content,
    category: 'user',
  } only %}
{% endset %}

{# Related sites nav #}
{% set more_pega_sites_nav_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'PegaWorld',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Blog',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Cosmos',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Find a Partner',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Consulting',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Careers',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set more_pega_sites_nav_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: more_pega_sites_nav_lv3_ul_content,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega.com',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Community',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Collaboration Center',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: icon_menu ~ 'More Pega Sites',
    },
    children: more_pega_sites_nav_lv3,
    popover: true,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: pega_sites_nav_lv2_ul_content,
  } only %}
{% endset %}

{% set related_sites_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Sites',
    },
    children: pega_sites_nav_lv2,
  } only %}
{% endset %}

{% set related_sites_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: related_sites_nav_lv1_ul_content,
    category: 'related-sites',
  } only %}
{% endset %}

{# Put all the navs together #}
{% set primary_nav %}
  {% set primary_nav_content %}
    {{ user_nav }}
    {{ site_nav }}
    {{ related_sites_nav }}
  {% endset %}

  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    content: primary_nav_content,
  } only %}
{% endset %}

{# Search Panel #}
{% set search_panel_content %}
  <bolt-stack spacing="small">
    <form>
      {% include '@bolt-components-typeahead/typeahead.demo.twig' only %}
    </form>
  </bolt-stack>
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Placeholder for helper text.',
    size: 'small',
    align: 'center',
    icon: {
      name: 'info-open',
      position: 'before',
    }
  } only %}
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    content: search_panel_content,
  } only %}
{% endset %}

{# Page Header #}
{% set page_header_content %}
  {{ search_panel }}
  {{ primary_nav }}
{% endset %}

{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo-acd.svg',
    label: 'Pega Academy',
    attributes: {
      href: 'https://academy.pega.com',
    }
  },
  content: page_header_content,
} only %}
