{# Icons #}
{% set icon_user %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'user',
  } only %}
{% endset %}
{% set icon_global %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'globe',
  } only %}
{% endset %}
{% set icon_menu %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'menu',
  } only %}
{% endset %}

{# Site nav #}
{% set placeholder_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://google.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
{% endset %}
{% set placeholder_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv4_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      desktop_heading: true,
      attributes: {
        href: 'https://google.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all placeholders',
      attributes: {
        href: 'https://google.com/',
      },
    },
    view_all: true,
  } only %}
{% endset %}
{% set placeholder_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv3_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://google.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://google.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://google.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all',
      attributes: {
        href: 'https://google.com',
      }
    },
    view_all: true,
    full_width: true,
  } only %}
{% endset %}
{% set placeholder_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv2_ul_content,
  } only %}
{% endset %}

{% set site_nav_lv1_list_items = [
  {
    link: {
      content: 'My Dashboard',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Learn',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Certifications',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'About',
    },
    children: placeholder_lv2,
  },
] %}

{% set site_nav_lv1_ul_content = [] %}
{% for list_item in site_nav_lv1_list_items %}
  {% set site_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv1_ul_content = site_nav_lv1_ul_content|merge([site_nav_lv1_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv1_ul_content|join,
    category: 'site',
  } only %}
{% endset %}

{# User nav #}
{% set user_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Log in',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Sign up',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
{% endset %}

{% set user_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_nav_lv1_ul_content,
    category: 'user',
  } only %}
{% endset %}

{# Related sites nav #}
{% set more_pega_sites_nav_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'PegaWorld',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Blog',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Cosmos',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Find a Partner',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Consulting',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Careers',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
{% endset %}

{% set more_pega_sites_nav_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: more_pega_sites_nav_lv3_ul_content,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'google.com',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Community',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Collaboration Center',
      attributes: {
        href: 'https://google.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: icon_menu ~ 'More' ~ ' <span class="u-bolt-visuallyhidden">Pega Sites</span>',
    },
    children: more_pega_sites_nav_lv3,
    popover: true,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: pega_sites_nav_lv2_ul_content,
  } only %}
{% endset %}

{% set related_sites_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Sites',
    },
    children: pega_sites_nav_lv2,
  } only %}
{% endset %}

{% set related_sites_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: related_sites_nav_lv1_ul_content,
    category: 'related-sites',
  } only %}
{% endset %}

{# Put all the navs together #}
{% set primary_nav %}
  {% set primary_nav_content %}
    {{ site_nav }}
    {{ related_sites_nav }}
    {{ user_nav }}
  {% endset %}

  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    content: primary_nav_content,
  } only %}
{% endset %}

{# Search Panel #}
{% set search_panel_content %}
  <bolt-stack spacing="small">
    <form>
      {% include '@bolt-components-typeahead/typeahead.demo.twig' only %}
    </form>
  </bolt-stack>
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Placeholder for helper text.',
    size: 'small',
    align: 'center',
    icon: {
      name: 'info-open',
      position: 'before',
    }
  } only %}
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    content: search_panel_content,
  } only %}
{% endset %}

{# Page Header #}
{% set page_header_content %}
  {{ search_panel }}
  {{ primary_nav }}
{% endset %}

{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo-acd.svg',
    label: 'Pega Academy',
    attributes: {
      href: 'https://google.com',
    }
  },
  content: page_header_content,
} only %}
