{# Images #}
{% set user_avatar %}
  <img src="/images/docs/500x500.jpg" alt="CEO Alan" width=16 height=16>
{% endset %}

{# Icons #}
{% set icon_contact %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pega-chat-question',
  } only %}
{% endset %}
{% set icon_network %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pega-network',
  } only %}
{% endset %}
{% set icon_grid %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'grid',
  } only %}
{% endset %}
{% set icon_bell_solid %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'bell-solid',
  } only %}
{% endset %}

{# Site nav #}
{% set demos_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Product Demo Videos',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Low-code Live Workshops',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Platform Trial',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set demos_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: demos_lv3_ul_content,
  } only %}
{% endset %}

{% set capabilities_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'BPM &amp; Case Management',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Chatbots &amp; Virtual Assistants',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'DevOps & Testing',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Real-time Intelligence',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Robotic Process Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'UX Design',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Workforce Intelligence',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set capabilities_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: capabilities_lv3_ul_content,
  } only %}
{% endset %}

{% set explore_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Platform Overview',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Low-code App Development',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Center-out Business Architecture',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Security &amp; Compliance',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Cloud Services',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Upgrade Center',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Latest release: 8.5',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set explore_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: explore_lv3_ul_content,
  } only %}
{% endset %}

{% set platform_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Explore Pega Platform',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: explore_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Capabilities',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: capabilities_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Demos &amp; Trials',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: demos_lv3,
  } only %}
{% endset %}

{% set platform_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: platform_lv2_ul_content,
  } only %}
{% endset %}

{% set intelligent_automation_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Low-Code Platform',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Intelligent Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Robotic Process Automation',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Case Management &amp; BPM',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set intelligent_automation_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: intelligent_automation_lv4_ul_content,
  } only %}
{% endset %}

{% set customer_engagement_crm_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Marketing &amp; Decisioning',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Customer Service',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Sales',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'For Onboarding &amp; KYC',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set customer_engagement_crm_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: customer_engagement_crm_lv4_ul_content,
  } only %}
{% endset %}

{% set products_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Intelligent Automation',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: intelligent_automation_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Customer Engagement &amp; CRM',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: customer_engagement_crm_lv4,
  } only %}
{% endset %}

{% set products_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: products_lv3_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set placeholder_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv4_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all placeholders',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    view_all: true,
  } only %}
{% endset %}
{% set placeholder_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv3_ul_content,
  } only %}
{% endset %}

{% set solutions_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Products',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: products_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}

  {% set card %}
    {% set card_body_content %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Placeholder Card',
        size: 'large',
        tag: 'p',
        icon: {
          name: 'chevron-right',
          position: 'after',
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-card-replacement/card-replacement.twig' with {
      link: {
        url: 'https://pega.com',
        text: 'Go to pega.com'
      },
      media: {
        image: {
          src: '/images/placeholders/landscape-16x9-mountains.jpg',
          alt: 'Image alt.',
        },
      },
      body: {
        content: card_body_content,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: card,
  } only %}

  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all solutions',
      attributes: {
        href: 'https://pega.com',
      }
    },
    view_all: true,
    full_width: true,
  } only %}
{% endset %}
{% set solutions_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: solutions_lv2_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all',
      attributes: {
        href: 'https://pega.com',
      }
    },
    view_all: true,
    full_width: true,
  } only %}
{% endset %}
{% set placeholder_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv2_ul_content,
  } only %}
{% endset %}

{% set flat_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Flat Level 2',
      attributes: {
        href: 'https://pega.com',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Flat Level 2',
      attributes: {
        href: 'https://pega.com',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Flat Level 2',
      attributes: {
        href: 'https://pega.com',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all',
      attributes: {
        href: 'https://pega.com',
      }
    },
    view_all: true,
  } only %}
{% endset %}
{% set flat_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: flat_lv2_ul_content,
  } only %}
{% endset %}

{% set site_nav_lv1_list_items = [
  {
    link: {
      content: 'Platform',
    },
    children: platform_lv2,
  },
  {
    link: {
      content: 'Solutions',
    },
    children: solutions_lv2,
  },
  {
    link: {
      content: 'Customers',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Why Pega?',
    },
    children: flat_lv2,
    flat: true,
  },
  {
    link: {
      content: 'Services &amp; Partners',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Events',
    },
    children: flat_lv2,
    flat: true,
  },
  {
    link: {
      content: 'About',
    },
    children: placeholder_lv2,
  },
] %}

{% set site_nav_lv1_ul_content = [] %}
{% for list_item in site_nav_lv1_list_items %}
  {% set site_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv1_ul_content = site_nav_lv1_ul_content|merge([site_nav_lv1_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv1_ul_content|join,
    category: 'site',
  } only %}
{% endset %}

{# User nav #}
{% set notifications_popover_lv2_ul_content %}
  {% set placeholder_item %}
    <li class="c-base-notifications__list-item">
      <div class="c-base-notifications__signifier">
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'info-circle',
          size: 'medium',
        } only %}
      </div>
      <div class="c-base-notifications__content">
        <div class="c-base-notifications__content__eyebrow">
          Site Name
        </div>
        <div class="c-base-notifications__content__timestamp">
          2 days ago
        </div>
        <a href="https://pega.com" class="c-base-notifications__content__message">
          The notificatoin message goes here. It may have <span class="c-base-notifications__content__message__callout">1 callout that looks like a link</span>, but the entire row is clickable and points to a single link.
        </a>
      </div>
    </li>
  {% endset %}
  {% set placeholder_item_read %}
    <li class="c-base-notifications__list-item c-base-notifications__list-item--read">
      <div class="c-base-notifications__signifier">
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'info-circle',
          size: 'medium',
        } only %}
      </div>
      <div class="c-base-notifications__content">
        <div class="c-base-notifications__content__eyebrow">
          Site Name
        </div>
        <div class="c-base-notifications__content__timestamp">
          2 days ago
        </div>
        <a href="https://pega.com" class="c-base-notifications__content__message">
          Each message can have a read or unread state. This one is read.
        </a>
      </div>
    </li>
  {% endset %}
  
  <div class="c-base-notifications">
    <header class="c-base-notifications__header">
      <div class="c-base-notifications__header__switch">
        {% include '@bolt-components-switch-button/switch-button.twig' with {
          label: 'Only show unread notifications',
          attributes: {
            class: 'js-target-page-header-notifications-unread-switch'
          },
        } only %}
        <script>
          const switchButton = document.querySelector(
            '.js-target-page-header-notifications-unread-switch button[role="switch"]',
          );

          switchButton.addEventListener('click', e => {
            const el = e.target;
            const isChecked = el.getAttribute('aria-checked') === 'true';

            el.setAttribute('aria-checked', isChecked ? false : true);
          });
        </script>
      </div>
      <div class="c-base-notifications__header__actions">
        {% set icon_check_circle %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'check-circle',
            size: 'medium',
          } only %}
        {% endset %}
        {% set tooltip_trigger %}
          <button class="c-base-notifications__header__action-button" type="button">
            {{ icon_check_circle }}
            <span class="c-base-notifications__header__action-button__text">Mark all as read</span>
          </button>
        {% endset %}
        {% include '@bolt-components-tooltip/tooltip.twig' with {
          trigger: tooltip_trigger,
          content: 'Mark all as read',
        } only %}

        {% set icon_pega_setting %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-setting',
            size: 'medium',
          } only %}
        {% endset %}
        {% set tooltip_trigger %}
          <a class="c-base-notifications__header__action-button" href="https://pega.com">
            {{ icon_pega_setting }}
            <span class="c-base-notifications__header__action-button__text">Notification Settings</span>
          </a>
        {% endset %}
        {% include '@bolt-components-tooltip/tooltip.twig' with {
          trigger: tooltip_trigger,
          content: 'Notification Settings',
        } only %}
      </div>
    </header>
    <ul class="c-base-notifications__list">
      <li class="c-base-notifications__list-item c-base-notifications__list-item--section-heading">
        <strong>Latest</strong>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-announce',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__content__eyebrow">
            Pega.com
          </div>
          <div class="c-base-notifications__content__timestamp">
            1 minute ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__content__message">
             <span class="c-base-notifications__content__message__callout">New Gartner CRM CEC Magic Quadrant analyst report</span> is published.
          </a>
        </div>
      </li>
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-thumbs-up',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__content__eyebrow">
            Collaboration Center
          </div>
          <div class="c-base-notifications__content__timestamp">
            2 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__content__message">
            Aneesh Borah, Matt Alley and 2 others liked your idea, <span class="c-base-notifications__content__message__callout">Multi-datacenter setup in 8.6.1 with two Openshift clusters</span>.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'info-circle',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__content__eyebrow">
            Community
          </div>
          <div class="c-base-notifications__content__timestamp">
            5 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__content__message">
            There will be a site-wide maintenance scheduled for Wednesday, September 15, 2021 from 1&ndash;4PM EST.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'info-circle',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__content__eyebrow">
            Academy
          </div>
          <div class="c-base-notifications__content__timestamp">
            6 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__content__message">
            A mission you follow has been updated: <span class="c-base-notifications__content__message__callout">Pega Robotic Automation</span>.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item c-base-notifications__list-item--section-heading">
        <strong>Earlier</strong>
      </li>
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
    </ul>
    <footer class="c-base-notifications__footer">
      <a href="https://pega.com" class="e-bolt-text-link e-bolt-text-link--reversed-underline e-bolt-text-link--expand-click-target">View all notificatoins</a>
    </footer>
  </div>
{% endset %}

{% set notifications_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: notifications_popover_lv2_ul_content,
    popover_position: 'edge-end',
    attributes: {
      style: '--c-bolt-page-header-desktop-popover-width: 25rem',
    }
  } only %}
{% endset %}

{% set user_flag %}
  <div class="c-bolt-page-header__user-flag">
    <img src="/images/docs/500x500.jpg" alt="CEO Alan" class="c-bolt-page-header__user-flag__img">
    <div class="c-bolt-page-header__user-flag__content">
      {% include '@bolt-components-headline/eyebrow.twig' with {
        text: 'Hello',
        tag: 'p',
      } only %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Alan',
        size: 'large',
        tag: 'p',
      } only %}
    </div>
  </div>
{% endset %}

{% set user_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: user_flag,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'My Pega',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'My Profile',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Notification Settings',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Log Out',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set user_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set language_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: '<span class="u-bolt-visuallyhidden">Site language: </span>' ~ 'English',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    selected: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Français',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Deutsch',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Italiano',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: '日本語',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Português',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Español',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Set your preferred language',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set language_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: language_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set contact_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'US: 1-888-PEGA-NOW',
      attributes: {
        href: 'tel: 1-888-PEGA-NOW',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'UK: +44 118 965 1600',
      attributes: {
        href: 'tel: +44 118 965 1600',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'DACH: +49 (0) 89 540320',
      attributes: {
        href: 'tel: +49 (0) 89 540320',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'AU: +61 2 9581 7000',
      attributes: {
        href: 'tel: +61 2 9581 7000',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'More Contact Info',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set contact_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: contact_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set user_nav_lv1_ul_content %}
  {% set user_settings_label %}
    <span aria-hidden="true">Hello Alan</span> <span class="u-bolt-visuallyhidden">User settings</span>
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: user_settings_label,
      signifier_before: user_avatar,
    },
    children: user_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Notifications',
      signifier_only: icon_bell_solid,
      counter: true,
    },
    children: notifications_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Language',
      signifier_only: icon_network,
    },
    children: language_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Contact',
      signifier_only: icon_contact,
    },
    children: contact_popover_lv2,
    popover: true,
  } only %}
{% endset %}

{% set user_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_nav_lv1_ul_content,
    category: 'user',
  } only %}
{% endset %}

{# Related sites nav #}
{% set pega_sites_nav_lv2_ul_content %}
  {% set more_pega_sites_www %}
    {% set site_signifier %}
      <img src="https://via.placeholder.com/100x100" alt="" width=35 height=35 class="u-bolt-block u-bolt-border-radius-full">
    {% endset %}
    {% set pega_sites_teaser_pega %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_pega %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Pega.com',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_pega,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Site description goes here',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_pegaworld %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_pegaworld %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'PegaWorld',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_pegaworld,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Site description goes here',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_partner %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_partner %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Partner Portal',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_partner,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Site description goes here',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_pegahub %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_pegahub %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'PegaHub',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_pegahub,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Site description goes here',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_cosmos %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_cosmos %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Pega Cosmos Design System',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_cosmos,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Library of UX/UI templates, patterns and components for building enterprise applications',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_community %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_community %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Pega Community',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_community,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Site description goes here',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_documentation %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_documentation %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Documentation',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_documentation,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Find product guides and reference docs',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: '',
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_academy %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_academy %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Academy',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_academy,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Complete missions, earn badges, and stay current',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: '',
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_forums %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_forums %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Forums',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_forums,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Ask questions and help other Pega professionals',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: '',
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_marketplace %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_marketplace %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Marketplace',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_marketplace,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Extend Pega with components and apps',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: '',
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_design_pattern %}
      {% set layout_content %}
        {% set site_name %}
          <bolt-stack spacing="xxsmall">
            {% set site_name_design_pattern %}
              {% include '@bolt-elements-text-link/text-link.twig' with {
                content: 'Design Pattern Library',
                reversed_underline: true,
                icon_after: icon_chevron_right,
                attributes: {
                  href: 'https://pega.com',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-headline/headline.twig' with {
              text: site_name_design_pattern,
              tag: 'p',
              size: 'xsmall',
            } only %}
          </bolt-stack>
          <bolt-stack>
            {% include '@bolt-components-headline/text.twig' with {
              text: 'Explore common implementation patterns',
              tag: 'p',
              size: 'small',
            } only %}
          </bolt-stack>
        {% endset %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_signifier,
        } only %}
        {% include '@bolt-layouts-layout/layout-item.twig' with {
          content: site_name,
        } only %}
      {% endset %}
      {% include '@bolt-layouts-layout/layout.twig' with {
        template: [
          'flag'
        ],
        valign_items: 'start',
        gutter: 'small',
        content: layout_content,
        attributes: {
          style: '--l-bolt-layout-flag-media-width: 35px;',
        },
      } only %}
    {% endset %}
    {% set pega_sites_teaser_list_1 %}
      {% include '@bolt-components-list/list.twig' with {
        items: [
          pega_sites_teaser_pega,
          pega_sites_teaser_pegaworld,
          pega_sites_teaser_partner,
          pega_sites_teaser_pegahub,
          pega_sites_teaser_cosmos,
        ],
        spacing: 'small',
      } only %}
    {% endset %}
    {% set pega_sites_teaser_list_2 %}
      {% include '@bolt-components-list/list.twig' with {
        items: [
          pega_sites_teaser_community,
          pega_sites_teaser_documentation,
          pega_sites_teaser_academy,
          pega_sites_teaser_forums,
          pega_sites_teaser_marketplace,
          pega_sites_teaser_design_pattern,
        ],
        spacing: 'small',
      } only %}
    {% endset %}

    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_list_1,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_list_2,
      } only %}
    {% endset %}
    
    {% include '@bolt-layouts-layout/layout.twig' with {
      template: [
        'tiles'
      ],
      content: layout_content,
      attributes: {
        style: '--l-bolt-layout-tile-min-width: 14rem',
      }
    } only %}

    <hr class="u-bolt-margin-bottom-small">

    {% set pega_sites_teaser_support %}
      {% set support_link %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Support',
          reversed_underline: true,
          icon_after: icon_chevron_right,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: support_link,
        tag: 'p',
        size: 'xsmall',
        align: 'center',
      } only %}
    {% endset %}

    {% set pega_sites_teaser_careers %}
      {% set careers_link %}
        {% include '@bolt-elements-text-link/text-link.twig' with {
          content: 'Careers',
          reversed_underline: true,
          icon_after: icon_chevron_right,
          attributes: {
            href: 'https://pega.com',
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: careers_link,
        tag: 'p',
        size: 'xsmall',
        align: 'center',
      } only %}
    {% endset %}

    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_support,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_careers,
      } only %}
    {% endset %}
    
    {% include '@bolt-layouts-layout/layout.twig' with {
      template: [
        'tiles'
      ],
      content: layout_content,
    } only %}
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: more_pega_sites_www,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: pega_sites_nav_lv2_ul_content,
    popover_position: 'edge-start',
    attributes: {
      style: '--c-bolt-page-header-desktop-popover-width: max(58rem, 40vw)',
    }
  } only %}
{% endset %}

{% set related_sites_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Sites',
      signifier_before: icon_grid,
    },
    children: pega_sites_nav_lv2,
    popover: true,
  } only %}
{% endset %}

{% set related_sites_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: related_sites_nav_lv1_ul_content,
    category: 'related-sites',
  } only %}
{% endset %}

{# Put all the navs together #}
{% set primary_nav %}
  {% set primary_nav_content %}
    {{ site_nav }}
    {{ related_sites_nav }}
    {{ user_nav }}
  {% endset %}

  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    content: primary_nav_content,
  } only %}
{% endset %}

{# Search Panel #}
{% set search_panel_content %}
  <bolt-stack spacing="small">
    <form>
      {% include '@bolt-components-typeahead/typeahead.twig' with {
        input_placeholder: 'Search pega.com',
      } only %}
    </form>
  </bolt-stack>
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Placeholder for helper text.',
    size: 'small',
    align: 'center',
    icon: {
      name: 'info-open',
      position: 'before',
    }
  } only %}
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    content: search_panel_content,
  } only %}
{% endset %}

{# Secondary Nav #}
{% set secondary_nav %}
  {% set navbar_data = [
    {
      link: {
        content: 'Real-Time AI',
        attributes: {
          href: '#!'
        }
      }
    },
    {
      link: {
        content: 'End-to-end Automation',
        attributes: {
          href: '#!'
        }
      }
    },
    {
      link: {
        content: 'Journey-centric Delivery',
        attributes: {
          href: '#!'
        }
      }
    },
    {
      link: {
        content: 'Low Code',
        attributes: {
          href: '#!'
        }
      }
    },
    {
      link: {
        content: 'Multi-dimensional Power Long Title',
        attributes: {
          href: '#!'
        }
      }
    },
    {
      link: {
        content: 'Cloud Choice',
        attributes: {
          href: '#!'
        }
      }
    }
  ] %}

  {% set navbar_items %}
    {% for item in navbar_data %}
      {% include '@bolt-components-navbar/navbar-li.twig' with item only %}  
    {% endfor %}
  {% endset %}

  {% set navbar_list %}
    {% include '@bolt-components-navbar/navbar-ul.twig' with { content: navbar_items } only %}  
  {% endset %}

  {% include '@bolt-components-navbar/navbar.twig' with {
    title: {
      content: 'Subnav',
      tag: 'h1',
      icon: {
        name: 'marketing-gray'
      }
    },
    links: navbar_list
  } only %}
{% endset %}

{# Page Header #}
{% set page_header_content %}
  {{ search_panel }}
  {{ primary_nav }}
{% endset %}

{% set cta %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Try Pega',
    display: 'block',
    size: 'small',
    attributes: {
      href: 'https://pega.com/products/try-now',
      target: '_blank',
    }
  } only %}
{% endset %}

{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo.svg',
    label: 'Pegasystems',
    attributes: {
      href: 'https://pega.com',
    }
  },
  content: page_header_content,
  cta: cta,
  secondary_content: secondary_nav,
} only %}
