{# This is used for PL demos, do not rename or remove. #}

{# Images #}
{% set user_avatar %}
  <img src="/images/docs/500x500.jpg" alt="CEO Alan" width=16 height=16>
{% endset %}

{# Icons #}
{% set icon_phone_call %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pega-phone-call',
  } only %}
{% endset %}
{% set icon_grid %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'grid',
  } only %}
{% endset %}
{% set icon_network %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pega-network',
  } only %}
{% endset %}
{% set icon_bell_solid %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'bell-solid',
  } only %}
{% endset %}
{% set icon_academy %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'certification',
  } only %}
{% endset %}
{% set icon_academy_shape %}
  {% include '@bolt-elements-shape/shape.twig' with {
    content: icon_academy,
    size: 'small',
    attributes: {
      class: 't-bolt-yellow'
    }
  } only %}
{% endset %}

{# Site nav #}
{% set placeholder_lv4_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 4',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}
{% set placeholder_lv4 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv4_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv3_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com/',
      },
    },
    children: placeholder_lv4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 3',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all placeholders',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    view_all: true,
  } only %}
{% endset %}
{% set placeholder_lv3 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv3_ul_content,
  } only %}
{% endset %}

{% set placeholder_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Placeholder Level 2',
      desktop_heading: true,
      attributes: {
        href: 'https://pega.com',
      },
    },
    children: placeholder_lv3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'View all',
      attributes: {
        href: 'https://pega.com',
      }
    },
    view_all: true,
    full_width: true,
  } only %}
{% endset %}
{% set placeholder_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: placeholder_lv2_ul_content,
  } only %}
{% endset %}

{% set site_nav_lv1_list_items = [
  {
    link: {
      content: 'Get Started',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Training',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Documentation',
    },
    children: placeholder_lv2,
    current: true,
  },
  {
    link: {
      content: 'Forums',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Content Hubs',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Support',
    },
    children: placeholder_lv2,
  },
  {
    link: {
      content: 'Marketplace',
    },
    children: placeholder_lv2,
  },
] %}

{% set site_nav_lv1_ul_content = [] %}
{% for list_item in site_nav_lv1_list_items %}
  {% set site_nav_lv1_li %}
    {% include '@bolt-components-page-header/page-header-nav-li.twig' with list_item only %}
  {% endset %}
  {% set site_nav_lv1_ul_content = site_nav_lv1_ul_content|merge([site_nav_lv1_li]) %}
{% endfor %}

{% set site_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: site_nav_lv1_ul_content|join,
    category: 'site',
  } only %}
{% endset %}

{# User nav #}
{% set notification_1 %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    headline: {
      text: 'You registered for PegaWorld 2022',
      tag: 'p',
      size: 'xsmall',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    meta_items: [
      'Jun 9, 2021',
    ],
  } only %}
{% endset %}
{% set notification_2 %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    headline: {
      text: 'Joe Smith answered your question',
      tag: 'p',
      size: 'xsmall',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    meta_items: [
      'Apr 9, 2020',
    ],
    reply: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus esse placeat tempore, odio...',
  } only %}
{% endset %}
{% set notification_3 %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    headline: {
      text: 'Amy Smart replied to your comment',
      tag: 'p',
      size: 'xsmall',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    meta_items: [
      'Apr 8, 2020',
    ],
    reply: 'Dignissimos qui deserunt, delectus incidunt cupiditate saepe soluta nisi architecto at...',
  } only %}
{% endset %}
{% set notification_4 %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    headline: {
      text: 'You have earned the Awesome badge!',
      tag: 'p',
      size: 'xsmall',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    meta_items: [
      'Apr 7, 2020',
    ],
  } only %}
{% endset %}
{% set notification_5 %}
  {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
    headline: {
      text: 'New Gartner CRM CEC Magic Quadrant analyst report published',
      tag: 'p',
      size: 'xsmall',
      link_attributes: {
        href: 'https://pega.com',
      },
    },
    meta_items: [
      'Jan 23, 2020',
    ],
  } only %}
{% endset %}

{% set notifications_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: notification_1,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: notification_2,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: notification_3,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: notification_4,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: notification_5,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Go to Notification Center',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set notifications_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: notifications_popover_lv2_ul_content,
    popover_position: 'edge-end',
    attributes: {
      style: '--c-bolt-page-header-desktop-popover-width: 25rem',
    }
  } only %}
{% endset %}

{% set user_flag %}
  <div class="c-bolt-page-header__user-flag">
    <img src="/images/docs/500x500.jpg" alt="CEO Alan" class="c-bolt-page-header__user-flag__img">
    <div class="c-bolt-page-header__user-flag__content">
      {% include '@bolt-components-headline/eyebrow.twig' with {
        text: 'Hello',
        tag: 'p',
      } only %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Alan',
        size: 'large',
        tag: 'p',
      } only %}
    </div>
  </div>
{% endset %}

{% set user_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: user_flag,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'My Pega',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'My Profile',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Log Out',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set user_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set language_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: '<span class="u-bolt-visuallyhidden">Site language: </span>' ~ 'English',
      attributes: {
        href: 'https://pega.com/',
      },
    },
    selected: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Français',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Deutsch',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Italiano',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: '日本語',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Português',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Español',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Set your preferred language',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set language_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: language_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set contact_popover_lv2_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'US: 1-888-PEGA-NOW',
      attributes: {
        href: 'tel: 1-888-PEGA-NOW',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'UK: +44 118 965 1600',
      attributes: {
        href: 'tel: +44 118 965 1600',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'DACH: +49 (0) 89 540320',
      attributes: {
        href: 'tel: +49 (0) 89 540320',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'AU: +61 2 9581 7000',
      attributes: {
        href: 'tel: +61 2 9581 7000',
      },
    },
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'More Contact Info',
      attributes: {
        href: 'https://pega.com/',
      },
    },
  } only %}
{% endset %}

{% set contact_popover_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: contact_popover_lv2_ul_content,
    popover_position: 'edge-end',
  } only %}
{% endset %}

{% set user_nav_lv1_ul_content %}
  {% set user_settings_label %}
    <span aria-hidden="true">Hello Alan</span> <span class="u-bolt-visuallyhidden">User settings</span>
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: user_settings_label,
      signifier_before: user_avatar,
    },
    children: user_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Notifications',
      signifier_only: icon_bell_solid,
      counter: true,
    },
    children: notifications_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Language',
      signifier_only: icon_network,
    },
    children: language_popover_lv2,
    popover: true,
  } only %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Contact',
      signifier_only: icon_phone_call,
    },
    children: contact_popover_lv2,
    popover: true,
  } only %}
{% endset %}

{% set user_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: user_nav_lv1_ul_content,
    category: 'user',
  } only %}
{% endset %}

{# Related sites nav #}
{% set pega_sites_nav_lv2_ul_content %}
  {% set more_pega_sites_www %}
    {% set thumbnail %}
      <img src="https://via.placeholder.com/100x100" alt="" width=35 height=35 class="u-bolt-border-radius-full">
    {% endset %}
    {% set pega_sites_teaser %}
      {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
        signifier: thumbnail,
        headline: {
          text: 'Site Name',
          tag: 'p',
          size: 'xsmall',
          link_attributes: {
            href: 'https://pega.com'
          },
        },
        description: 'Site description goes here'
      } only %}
    {% endset %}
    {% set pega_sites_teaser_list %}
      {% include '@bolt-components-list/list.twig' with {
        items: [
          pega_sites_teaser,
          pega_sites_teaser,
          pega_sites_teaser,
          pega_sites_teaser,
          pega_sites_teaser,
        ],
        spacing: 'small',
      } only %}
    {% endset %}

    {% set layout_content %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_list,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_list,
      } only %}
      {% include '@bolt-layouts-layout/layout-item.twig' with {
        content: pega_sites_teaser_list,
      } only %}
    {% endset %}
    
    {% include '@bolt-layouts-layout/layout.twig' with {
      template: [
        'tiles'
      ],
      content: layout_content,
      attributes: {
        style: '--l-bolt-layout-tile-min-width: 14rem',
      }
    } only %}
  {% endset %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    content: more_pega_sites_www,
  } only %}
{% endset %}

{% set pega_sites_nav_lv2 %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: pega_sites_nav_lv2_ul_content,
    popover_position: 'edge-start',
    attributes: {
      style: '--c-bolt-page-header-desktop-popover-width: max(56rem, 40vw)',
    }
  } only %}
{% endset %}

{% set related_sites_nav_lv1_ul_content %}
  {% include '@bolt-components-page-header/page-header-nav-li.twig' with {
    link: {
      content: 'Pega Sites',
      signifier_before: icon_grid,
    },
    children: pega_sites_nav_lv2,
    popover: true,
  } only %}
{% endset %}

{% set related_sites_nav %}
  {% include '@bolt-components-page-header/page-header-nav-ul.twig' with {
    content: related_sites_nav_lv1_ul_content,
    category: 'related-sites',
  } only %}
{% endset %}

{# Put all the navs together #}
{% set primary_nav %}
  {% set primary_nav_content %}
    {{ site_nav }}
    {{ related_sites_nav }}
    {{ user_nav }}
  {% endset %}

  {% include '@bolt-components-page-header/page-header-primary-nav.twig' with {
    content: primary_nav_content,
    align_site_nav_items: 'end',
  } only %}
{% endset %}

{# Search Panel #}
{% set search_panel_content %}
  <bolt-stack spacing="small">
    <form>
      {% include '@bolt-components-typeahead/typeahead.twig' with {
        input_placeholder: 'Search Pega Documentation',
      } only %}
    </form>
  </bolt-stack>
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Placeholder for helper text.',
    size: 'small',
    align: 'center',
    icon: {
      name: 'info-circle',
      position: 'before',
    }
  } only %}
{% endset %}

{% set search_panel %}
  {% include '@bolt-components-page-header/page-header-search-panel.twig' with {
    content: search_panel_content,
  } only %}
{% endset %}

{# Page Header #}
{% set page_header_content %}
  {{ search_panel }}
  {{ primary_nav }}
{% endset %}

{% include '@bolt-components-page-header/page-header.twig' with {
  logo: {
    image_src: '/images/logos/pega-logo-docs-inverted.svg',
    label: 'Pega Community',
    attributes: {
      href: 'https://community.pega.com',
      style: '--m-bolt-img-filter: none',
    }
  },
  content: page_header_content,
  full_width: true,
  attributes: {
    class: 't-bolt-navy-dark',
  },
} only %}
