{% set description %}
  A List Element's items can be separated by horizotal or vertical line. The line can be further customized between a <code>solid</code> and <code>dashed</code> separator.
{% endset %}

{% set notes %}
  <bolt-ol>
    <bolt-li>The List Element's separator color adjusts automatically based on the <a href="{{ link['visual-styles-theming-system'] }}" class="e-bolt-text-link">Theming System</a>.</bolt-li>
    <bolt-li>If required, you can override the separator's color by chainging the List Item's <code>--m-bolt-border</code> CSS var with a <code>attributes</code> object.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
{% set schema = bolt.data.components['@bolt-elements-list'].schema['list'] %}
{% set regular_display_options = [
  'vertical',
  'horizontal',
  'horizontal@medium'
] %}
{% set item_1 = 'Item 1' %}
{% set item_2 = 'Item 2' %}
{% set item_3 = 'Item 3'%}
{% set list_items %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_1,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_2,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_3,
  } only %}
{% endset %}
{% for separator in schema.properties.separator.enum %}
  {% if separator != 'none' %}
  <div class="u-bolt-margin-bottom-large">
    <bolt-grid gutter="medium" row-gutter="medium">
      {% for display in regular_display_options %}
        {% set separator_variation %}
          <h3>{{ separator|capitalize }} separators in a {{ display }} list</h3>
          {% include '@bolt-elements-list/list.twig' with {
            display: display,
            separator: separator,
            items: list_items
          } only %}
        {% endset %}
        {% if display == 'vertical' %}
          <bolt-grid-item column-start="1" column-span="12 4@small">
            {{ separator_variation }}
          </bolt-grid-item>
        {% elseif display == 'horizontal' %}
          <bolt-grid-item column-start="1 5@small" column-span="12 4@small">
            {{ separator_variation }}
          </bolt-grid-item>
          {% else %}
          <bolt-grid-item column-start="1 9@small" column-span="12 4@small">
            {{ separator_variation }}
          </bolt-grid-item>
        {% endif %}
      {% endfor %}
    </bolt-grid>
  </div>
  {% endif %}
{% endfor %}
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set list_items %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_1,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_2,
  } only %}
  {% include '@bolt-elements-list/list-item.twig' with {
    content: item_3,
  } only %}
{% endset %}
{% include '@bolt-elements-list/list.twig' with {
  separator: 'solid',
  items: list_items
} only %}
{% endverbatim %}{% endset %}

{% set html_markup %}
{% verbatim %}
<ul class="e-bolt-list e-bolt-list--separator-solid">
  <li class="e-bolt-list__item">First item</li>
  <li class="e-bolt-list__item">Second item</li>
  <li class="e-bolt-list__item">Third item</li>
</ul>
{% endverbatim %}
{% endset %}
{% include '@utils/pattern-doc-page.twig' with {
  title: 'List Element with Separator Variations',
  description: description,
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
  html_markup: html_markup
} only %}
