{% macro titleAndDescription(title, description) %}
  {%- if title %} - <strong>{{ title | markdown }}</strong> {% endif -%}
  {%- if description %} - {{ description | markdown }} {% endif -%}
{% endmacro %}

{% macro object(properties) %}
  {% import _self as macros %}
  <ul>
    {% for key, prop in properties %}
      <li>
        <code>{{ key }}</code>
        {{ macros.titleAndDescription(prop.title, prop.description) }}
        <ul>
          {% set enum %}
            {% for x in prop.enum %}
              <code>{{ x }}</code>{% if not loop.last %},{% endif %}
            {% endfor %}
          {% endset %}
          <li>
            Type: <code>{{ prop.type }}</code>
            {% if prop.oneOf %}
              Must be one of:
              <ul>
                {% for item in prop.oneOf %}
                  <li><code>{{ item.enum|join(',') }}</code>{{ macros.titleAndDescription(item.title, item.description) }}</li>
                {% endfor %}
              </ul>
            {%- elseif prop.enum %} - Must be one of: {{ enum }}
            {% endif %}

            {% if prop.type == 'object' and prop.properties %}
              {{ macros.object(prop.properties) }}
            {% endif %}

            {% if prop.type == 'array' and prop.items %}
              <ul>
                <li>Items:</li>
                {% if prop.items.type == 'object' %}
                  <ul>
                    <li>Type: <code>{{ prop.items.type }}</code>{{ macros.titleAndDescription(prop.items.title, prop.items.description) }}</li>
                    <li>Properties:
                      <ul>
                        {% for key, property in prop.items.properties %}
                          <li><code>{{ key }}</code>
                            {{ macros.titleAndDescription(property.title, property.description) }}
                            {% if property.type %}
                              <ul>
                                <li>Type: <code>{{ property.type }}</code></li>
                              </ul>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                {% endif %}
              </ul>
            {% endif %}
          </li>
          {% if key in loop.parent.required %} <li><strong>Required</strong></li> {% endif %}
          {% if prop.default %} <li>Default: <code>{{ prop.default }}</code></li> {% endif %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}

{% if title %}
  {% include "@bolt/headline.twig" with {
    text: title,
    size: "xxlarge"
  } only %}
{% endif %}

{% if description %}
  {% include "@bolt/subheadline.twig" with {
    text: description,
    size: "xlarge"
  } only %}
{% endif %}

{{ macros.object(properties) }}
