{% if title %}
  {% include "@bolt/headline.twig" with {
    text: title,
    size: "xxlarge"
  } only %}
{% endif %}

{% if description %}
  {% include "@bolt/subheadline.twig" with {
    text: description,
    size: "xlarge"
  } only %}
{% endif %}

<ul>
  {% for key, prop in properties %}
    <li>
      <code>{{ key }}</code>
      {% if prop.title %} - <strong>{{ prop.title }}</strong> {% endif %}
      {% if prop.description %} - <span>{{ prop.description }}</span> {% endif %}
      <ul>
        {% set enum %}
          {% for x in prop.enum %}
            <code>{{ x }}</code>{% if not loop.last %},{% endif %}
          {% endfor %}
        {% endset %}
        <li>
          Type: <code>{{ prop.type }}</code>
          {% if prop.oneOf %}
            Must be one of:
            <ul>
              {% for item in prop.oneOf %}
                <li><code>{{ item.enum|join(',') }}</code>
                  {%- if item.title %} - <strong>{{ item.title | markdown }}</strong> {% endif -%}
                {%- if item.description %} - {{ item.description | markdown }} {% endif -%}
                </li>
              {% endfor %}
            </ul>
          {%- elseif prop.enum %} - Must be one of: {{ enum }}
          {% endif %}

          {# arrays #}
          {% if prop.items %}
            <ul>
              <li>Items:</li>
              {% if prop.items.type == 'object' %}
                <ul>
                  <li>Type: <code>{{ prop.items.type }}</code>
                    {%- if prop.items.title %} - <strong>{{ prop.items.title | markdown }}</strong> {% endif -%}
                    {%- if prop.items.description %} - {{ prop.items.description | markdown }} {% endif -%}
                  </li>
                  <li>Properties:
                    <ul>
                      {% for key, property in prop.items.properties %}
                        <li><code>{{ key }}</code>
                          {%- if property.description %} - {{ property.description | markdown }} {% endif -%}
                          {% if property.type %}
                            <ul>
                              <li>Type: <code>{{ property.type }}</code></li>
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              {% endif %}
            </ul>
          {% endif %}
        </li>
        {% if key in loop.parent.required %} <li><strong>Required</strong></li> {% endif %}
        {% if prop.default %} <li>Default: <code>{{ prop.default }}</code></li> {% endif %}
      </ul>
    </li>
  {% endfor %}
</ul>