{% set tags = ["ul", "ol"] %} {# Available Inline List Tags #}
{% set prefix = "o-bolt-" %}

{% set sizes = [
  "xsmall",
  "small",
  "medium"
] %}

{% set matrixOptions = [
  true
] %}

{% set attributes = create_attribute(attributes|default({})) %}

{% set componentName = "inline-list" %}
{% set baseClass = prefix ~ componentName %}
{% set size = size | default("xsmall") %}
{% set tag = tag in tags ? tag: "ul" %}
{% set matrix = matrix | default(false) %}


{% set classes = [
  baseClass,
  size in sizes ? baseClass ~ "--" ~ size : "",
  delimeted ? baseClass ~ "--" ~ "delimited" : "",
  matrix in matrixOptions ? baseClass ~ "--matrix" : ""
] %}

{% if items %}
  <bolt-inline-list size="{{ size }}" bolt-object>
    <{{ tag }} {{ attributes.addClass(classes) }}>
      {% for item in items %}
        <li class="{{ "#{baseClass}__item" }}">
          {{ item.text | raw }}
        </li>
      {% endfor %}
    </{{ tag }}>
  </bolt-inline-list>
{% endif %}
