{% macro menu(items, depth, currentUrl) %}
  {% import _self as macros %}
  <ul class="sub-nav__list sub-nav__list--depth-{{ depth }}">
    {% for item in items %}
      {% set isActive = currentUrl == item.url %}
      {% set isActivePath = currentUrl starts with item.url|replace({'index.html': ''}) %}
      <li class="sub-nav__item">

        <a href="/{{ item.url }}" class="sub-nav__link{% if depth == 1 %} sub-nav__link--parent{% endif %}{% if isActive %} sub-nav__link--active{% endif %}{% if isActivePath %} sub-nav__link--active-path{% endif %}">
          {{ item.meta.title }}
        </a>
        {% if item.children %}
          {#{% set depth = depth + 1 %}#}
          {{ macros.menu(item.children, depth + 1, currentUrl) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% import _self as macros %}
{% set currentUrl = page.url %}

<nav class="sub-nav">
  {% if currentSection %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: currentSection|title,
      size: 'xlarge',
      tag: 'h2',
      icon: {
        name: 'chevron-right'
      }
    } %}
    <a href="#" class="storefront-docs__close-menu u-bolt-hide@medium">
      {% include "@bolt-components-icon/icon.twig" with {
        name: "close",
        size: "medium",
      } %}
    </a>
  {% endif %}
  {{ macros.menu(nestedPages, 1, currentUrl) }}
</nav>
