<p>Typography is the voice of a brand. This set of typefaces best represent Pega’s brand attributes and personality. They should be used across all digital and print applications.</p>
<p><b>See more in "Styleguide > Typography"</b></p>

<ul>
  <li><a href="{{ link['styleguide-lists'] }}">Lists</a></li>
  <li><a href="{{ link['styleguide-headings'] }}">Headings</a></li>
  <li><a href="{{ link['styleguide-blockquotes'] }}">Blockquotes</a></li>
</ul>

<p>{{ faker.paragraph() }}</p>
<h1>Header 1</h1>
<p>Here's <a href="#">a link</a>, a <strong>big bold statement</strong>, some <em>emphasized comment</em>, and some weird words. {{ faker.sentences(18) }}</p>

<h2>Header 2</h2>
<p>{{ faker.paragraph(12) }}</p>

<h3>Header 3</h3>
<p>{{ faker.paragraph(12) }}</p>
<blockquote>
  <p>I'm a <code>blockquote</code>: {{ faker.paragraph() }}</p>
</blockquote>
<p>{{ faker.paragraph(12) }}</p>

<ul>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
</ul>

<p>{{ faker.paragraph(12) }}</p>

<h4>Header 4</h4>
<p>{{ faker.paragraph(12) }}</p>

<h5>Header 5</h5>
<p>{{ faker.paragraph(12) }}</p>

<h6>Header 6</h6>
<p>{{ faker.paragraph(12) }}</p>
