{% set tooltip_1 %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'small piece of text',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_2 %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'like this',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_dot_outside %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'like this',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_special_char_outside %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'A tooltip',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_dot_inside %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'like this.',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_special_char_inside %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: '$A tooltip',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

<h2>Tooltip whitespace around a trigger.</h2>
<p>When you use the tooltip there should be no extra whitespace around the text. For example, this is a {{ tooltip_1 }} and there is no extra whitespace around it.</p>

<h2>Tooltip dots and special character outside the tooltip trigger.</h2>
<p>This is a paragraph of text, a tooltip can appear anywhere in here, in the middle of the sentence {{ tooltip_2 }} or at the end of the sentence before a punctuation {{ tooltip_dot_outside }}.</p>

<p>${{ tooltip_special_char_outside }} can also begin a sentence where a special character is used before it.</p>

<h2>Tooltip dots and special character inside the tooltip trigger.</h2>
<p>This is a paragraph of text, a tooltip can appear anywhere in here, in the middle of the sentence {{ tooltip_2 }} or at the end of the sentence before a punctuation {{ tooltip_dot_inside }}</p>

<p>{{ tooltip_special_char_inside }} can also begin a sentence where a special character is used before it.</p>
