{% set tooltip %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'small piece of text',
    content: 'This is what we call a tooltip.',
  } only %}
{% endset %}

{% set tooltip_special_char %}{% spaceless %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'A tooltip',
    content: 'This is what we call a tooltip.',
  } only %}
{% endspaceless %}{% endset %}  

<h2>Tooltip whitespace around a trigger.</h2>
<p>When you use the tooltip there should be no extra whitespace around the text. For example, this is a {{ tooltip }} and there is no extra whitespace around it.</p>

<h2>Tooltip dots and special character outside the tooltip trigger.</h2>
<p>This is a paragraph of text, a tooltip can appear anywhere in here, in the middle of the sentence {{ tooltip }} or at the end of the sentence before a punctuation {{ tooltip }}.</p>
<p>${{ tooltip_special_char }} can also begin a sentence where a special character is used before it. But we need to use a <code>spaceless</code> tag when we declare the variable.</p>

{% set twig_code %}
{% verbatim %}
{% set tooltip %}{% spaceless %}
  {% include '@bolt-components-tooltip/tooltip.twig' with {
    trigger: 'This is the tooltip trigger',
    content: 'This is the tooltip content.'
  } only %}
{% endspaceless %}{% endset %}
{% endverbatim %}
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: twig_code,
  lang: 'twig',
} only %}

<p>Or use <code>|spaceless</code> filter when printing the variable.</p>

{% set twig_code %}
{% verbatim %}
{{ tooltip|spaceless }}
{% endverbatim %}
{% endset %}

{% include '@bolt-components-code-snippet/code-snippet.twig' with {
  content: twig_code,
  lang: 'twig',
} only %}
