{#
/**
 * @file
 * Default theme implementation for a set of list items.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - url: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links ui_list. If 'url' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'url' is supplied.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @see template_preprocess_links()
 *
 * @ingroup themeable
 */
#}

  {% set ui_list_classes = [
    'o-ui-list',
    ui_list.is_inset ? 'o-ui-list--inset'
  ] %}

{% if attribute(_context, "ui-list") is defined %}
  {% set ui_list = attribute(_context, "ui-list") %}
{% endif %}

{% set ui_list_type = ui_list.type ?? 'ul' %}
{% set attributes = create_attribute(ui_list.attributes | default(attributes) | default({})) %}
{% set attributes = attributes.addClass(ui_list_classes) %}




{% if ui_list.items %}
  {% if heading %}
    {% if heading.level %}
      {% include "@atoms/text/headings/" ~ heading.level ~ ".twig" with {
        heading: heading
      } %}
    {% else %}
      {% include "@atoms/text/headings/h2.twig" with {
        heading: heading
      } %}
    {% endif %}
  {% endif %}
  <{{ ui_list_type }} {{ attributes }}>
    {% for item in ui_list.items %}

      {% set item_attributes = create_attribute(item.attributes | default({})) %}
      {% set item_attributes = item_attributes.addClass('o-ui-list__item') %}

      {% set item_text_attributes = create_attribute(item.text_attributes | default({})) %}
      {% set item_text_attributes = item_text_attributes.addClass('c-ui_list__text') %}


      <li{{ item_attributes }}>
        {% block ui_list_item %}
          {% if item.link %}
            {{ item.link }}
          {% elseif item_text_attributes %}
            <span{{ item_text_attributes }}>{{ item.text }}</span>
          {% else %}
            {{ item.text | raw }}
          {% endif %}
        {% endblock %}
      </li>
    {% endfor %}
  </{{ ui_list_type }}>
{% endif %}
