<style>
  :root {
    --bolt-spacing-x: 1.085;
    --bolt-spacing-y: 0.945;

    --bolt-type-font-size-xxxlarge: 2.1rem;
    --bolt-type-font-size-xxlarge: 1.6rem;
    --bolt-type-font-size-xlarge: 1.35rem;
    --bolt-type-font-size-large: 1.125rem;
    --bolt-type-font-size-medium: 1rem;
    --bolt-type-font-size-small: 0.85rem;
    --bolt-type-font-size-xsmall: 0.75rem;
    --bolt-type-font-size-xxsmall: 0.65rem;

    --bolt-type-line-height-xxxlarge: 1.25;
    --bolt-type-line-height-xxlarge: 1.35;
    --bolt-type-line-height-xlarge: 1.3;
    --bolt-type-line-height-large: 1.3;
    --bolt-type-line-height-medium: 1.5;
    --bolt-type-line-height-small: 1.4;
    --bolt-type-line-height-xsmall: 1.4;
    --bolt-type-line-height-xxsmall: 1.35;

    --bolt-type-font-weight-bold: 700;

    --bolt-type-font-family-headline: -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
    --bolt-type-font-family-body: -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ ゴシック', 'MS Gothic', HiraKakuProN-W3, 'TakaoExゴシック', TakaoExGothic, 'MotoyaLCedar', 'Droid Sans Japanese', sans-serif;
  }
</style>

{% set image %}
  {% include "@bolt-components-image/image.twig" with {
    src: "/images/placeholders/landscape-16x9-mountains.jpg",
    alt: "Image alt",
  } only %}
{% endset %}


{% set hero_content %}
  <bolt-text headline tag="h1" font-size="xxxlarge">
    今日の忍耐力を明日を生きる力に変えていくために
  </bolt-text>
  <bolt-text subheadline tag="h2" font-size="xxlarge">
    将来性のあるミドルアウトプラットフォームがそれを可能にします。
  </bolt-text>
  <bolt-text>
    Pega の緊急対応ソリューションポートフォリオが登場。 緊急の課題に対処する業種別ソリューションを、永続的な変革を実現するプラットフォーム上でご活用ください。
  </bolt-text>
  <bolt-button>
    CEOからのメッセージを聞く
  </bolt-button>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "large",
  padding_bottom: "large",
  align_items: "start",
  items: [
    {
      content: hero_content,
      attributes: {
        "width": "67%@from-medium",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}


{% set headline %}
  <bolt-text headline tag="h2" font-size="xxlarge" align="center">
    皆さんのビジネスのために Pega に何ができるかをご覧ください。
  </bolt-text>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "large",
  padding_bottom: "medium",
  items: [
    {
      content: headline,
      attributes: {
        "width": "67%@from-medium",
      }
    },
  ],
} only %}


{% set teaser1 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    カスタマーエンゲージメント
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    協調性の高いエンゲージメントと迅速な対応を実現
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% set teaser2 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    カスタマーサービス
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    大量のリクエストをトリアージしてコストを削減
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% set teaser3 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    インテリジェントオートメーション
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    アプリをすばやく開発し、すべてを自動化
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "none",
  padding_bottom: "large",
  gutter: "xlarge",
  row_gutter: "xlarge",
  stack_items: "@until-small",
  items: [
    {
      content: teaser1,
    },
    {
      content: teaser2,
    },
    {
      content: teaser3,
    },
  ],
} only %}


{% set content %}
  <bolt-text headline tag="h2" font-size="xxlarge">
    導入事例
  </bolt-text>
  <bolt-text tag="h3">
    みずほ銀行: グローバルコーポレート業務のプロセス改革
  </bolt-text>
  <bolt-button>
    導入事例を見る
  </bolt-button>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "large",
  padding_bottom: "large",
  gutter: "xlarge",
  stack_items: "@until-small",
  valign_items: "center",
  items: [
    {
      content: content,
      attributes: {
        "width": "67%@from-small",
        "stack-order": "secondary",
      }
    },
    {
      content: image,
      attributes: {
        "width": "33%@from-small",
        "stack-order": "primary",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}



{% set teaser1 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    カスタマーエンゲージメント
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    協調性の高いエンゲージメントと迅速な対応を実現
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% set teaser2 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    カスタマーサービス
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    大量のリクエストをトリアージしてコストを削減
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% set teaser3 %}
  <div class="u-bolt-margin-bottom-medium">
    {{ image }}
  </div>
  <bolt-text eyebrow>
    インテリジェントオートメーション
  </bolt-text>
  <bolt-text headline tag="h3" font-size="large">
    アプリをすばやく開発し、すべてを自動化
  </bolt-text>
  <bolt-button size="small" width="full" color="secondary">
    紹介
  </bolt-button>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "large",
  padding_bottom: "large",
  gutter: "xlarge",
  row_gutter: "xlarge",
  stack_items: "@until-small",
  items: [
    {
      content: teaser1,
    },
    {
      content: teaser2,
    },
    {
      content: teaser3,
    },
    {
      content: teaser1,
    },
  ],
} only %}


{% set content %}
  <bolt-text headline tag="h2" font-size="xxlarge">
    導入事例
  </bolt-text>
  <bolt-text tag="h3">
    みずほ銀行: グローバルコーポレート業務のプロセス改革
  </bolt-text>
  <bolt-button>
    導入事例を見る
  </bolt-button>
{% endset %}

{% include "@bolt-components-layout/layout.twig" with {
  padding_top: "large",
  padding_bottom: "large",
  gutter: "xlarge",
  stack_items: "@until-small",
  valign_items: "center",
  items: [
    {
      content: content,
      attributes: {
        "width": "75%@from-small",
        "stack-order": "secondary",
      }
    },
    {
      content: image,
      attributes: {
        "width": "25%@from-small",
        "stack-order": "primary",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}
