{% set image %}
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: '/images/content/backgrounds/background-tall-2.jpg',
      srcset: '/images/content/backgrounds/background-tall-2-50.jpg 50w, /images/content/backgrounds/background-tall-2-100.jpg 100w, /images/content/backgrounds/background-tall-2-200.jpg 200w, /images/content/backgrounds/background-tall-2-320.jpg 320w, /images/content/backgrounds/background-tall-2-480.jpg 480w, /images/content/backgrounds/background-tall-2-640.jpg 640w, /images/content/backgrounds/background-tall-2-800.jpg 800w, /images/content/backgrounds/background-tall-2-1024.jpg 1024w, /images/content/backgrounds/background-tall-2-1366.jpg 1366w, /images/content/backgrounds/background-tall-2-1536.jpg 1536w, /images/content/backgrounds/background-tall-2-1920.jpg 1920w, /images/content/backgrounds/background-tall-2-2560.jpg 2560w, /images/content/backgrounds/background-tall-2-2880.jpg 2880w, /images/content/backgrounds/background-tall-2.jpg 4320w',
      width: 4320,
      height: 2880
    },
  } only %}
{% endset %}

{% for fill in ['color', 'gradient'] %}
  <p>Fill: {{ fill|capitalize }}</p>

  {% include './_00-background-band-demo.twig' with {
    background: {
      fill: fill,
      opacity: 'medium',
      focal_point: {
        vertical: 'center',
        horizontal: 'center'
      },
      items: [
        image
      ]
    }
  } %}
{% endfor %}

<h2>Fill and color combinations</h2>

{% for fill in ['color', 'gradient', 'linear-gradient', 'radial-gradient'] %}
  <h3>Fill type: {{ fill|capitalize }}</h3>
  {% if fill in ['color', 'gradient'] %}
    {% include '@bolt-components-banner/banner.twig' with {
      content: 'As shown below, the <em>color</em> prop has no effect when fill is <em>' ~ fill ~ '</em>',
      status: 'error',
    } only %}
  {% endif %}

  {% if fill in ['linear-gradient', 'radial-gradient'] %}
    {% include '@bolt-components-banner/banner.twig' with {
      content: 'As shown below, <em>' ~ fill ~ '</em> does not work if color is not set or set to <em>default</em>',
      status: 'error',
    } only %}
  {% endif %}

  {% for color in ['default', 'pink', 'navy', 'black'] %}
    <p>Fill Color: {{ color|capitalize }} </p>

    {% include '@bolt-components-band/band.twig' with {
      content: 'This is a band.',
      background: {
        fill: fill,
        fill_color: color,
        opacity: 'heavy',
        focal_point: {
          vertical: 'center',
          horizontal: 'center'
        },
        items: [
          image
        ]
      },
    } only %}
  {% endfor %}
{% endfor %}

{% for fill in ['color', 'gradient', 'linear-gradient', 'radial-gradient'] %}
  <h2>Fill type: {{ fill|capitalize }}</h2>

  {% if fill == 'color' %}
    {% include '@bolt-components-banner/banner.twig' with {
      content: 'When fill is set to <em>color</em>, themes work beautifully!',
      status: 'success',
    } only %}
  {% else %}
    {% include '@bolt-components-banner/banner.twig' with {
      content: 'Colors are hard coded for gradient backgrounds.',
      status: 'error',
    } only %}
  {% endif %}

  {% for theme in ['white', 'black', 'gray-xlight', 'navy-dark', 'navy', 'navy-light', 'teal', 'yellow', 'dark', 'xdark', 'xxdark'] %}
    <p>Theme: {{ theme|capitalize }} </p>

    <div class="t-bolt-{{ theme }} u-bolt-padding-top-small">
      {% include '@bolt-components-band/band.twig' with {
        content: 'This is a band.',
        theme: 'none',
        background: {
          fill: fill,
          fill_color: 'pink',
          opacity: 'heavy',
          focal_point: {
            vertical: 'center',
            horizontal: 'center'
          },
          items: [
            image
          ]
        },
      } only %}
    </div>
  {% endfor %}
{% endfor %}
