{% include '@pl/00-deprecated-button-docs.twig' %}

{% import _self as button_code %}

{% set button_text = "This is a button" %}

{% set button_demo %}
<bolt-button url="https://pega.com">
  {{ button_text }}
</bolt-button>
{% endset %}

{% set button_basic_demo %}
<p>
  <bolt-button>
    <span slot="before">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-left' } only %}</span>
    {{ button_text }}
  </bolt-button>
</p>
<p>
  <bolt-button>
    {{ button_text }}
    <span slot="after">{% include '@bolt-elements-icon/icon.twig' with { name: 'chevron-right' } only %}</span>
  </bolt-button>
</p>
<p>
  <bolt-button icon-only>
    <span slot="before">{% include '@bolt-elements-icon/icon.twig' with { name: 'close' } only %}</span>
    {{ button_text }}
  </bolt-button>
</p>
{% endset %}

{% set button_basic_demo_code %}
<p>
  <bolt-button>
    <span slot="before"><!--- Icon Markup ---></span>
    {{ button_text }}
  </bolt-button>
</p>
<p>
  <bolt-button>
    {{ button_text }}
    <span slot="after"><!--- Icon Markup ---></span>
  </bolt-button>
</p>
<p>
  <bolt-button icon-only>
    <span slot="before"><!--- Icon Markup ---></span>
    {{ button_text }}
  </bolt-button>
</p>
{% endset %}

{% set button_advanced_demo %}
<bolt-button
  url="https://pega.com"
  size="large"
  hierarchy="secondary"
  border-radius="full"
  icon-only
>
  <span slot="before">{% include '@bolt-elements-icon/icon.twig' with { name: 'menu' } only %}</span>
  {{ button_text }}
</bolt-button>
{% endset %}

{% set button_advanced_demo_code %}
<bolt-button
  url="https://pega.com"
  size="large"
  hierarchy="secondary"
  border-radius="full"
  icon-only
>
  <span slot="before"><!--- Icon Markup ---></span>
  {{ button_text }}
</bolt-button>
{% endset %}

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Button is a web component, you can simply use <code>&lt;bolt-button&gt;</code> in the markup to make it render.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell %}
        {{ button_demo }}
      {% endcell %}
    {% endgrid %}
  </div>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: button_demo,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Basic Usage
  </bolt-text>
  <bolt-text>
    To use icon in combination with text within the button, you must pass <code>&lt;bolt-icon&gt;</code> with a <code>slot</code> attribute defined as either <code>before</code> or <code>after</code>.
  </bolt-text>
  <bolt-text>
    <mark>Note: the slot attribute is required in order for the icon to be placed and spaced correctly within the button. Even if icon-only option is turned on, slot is still required.</mark>
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell %}
        {{ button_basic_demo }}
      {% endcell %}
    {% endgrid %}
  </div>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: button_basic_demo_code,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>

<div class="u-bolt-margin-bottom-large">
  <bolt-text headline>
    Advanced Usage
  </bolt-text>
  <bolt-text>
    The web component has all the options shown in the schema table. You can define each prop within the <code>&lt;bolt-button&gt;</code> element. Use unique combinations to customize a button to your liking.
  </bolt-text>
  <bolt-text>
    <mark>Note: the hierarchy prop is named color instead.</mark>
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid %}
      {% cell %}
        {{ button_advanced_demo }}
      {% endcell %}
    {% endgrid %}
  </div>
  {% include '@bolt-components-code-snippet/code-snippet.twig' with {
    content: button_advanced_demo_code,
    lang: 'html',
    mode: 'dark',
  } only %}
</div>

