{% set image %}
  {% include "@bolt-components-image/image.twig" with {
    src: "/images/placeholders/landscape-16x9-mountains.jpg",
    alt: "Image alt.",
    attributes: {
      class: "u-bolt-margin-bottom-medium",
    },
  } only %}
{% endset %}
{% set fullbutton %}
  <p><bolt-button width="full">button</bolt-button></p>
{% endset %}


{% set paragraph %}
  <p>Item 1. Let's reduce bloated markup and kill <strong>all bands, wrappers, and grids.</strong> Layout component combines all of their features into one thing with simpler markup. Layout items can be set to common width options that are currently in used: 25%, 33%, 50%, 75%. If width is not set, a layout item will take up all available space of the layout.</p>
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "medium",
  padding_top: "small",
  padding_bottom: "small",
  items: [
    {
      content: paragraph,
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}


{% set paragraph %}
  <p>Item 1. Set <code>align-items="start | center | end"</code> to horizontally align the layout items (when not stacked).</p>
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  align_items: "center",
  items: [
    {
      content: paragraph,
      attributes: {
        "width": "50%",
      },
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}


{% set paragraph1 %}
  <p>Item 1: moves to 2nd place when viewport is below small breakpoint.</p>
{% endset %}
{% set paragraph2 %}
  <p>Item 2: moves to 1st place when viewport is below small breakpoint.</p>
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "medium",
  padding_top: "medium",
  padding_bottom: "medium",
  stack_items: "@until-small",
  items: [
    {
      content: paragraph1,
      attributes: {
        "stack-order": "secondary"
      },
    },
    {
      content: paragraph2,
      attributes: {
        "stack-order": "primary"
      },
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}


{% set paragraph1 %}
  <p>Item 1. <strong>Set <code>valign-items="start | center | end"</code> to create auto height layout items</strong>. Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl.</p>
  <p><bolt-button>button</bolt-button></p>
{% endset %}
{% set paragraph2 %}
  <ul>
    <li>Item 2. This is a short item.</li>
    <li>Aliquam tincidunt mauris eu risus.</li>
    <li>Vestibulum auctor dapibus neque.</li>
  </ul>
{% endset %}

{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "large",
  padding_top: "large",
  padding_bottom: "large",
  stack_items: "@until-small",
  items: [
    {
      content: paragraph1,
      attributes: {
        "width": "67%@from-small 75%@from-medium",
      }
    },
    {
      content: paragraph2,
      attributes: {
        "width": "33%@from-small 25%@from-medium",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}


{% set paragraph1 %}
  {{ image }}
  <p>Item 1. <strong>Set <code>valign-items="unset"</code> to create equal height layout items</strong>, and each item will push its last child to the bottom.</p>
  {{ fullbutton }}
{% endset %}
{% set paragraph2 %}
  {{ image }}
  <p>Item 2. This is a short item.</p>
  {{ fullbutton }}
{% endset %}
{% set paragraph3 %}
  {{ image }}
  <p>Item 3. This is a tall item. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.</p>
  {{ fullbutton }}
{% endset %}

{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "large",
  row_gutter: "large",
  padding_top: "xlarge",
  padding_bottom: "xlarge",
  stack_items: "@until-small",
  valign_items: "unset",
  items: [
    {
      content: paragraph1,
    },
    {
      content: paragraph2,
    },
    {
      content: paragraph3,
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}


{% set paragraph %}
  <p>By not setting a width on the layout items, you can create equal width and evenly spaced layout items in a row. As many items as you'd like but anything over 4 is probably not ideal though, text will get squished.</p>
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "medium",
  padding_top: "xxlarge",
  padding_bottom: "xxlarge",
  stack_items: "@until-medium",
  items: [
    {
      content: paragraph,
    },
    {
      content: paragraph,
    },
    {
      content: paragraph,
    },
    {
      content: paragraph,
    },
    {
      content: paragraph,
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}


{% set content %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Special Hero!!!",
    size: "xxxlarge",
  } only %}
  <p>Create a special hero with bleeding image by setting <code>valign-self</code> on layout items. It includes offset options to make a layout item positioned to an edge.</p>
  <p><bolt-button>button</bolt-button></p>
{% endset %}
{% set media %}
  {% include "@bolt-components-image/image.twig" with {
    src: "/images/heros/hero-foreground--indigo.png",
    alt: "Image alt",
  } only %}
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "xlarge",
  padding_top: "large",
  padding_bottom: "large",
  stack_items: "@until-small",
  items: [
    {
      content: content,
      attributes: {
        "width": "50%@from-small",
        "valign-self": "center",
        "stack-order": "secondary",
      }
    },
    {
      content: media,
      attributes: {
        "width": "50%@from-small",
        "valign-self": "start-offset-large",
        "stack-order": "primary",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}
{% set media %}
  {% include "@bolt-components-image/image.twig" with {
    src: "/images/heros/hero-foreground--yellow.png",
    alt: "Image alt",
  } only %}
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "large",
  padding_top: "large",
  padding_bottom: "large",
  stack_items: "@until-small",
  items: [
    {
      content: content,
      attributes: {
        "width": "50%@from-small 67%@from-medium",
        "valign-self": "center",
      }
    },
    {
      content: media,
      attributes: {
        "width": "50% 50%@from-small 33%@from-medium",
        "valign-self": "end-offset-large",
      }
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}


{% include "@bolt-layouts-layout/layout.twig" with {
  items: [
    {
      content: "One layout.",
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}
{% include "@bolt-layouts-layout/layout.twig" with {
  padding_top: "none",
  items: [
    {
      content: "Stack another layout of the same color and remove extra padding.",
    },
  ],
  attributes: {
    class: [
      "t-bolt-dark",
    ]
  },
} only %}


{% set media %}
  {% include "@bolt-components-image/image.twig" with {
    src: "/images/placeholders/thumb-square-ivy.jpg",
    alt: "Image alt",
  } only %}
{% endset %}
{% set text %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: "Create a flag by setting a pixel width on the media layout item, and not defining a width on the text layout item.",
  } only %}
  <p>Another paragraph. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor posuere. Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor.</p>
{% endset %}
{% include "@bolt-layouts-layout/layout.twig" with {
  gutter: "medium",
  padding_top: "large",
  padding_bottom: "large",
  valign_items: "start",
  stack_items: "@until-small",
  items: [
    {
      content: media,
      attributes: {
        "width": "25% 150px@from-small",
      }
    },
    {
      content: text,
    },
  ],
  attributes: {
    class: [
      "t-bolt-light",
    ]
  },
} only %}
