{% extends '@pl/_default-page-template.twig' %}

{% block main_content %}
  {% set icon_chevron_right %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'chevron-right',
    } only %}
  {% endset %}
  {% set icon_heart %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'heart',
    } only %}
  {% endset %}
  {% set icon_share %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'share',
    } only %}
  {% endset %}
  {% set icon_eye %}
    {% include '@bolt-components-icon/icon.twig' with {
      name: 'eye',
    } only %}
  {% endset %}

  {% set action_list %}
    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
      <div class="o-bolt-grid__cell u-bolt-flex-shrink">
        <small>{{ icon_eye }} 27 views</small>
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-6/12 u-bolt-flex-grow">
        {% set like_button %}
          <small>
            {% include '@bolt-components-link/link.twig' with {
              text: 'Like',
              icon: {
                name: 'heart',
                position: 'before',
              },
              type: 'button',
              isHeadline: true,
            } only %}
          </small>
        {% endset %}
        {% set share_button %}
          {% set popover_trigger %}
            <small>
              {% include '@bolt-components-link/link.twig' with {
                text: 'Share',
                icon: {
                  name: 'share',
                  position: 'before',
                },
                type: 'button',
                isHeadline: true,
              } only %}
            </small>
          {% endset %}
          {% set popover_content %}
            {% include '@bolt-components-share/share.twig' with {
              display: 'menu',
              text: 'Share this content',
              sources: [
                {
                  name: 'facebook',
                  url: 'https://www.facebook.com/sharer/sharer.php?u=https://pega.com&amp;src=sdkpreparse'
                },
                {
                  name: 'twitter',
                  url: 'https://twitter.com/intent/tweet?url=https://pega.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
                },
                {
                  name: 'linkedin',
                  url: 'https://www.linkedin.com/shareArticle?url=https://pega.com'
                },
                {
                  name: 'email',
                  url: 'mailto:?&body=Sample%20Text%20--%20https%3A//pega.com'
                }
              ],
              copy_to_clipboard: {
                text_to_copy: 'https://pega.com',
              },
            } only %}
          {% endset %}
          {% include "@bolt-components-popover/popover.twig" with {
            trigger: popover_trigger,
            content: popover_content,
            spacing: "none",
          } only %}
        {% endset %}
        {% include '@bolt-components-list/list.twig' with {
          display: 'inline',
          align: 'end',
          spacing: 'small',
          items: [
            like_button,
            share_button,
          ]
        } only %}
      </div>
    </div>
  {% endset %}

  {% set item_video %}
    <bolt-stack spacing="xsmall">
      {% set video %}
        <video-js
          data-account='1900410236'
          data-player='4fVA8Ojzs'
          data-embed='default'
          data-video-id='3974147489001'
          data-media-duration
          controls
          class='c-base-video'></video-js>
      {% endset %}
      {% include '@bolt-components-ratio/ratio.twig' with {
        children: video,
        ratio: '16/9'
      } only %}
    </bolt-stack>
    <bolt-stack spacing="xsmall">
      {{ action_list }}
    </bolt-stack>
    <bolt-stack spacing="xsmall">
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Video title. Sausage brisket meatloaf turducken buffalo, salami chislic.',
        size: 'large',
        tag: 'h2',
        url: 'https://pega.com',
      } only %}
    </bolt-stack>
    {% include '@bolt-components-chip-list/chip-list.twig' with {
      items: [
        {
          text: 'Video',
        },
        {
          text: 'Research',
        },
      ],
      size: 'xsmall',
    } only %}
  {% endset %}

  {% set item_article %}
    <bolt-stack spacing="xsmall">
      {% include '@bolt-components-image/image.twig' with {
        src: 'https://via.placeholder.com/1600x900.png?text=Placeholder',
        alt: '',
      } only %}
    </bolt-stack>
    <bolt-stack spacing="xsmall">
      {{ action_list }}
    </bolt-stack>
    <bolt-stack spacing="xsmall">
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Article title. Sausage brisket meatloaf turducken buffalo, salami chislic.',
        size: 'large',
        tag: 'h2',
        url: 'https://pega.com',
      } only %}
    </bolt-stack>
    {% include '@bolt-components-chip-list/chip-list.twig' with {
      items: [
        {
          text: 'Whitepaper',
        },
        {
          text: 'Research',
        },
      ],
      size: 'xsmall',
    } only %}
  {% endset %}

  {% set band_content %}
    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center">
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-8/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'The best ideas now',
          size: 'xxxlarge',
          align: 'center',
          tag: 'h1',
        } only %}
        {% include '@bolt-components-headline/subheadline.twig' with {
          text: 'Browse our collection of fresh insights, essential new research, and more.',
          size: 'xlarge',
          align: 'center',
          tag: 'p',
        } only %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12">
        <!-- NOT BEING DEVELOPED DURING PHASE 1 -->
        {# <form class="c-bolt-form">
          {% set filter_input_1 %}
            <input type="checkbox" id="filter-1" class="c-bolt-input c-bolt-input--checkbox">
            <label for="filter-1" class="c-bolt-inline-label c-bolt-inline-label--checkbox">AI and decisioning</label>
          {% endset %}
          {% set filter_input_2 %}
            <input type="checkbox" id="filter-2" class="c-bolt-input c-bolt-input--checkbox">
            <label for="filter-2" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Customer engagement</label>
          {% endset %}
          {% set filter_input_3 %}
            <input type="checkbox" id="filter-3" class="c-bolt-input c-bolt-input--checkbox">
            <label for="filter-3" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Customer service</label>
          {% endset %}
          {% set filter_input_4 %}
            <input type="checkbox" id="filter-4" class="c-bolt-input c-bolt-input--checkbox">
            <label for="filter-4" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Digital transformation</label>
          {% endset %}
          {% set filter_input_5 %}
            <input type="checkbox" id="filter-5" class="c-bolt-input c-bolt-input--checkbox">
            <label for="filter-5" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Intelligent automation</label>
          {% endset %}
          {% set filter_button %}
            {% include '@bolt-components-button/button.twig' with {
              text: 'More filters',
              size: 'xsmall',
              style: 'secondary',
              type: 'button',
              icon: {
                name: 'filter',
                position: 'before',
              },
              attributes: {
                'on-click': 'show',
                'on-click-target': 'js-bolt-modal',
              },
            } only %}
            {% set apply_button %}
              {% include '@bolt-components-button/button.twig' with {
                text: 'Save',
                size: 'small',
                type: 'submit',
              } only %}
            {% endset %}
            {% set cancel_button %}
              {% include '@bolt-components-button/button.twig' with {
                text: 'Cancel',
                size: 'small',
                style: 'text',
                attributes: {
                  'on-click': 'show',
                  'on-click-target': 'js-bolt-modal',
                },
              } only %}
            {% endset %}
            {% set modal_content %}
              {% include '@bolt-components-headline/headline.twig' with {
                text: 'More filters',
                size: 'xlarge',
                tag: 'h2',
                attributes: {
                  slot: 'header',
                }
              } only %}
              <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
                {% set more_filter_input %}
                  <input type="checkbox" id="more-filter-1" class="c-bolt-input c-bolt-input--checkbox">
                  <label for="more-filter-1" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Filter name</label>
                {% endset %}
                <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
                  {% include '@bolt-components-headline/headline.twig' with {
                    text: 'Category',
                    size: 'large',
                    tag: 'h3',
                    attributes: {
                      class: 'u-bolt-margin-bottom-small',
                    },
                  } only %}
                  {% include '@bolt-components-list/list.twig' with {
                    items: [
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                    ]
                  } only %}
                </div>
                <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
                  {% include '@bolt-components-headline/headline.twig' with {
                    text: 'Category',
                    size: 'large',
                    tag: 'h3',
                    attributes: {
                      class: 'u-bolt-margin-bottom-small',
                    },
                  } only %}
                  {% include '@bolt-components-list/list.twig' with {
                    items: [
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                    ]
                  } only %}
                </div>
                <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
                  {% include '@bolt-components-headline/headline.twig' with {
                    text: 'Category',
                    size: 'large',
                    tag: 'h3',
                    attributes: {
                      class: 'u-bolt-margin-bottom-small',
                    },
                  } only %}
                  {% include '@bolt-components-list/list.twig' with {
                    items: [
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                      more_filter_input,
                    ]
                  } only %}
                </div>
              </div>
              {% include '@bolt-components-list/list.twig' with {
                display: 'inline',
                align: 'end',
                items: [
                  cancel_button,
                  apply_button,
                ],
                attributes: {
                  slot: 'footer',
                }
              } only %}
            {% endset %}
            {% include '@bolt-components-modal/modal.twig' with {
              content: modal_content,
              attributes: {
                class: 'js-bolt-modal',
              },
            } only %}
          {% endset %}
          {% include '@bolt-components-list/list.twig' with {
            display: 'inline',
            align: 'center',
            spacing: 'small',
            items: [
              filter_input_1,
              filter_input_2,
              filter_input_3,
              filter_input_4,
              filter_input_5,
              filter_button,
            ]
          } only %}
        </form> #}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_article }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_article }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_article }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-text-align-center">
        {% include '@bolt-components-button/button.twig' with {
          text: 'Load more',
        } only %}
      </div>
    </div>
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'light',
  } only %}

  {% set carousel %}
    {% set slide %}
      {{ item_article }}
    {% endset %}
    {% include '@bolt-components-carousel/carousel.twig' with {
      slides_per_view: 3,
      nav_button_position: 'outside',
      slides: [
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
      ],
    } only %}
  {% endset %}

  {% set view_all_button %}
    {% include '@bolt-components-button/button.twig' with {
      text: 'View all',
      size: 'xsmall',
      type: 'button',
    } only %}
  {% endset %}

  {% set band_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Most viewed',
      size: 'xxlarge',
      tag: 'h2',
    } only %}
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  <hr>

  {% set band_content %}
    {% set headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'PW replays',
        size: 'xxlarge',
        tag: 'h2',
      } only %}
    {% endset %}
    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      spacing: 'medium',
      items: [
        headline,
        view_all_button,
      ],
    } only %}
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  <hr>

  {% set band_content %}
    {% set headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Customer success',
        size: 'xxlarge',
        tag: 'h2',
      } only %}
    {% endset %}
    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      spacing: 'medium',
      items: [
        headline,
        view_all_button,
      ],
    } only %}
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}
{% endblock %}
