{% extends '@pl/_default-page-template.twig' %}

{% block main_content %}
  {% set modal_id = 'js-bolt-modal-' ~ random() %}

  {% set modal_content %}
    {% set video %}
      <video-js
        data-delayed-account='1900410236'
        data-delayed-player='O3FkeBiaDz'
        data-embed='default'
        data-delayed-video-id='4892122320001'
        data-video-delayed
        controls
        data-media-title
        data-media-duration
        class="c-base-video"></video-js>
    {% endset %}

    {% include '@bolt-components-ratio/ratio.twig' with {
      children: video,
      ratio: '16/9'
    } only %}
  {% endset %}

  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    width: 'optimal',
    spacing: 'none',
    theme: 'none',
    scroll: 'overall',
    attributes: {
      id: modal_id,
    },
  } only %}

  {% set like %}
    {% set icon_heart %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'heart',
      } only %}
    {% endset %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'Like',
      icon_before: icon_heart,
      reversed_underline: true,
      attributes: {
        type: 'button',
        class: 'js-bolt-like-button',
      },
    } only %}
  {% endset %}

  {% set share %}
    {% set share_menu %}
      {% include '@bolt-components-share/share.twig' with {
        display: 'menu',
        text: 'Share this content',
        sources: [
          {
            name: 'facebook',
            attributes: {
              href: 'https://www.facebook.com/sharer/sharer.php?u=https://google.com&amp;src=sdkpreparse'
            }
          },
          {
            name: 'twitter',
            attributes: {
              href: 'https://twitter.com/intent/tweet?url=https://google.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
            }
          },
          {
            name: 'linkedin',
            attributes: {
              href: 'https://www.linkedin.com/shareArticle?url=https://google.com'
            }
          },
          {
            name: 'email',
            attributes: {
              href: 'mailto:?&body=Sample%20Text%20--%20https%3A//mail.com'
            }
          }
        ],
        copy_to_clipboard: {
          text_to_copy: 'https://google.com',
        },
      } only %}
    {% endset %}
    {% set share_popover_trigger %}
      {% set icon_share %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'share',
        } only %}
      {% endset %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Share',
        icon_before: icon_share,
        reversed_underline: true,
        attributes: {
          type: 'button'
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: share_popover_trigger,
      content: share_menu,
      spacing: 'none',
    } only %}
  {% endset %}

  {% set download %}
    {% set icon_download %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'download',
      } only %}
    {% endset %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'Download slides',
      icon_before: icon_download,
      reversed_underline: true,
      attributes: {
        href: 'https://www.google.com/',
      },
    } only %}
  {% endset %}

  {% set video_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/content/promos/promo-16x9-ai.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set external_link_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/signifier-external-link.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set pdf_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/signifier-pdf.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set featured_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/content/promos/promo-16x9-mask.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set chip_list_content %}
    {% include '@bolt-components-chip-list/chip-list.twig' with {
      size: 'xsmall',
      items: [
        {
          text: 'Chip 1',
        },
        {
          text: 'Chip 2',
        },
      ],
    } only %}
  {% endset %}

  {% set video_teaser_props = {
    layout: 'vertical',
    type: 'video',
    time: '6:29',
    signifier: video_image,
    headline: {
      text: 'Video title t-bone short ribs swine biltong beef ribs capicola sausage beef',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set external_link_teaser_props = {
    layout: 'vertical',
    type: 'external-link',
    time: '10 min read',
    signifier: external_link_image,
    headline: {
      text: 'External link title fatback jerky chuck landjaeger corned beef pork t-bone jowl',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set pdf_teaser_props = {
    layout: 'vertical',
    type: 'pdf',
    time: '3 min read',
    signifier: pdf_image,
    headline: {
      text: 'PDF title pastrami buffalo beef ribs shankle turducken pork porchetta shankle',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set featured_teaser_props = {
    layout: 'responsive',
    gutter: 'large',
    type: 'video',
    signifier: featured_image,
    eyebrow_text: 'Featured',
    headline: {
      text: 'Some awesome featured teaser dolore adipisicing dolore veniam occaecat cillum laboris aliqua',
      tag: 'h2',
      size: 'xlarge',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Aliqua voluptate amet do laborum culpa tempor consectetur culpa consectetur ea. Ea officia quis do enim. Id consectetur dolor voluptate eu veniam anim adipisicing dolor ut occaecat officia fugiat magna reprehenderit.',
    } ,
    time: '4:55',
  } %}

  {% set video_teaser_props = video_teaser_props|merge({
    like: like,
    share: share,
    download: download,
    status: {
      views: '27',
    }
  }) %}
  {% set external_link_teaser_props = external_link_teaser_props|merge({
    like: like,
    share: share,
    status: {
      views: '3k',
    }
  }) %}
  {% set pdf_teaser_props = pdf_teaser_props|merge({
    like: like,
    share: share,
    status: {
      views: '66',
    }
  }) %}
  {% set featured_teaser_props = featured_teaser_props|merge({
    like: like,
    share: share,
    download: download,
    status: {
      views: '20k',
    }
  }) %}

  {% set item_video %}
    {% include '@bolt-components-teaser/teaser.twig' with video_teaser_props only %}
  {% endset %}

  {% set item_external_link %}
    {% include '@bolt-components-teaser/teaser.twig' with external_link_teaser_props only %}
  {% endset %}

  {% set item_pdf %}
    {% include '@bolt-components-teaser/teaser.twig' with pdf_teaser_props only %}
  {% endset %}

  {% set item_featured %}
    {% include '@bolt-components-teaser/teaser.twig' with featured_teaser_props only %}
  {% endset %}

  {% set band_content %}
    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center o-bolt-grid--middle o-bolt-grid--large">
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-8/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'Pegaworld replays',
          size: 'xxxlarge',
          align: 'center',
          tag: 'h1',
        } only %}
        {% include '@bolt-components-headline/subheadline.twig' with {
          text: 'From flawless customer engagement to operational excellence, Pega empowers the world&rsquo;s leading companies to achieve breakthrough results.',
          size: 'xlarge',
          align: 'center',
          tag: 'p',
        } only %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-10/12@small">
        {{ item_featured }}
      </div>
    </div>
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'dark',
    background: {
      opacity: 'none',
      content_items: [
        {
          pattern: 'image',
          src: '/images/backgrounds/navy-light-circles.jpg',
          lazyload: true,
        },
      ]
    },
  } only %}

  {% set band_content %}
    {% set year_select %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Year',
          displayType: 'block',
          attributes: {
            for: 'year-select',
            hidden: true
          },
        } only %}
      {% endset %}
      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          title: 'Country',
          options: [
            {
              type: 'option',
              value: 'pegaworld-2020',
              label: 'Pegaworld 2020'
            },
            {
              type: 'option',
              value: 'pegaworld-2019',
              label: 'Pegaworld 2019'
            },
            {
              type: 'option',
              value: 'pegaworld-2018',
              label: 'Pegaworld 2018'
            },
          ],
          attributes: {
            id: 'year-select',
            name: 'year-select',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        children: select,
        labelDisplay: 'before',
      } only %}
    {% endset %}

    {% set filter_button %}
      {% set _filter_icon %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: "filter"
        } only %}
      {% endset %}
      {% include '@bolt-elements-button/button.twig' with {
        content: 'Filters',
        hierarchy: 'secondary',
        display: 'block',
        attributes: {
          type: 'button',
          'data-bolt-modal-target': '.js-bolt-modal'
        },
        icon_before: _filter_icon
      } only %}
      {% set apply_button %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Save',
          size: 'small',
          attributes: {
            type: 'submit',
          }
        } only %}
      {% endset %}
      {% set cancel_button %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Cancel',
          size: 'small',
          hierarchy: 'transparent',
          attributes: {
            type: 'button',
            'data-bolt-modal-target': '.js-bolt-modal',
          },
        } only %}
      {% endset %}
      {% set modal_content %}
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'More filters',
          size: 'xlarge',
          tag: 'h2',
          attributes: {
            slot: 'header',
          }
        } only %}
        <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
          {% set more_filter_input %}
            <input type="checkbox" id="more-filter-1" class="c-bolt-input c-bolt-input--checkbox">
            <label for="more-filter-1" class="c-bolt-inline-label c-bolt-inline-label--checkbox">Filter name</label>
          {% endset %}
          <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
            {% include '@bolt-components-headline/headline.twig' with {
              text: 'Category',
              size: 'large',
              tag: 'h3',
              attributes: {
                class: 'u-bolt-margin-bottom-small',
              },
            } only %}
            {% include '@bolt-components-list/list.twig' with {
              items: [
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
              ]
            } only %}
          </div>
          <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
            {% include '@bolt-components-headline/headline.twig' with {
              text: 'Category',
              size: 'large',
              tag: 'h3',
              attributes: {
                class: 'u-bolt-margin-bottom-small',
              },
            } only %}
            {% include '@bolt-components-list/list.twig' with {
              items: [
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
              ]
            } only %}
          </div>
          <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-4/12@small">
            {% include '@bolt-components-headline/headline.twig' with {
              text: 'Category',
              size: 'large',
              tag: 'h3',
              attributes: {
                class: 'u-bolt-margin-bottom-small',
              },
            } only %}
            {% include '@bolt-components-list/list.twig' with {
              items: [
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
                more_filter_input,
              ]
            } only %}
          </div>
        </div>
        {% include '@bolt-components-list/list.twig' with {
          display: 'inline',
          align: 'end',
          items: [
            cancel_button,
            apply_button,
          ],
          attributes: {
            slot: 'footer',
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-modal/modal.twig' with {
        content: modal_content,
        attributes: {
          class: 'js-bolt-modal',
        },
      } only %}
    {% endset %}

    {% set sort_select %}
      {% set label %}
        {% include '@bolt-components-form/form-label.twig' with {
          title: 'Sort by',
          displayType: 'block',
          attributes: {
            for: 'sort-select',
            hidden: true
          },
        } only %}
      {% endset %}
      {% set select %}
        {% include '@bolt-components-form/form-select.twig' with {
          title: 'Country',
          options: [
            {
              type: 'option',
              value: 'most-viewed',
              label: 'Most viewed',
            },
            {
              type: 'option',
              value: 'most-recent',
              label: 'Most recent',
            },
            {
              type: 'option',
              value: 'by-type',
              label: 'By type',
            }
          ],
          attributes: {
            id: 'sort-select',
            name: 'sort-select',
          },
        } only %}
      {% endset %}
      {% include '@bolt-components-form/form-element.twig' with {
        label: label,
        labelDisplay: 'before',
        children: select,
      } only %}
    {% endset %}

    <form class="c-bolt-form">
      {% set form_items = [year_select, filter_button] %}

      {% set form_list %}
        {% include '@bolt-components-list/list.twig' with {
          display: 'inline',
          align: 'start',
          items: form_items,
        } only %}
      {% endset %}

      <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--small">
        <div class="o-bolt-grid__cell u-bolt-width-6/12@small u-bolt-flex-grow">
          {{ form_list }}
        </div>
        <div class="o-bolt-grid__cell u-bolt-flex-shrink">
          {{ sort_select }}
        </div>
      </div>
    </form>

    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix">
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_pdf }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_external_link }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_external_link }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_pdf }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-text-align-center">
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Load more',
          attributes: {
            type: 'button'
          }
        } only %}
      </div>
    </div>
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

    {% include '@pl/_boc-like-button-js.twig' %}

{% endblock %}
