{% extends '@pl/_default-page-template.twig' %}

{% block main_content %}
  {% set modal_id = 'js-bolt-modal-' ~ random() %}

  {% set modal_content %}
    {% set video %}
      <video-js
        data-delayed-account='1900410236'
        data-delayed-player='O3FkeBiaDz'
        data-delayed-video-id='4892122320001'
        data-video-delayed
        data-embed='default'
        controls
        data-media-title
        data-media-duration
        class="c-base-video"></video-js>
    {% endset %}

    {% include '@bolt-components-ratio/ratio.twig' with {
      children: video,
      ratio: '16/9'
    } only %}
  {% endset %}

  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    width: 'optimal',
    spacing: 'none',
    theme: 'none',
    scroll: 'overall',
    attributes: {
      id: modal_id,
    },
  } only %}

  {% set like %}
    {% set icon_heart %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'heart',
      } only %}
    {% endset %}
    {% include '@bolt-elements-text-link/text-link.twig' with {
      content: 'Like',
      icon_before: icon_heart,
      reversed_underline: true,
      attributes: {
        type: 'button',
        class: 'js-bolt-like-button',
      },
    } only %}
  {% endset %}

  {% set share %}
    {% set share_menu %}
      {% include '@bolt-components-share/share.twig' with {
        display: 'menu',
        text: 'Share this content',
        sources: [
          {
            name: 'facebook',
            attributes: {
              href: 'https://www.facebook.com/sharer/sharer.php?u=https://pega.com&amp;src=sdkpreparse'
            }
          },
          {
            name: 'twitter',
            attributes: {
              href: 'https://twitter.com/intent/tweet?url=https://pega.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!'
            }
          },
          {
            name: 'linkedin',
            attributes: {
              href: 'https://www.linkedin.com/shareArticle?url=https://pega.com'
            }
          },
          {
            name: 'email',
            attributes: {
              href: 'mailto:?&body=Sample%20Text%20--%20https%3A//pega.com'
            }
          }
        ],
        copy_to_clipboard: {
          text_to_copy: 'https://pega.com',
        },
      } only %}
    {% endset %}
    {% set share_popover_trigger %}
      {% set icon_share %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'share',
        } only %}
      {% endset %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Share',
        icon_before: icon_share,
        reversed_underline: true,
        attributes: {
          type: 'button'
        },
      } only %}
    {% endset %}
    {% include '@bolt-components-popover/popover.twig' with {
      trigger: share_popover_trigger,
      content: share_menu,
      spacing: 'none',
    } only %}
  {% endset %}

  {% set video_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/content/promos/promo-16x9-ai.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set external_link_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/signifier-external-link.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set pdf_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/placeholders/signifier-pdf.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set locked_image %}
    {% include '@bolt-elements-image/image.twig' with {
      attributes: {
        src: '/images/content/promos/promo-16x9-mask.jpg',
        alt: 'Alt text.',
        loading: 'lazy',
      }
    } only %}
  {% endset %}

  {% set chip_list_content %}
    {% include '@bolt-components-chip-list/chip-list.twig' with {
      size: 'xsmall',
      items: [
        {
          text: 'Chip 1',
        },
        {
          text: 'Chip 2',
        },
      ],
    } only %}
  {% endset %}

  {% set video_teaser_props = {
    layout: 'vertical',
    type: 'video',
    time: '6:29',
    signifier: video_image,
    headline: {
      text: 'Video title t-bone short ribs swine biltong beef ribs capicola sausage beef',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set external_link_teaser_props = {
    layout: 'vertical',
    type: 'external-link',
    time: '10 min read',
    signifier: external_link_image,
    headline: {
      text: 'External link title fatback jerky chuck landjaeger corned beef pork t-bone jowl',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set pdf_teaser_props = {
    layout: 'vertical',
    type: 'pdf',
    time: '7 pages',
    signifier: pdf_image,
    headline: {
      text: 'PDF title pastrami buffalo beef ribs shankle turducken pork porchetta shankle',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% set locked_teaser_props = {
    layout: 'vertical',
    type: 'pdf',
    time: '6 min read',
    signifier: locked_image,
    headline: {
      text: 'Locked title pastrami buffalo beef ribs shankle turducken pork porchetta shankle',
      tag: 'h3',
      size: 'large',
      link_attributes: {
        type: 'button',
        'data-bolt-modal-target': '#' ~ modal_id,
      },
    },
    description: {
      content: 'Chicken bacon doner pancetta pork corned beef, swine jowl burgdoggen pastrami buffalo beef ribs shankle. Turducken pork porchetta shankle, salami short ribs corned beef. Short ribs turkey burgdoggen, fatback jerky chuck landjaeger corned beef pork t-bone jowl hamburger brisket strip steak. Tenderloin cow bacon cupim t-bone short ribs swine biltong beef ribs capicola sausage beef.',
      show_on_hover: true,
    },
    chip_list: chip_list_content,
  } %}

  {% if phase1 or phase2 %}
    {% set video_teaser_props = video_teaser_props|merge({ 
      like: like,
      share: share, 
    }) %}
    {% set external_link_teaser_props = external_link_teaser_props|merge({ 
      like: like,
      share: share, 
    }) %}
    {% set pdf_teaser_props = pdf_teaser_props|merge({ 
      like: like,
      share: share, 
    }) %}
    {% set locked_teaser_props = locked_teaser_props|merge({ 
      like: like,
      share: share, 
      status: {
        locked: true,
      } 
    }) %}
  {% endif %}

  {% if phase2 %}
    {% set video_teaser_props = video_teaser_props|merge({ 
      status: {
        views: '27',
      } 
    }) %}
    {% set external_link_teaser_props = external_link_teaser_props|merge({ 
      status: {
        views: '3k',
      } 
    }) %}
    {% set pdf_teaser_props = pdf_teaser_props|merge({ 
      status: {
        views: '66',
      } 
    }) %}
    {% set locked_teaser_props = locked_teaser_props|merge({ 
      status: {
        views: '20k',
        locked: true,
      } 
    }) %}
  {% endif %}

  {% set item_video %}
    {% include '@bolt-components-teaser/teaser.twig' with video_teaser_props only %}
  {% endset %}

  {% set item_external_link %}
    {% include '@bolt-components-teaser/teaser.twig' with external_link_teaser_props only %}
  {% endset %}

  {% set item_pdf %}
    {% include '@bolt-components-teaser/teaser.twig' with pdf_teaser_props only %}
  {% endset %}

  {% set item_locked %}
    {% include '@bolt-components-teaser/teaser.twig' with locked_teaser_props only %}
  {% endset %}

  {% set band_content %}
    <div class="o-bolt-grid o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center">
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-8/12@small">
        {% include '@bolt-components-headline/headline.twig' with {
          text: 'The best ideas now',
          size: 'xxxlarge',
          align: 'center',
          tag: 'h1',
        } only %}
        {% include '@bolt-components-headline/subheadline.twig' with {
          text: 'Browse our collection of fresh insights, essential new research, and more.',
          size: 'xlarge',
          align: 'center',
          tag: 'p',
        } only %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12">
        {% if phase1 or phase2 %}
          {% include '_boc-quick-filters.twig' %}
        {% endif %}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_pdf }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_locked }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_external_link }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_locked }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-width-6/12@small u-bolt-width-4/12@medium">
        {{ item_video }}
      </div>
      <div class="o-bolt-grid__cell u-bolt-width-12/12 u-bolt-text-align-center">
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Load more',
          attributes: {
            type: 'button'
          }
        } only %}
      </div>
    </div>
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'light',
    background: {
      opacity: 'none',
      content_items: [
        {
          pattern: 'image',
          src: '/images/backgrounds/teal-shapes.png',
          lazyload: true,
        },
      ]
    },
  } only %}

  {% set carousel %}
    {% set slide %}
      {{ item_pdf }}
    {% endset %}
    {% include '@bolt-components-carousel/carousel.twig' with {
      slides_per_view: 4,
      nav_button_position: 'outside',
      slides: [
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
        slide,
      ],
    } only %}
  {% endset %}

  {% set view_all_button %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'View all',
      size: 'xsmall',
      attributes: {
        type: 'button'
      }
    } only %}
  {% endset %}

  {% set band_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: "Alan's picks",
      size: 'xxlarge',
      tag: 'h2',
    } only %}

    {% include '@bolt-components-headline/subheadline.twig' with {
      text: 'Explore content hand-picked by our Founder and CEO, Alan Trefler.',
      size: 'large',
      align: 'left',
      tag: 'p',
    } only %}

    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  <hr>

  {% set band_content %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Most popular',
      size: 'xxlarge',
      tag: 'h2',
    } only %}
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  <hr>

  {% set band_content %}
    {% set headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'PegaWorld Replays',
        size: 'xxlarge',
        tag: 'h2',
      } only %} 
    {% endset %}

    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      spacing: 'medium',
      align: 'start',
      items: [
        headline,
        view_all_button
      ],
    } only %}
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  <hr>

  {% set band_content %}
    {% set headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Customer Success',
        size: 'xxlarge',
        tag: 'h2',
      } only %} 
    {% endset %}

    {% include '@bolt-components-list/list.twig' with {
      display: 'inline',
      spacing: 'medium',
      align: 'start',
      items: [
        headline,
        view_all_button
      ],
    } only %} 
    {{ carousel }}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    content: band_content,
    theme: 'xlight',
  } only %}

  {% if phase1 or phase2 %}
    {% include '@pl/_boc-like-button-js.twig' %}
  {% endif %}
{% endblock %}
