{% if componentName %}
  {% set data = getBoltData() %} {# grab a fresh copy of the full manifest data to reflect schema.yml file changes, etc #}
  {% set componentGroup = componentGroup|default("components") %}
  {% set readme_file = "@bolt-#{componentGroup}-#{componentName}/README.md" %}
  {% set change_log_file = "@bolt-#{componentGroup}-#{componentName}/CHANGELOG.md" %}
  {% set pkg = get_data("@bolt-#{componentGroup}-#{componentName}/package.json") %}
  {# Handle multiple schemas #}
  {% if data.components["@bolt-#{componentGroup}-#{componentName}"].schema["#{componentName}"] is defined %}
    {% set component_schemas = data.components["@bolt-#{componentGroup}-#{componentName}"].schema %}
    {% set schema = component_schemas["#{componentName}"] %}
  {% else %} 
    {% set schema = data.components["@bolt-#{componentGroup}-#{componentName}"].schema %}
  {% endif %}
{% endif %}

{% set component_version = pkg.version %}
{% set has_js = pkg.main %}
{% set has_scss = pkg.sass %}
{% set component_title = pkg.name %}
{% set has_readme = fileExists(readme_file) %}
{% set has_changelog = fileExists(change_log_file) %}

{% set is_private = pkg.private or not has_changelog ? true : false %}

{% set usage_content %}{{ usage }}{% endset %}


{% set component_status %}
  <bolt-text font-size="xsmall">
    {% if is_private == true %}
      <span class="u-bolt-color-error"><bolt-icon name="refresh"></bolt-icon> <strong>In Progress (Unreleased)</strong></span>
    {% else %}
      <span class="u-bolt-color-success"><bolt-icon name="check-solid"></bolt-icon> <strong>Published</strong></span>
    {% endif %}
  </bolt-text>
{% endset %}

{% set component_last_updated %}
  <bolt-text font-size="xsmall">
    <span style="white-space: nowrap">Last updated: <strong>{{ component_version }}</strong></span>
  </bolt-text>
{% endset %}

{% set component_change_log %}
  {% if has_changelog %}
    <bolt-text font-size="xsmall">
      <a target="_blank" href="{{ github_url(change_log_file) }}">Change log</a>
    </bolt-text>
  {% endif %}
{% endset %}

{% set component_github %}
  {% if has_readme %}
    <bolt-text font-size="xsmall">
      <a target="_blank" href="{{ github_url(readme_file) | replace({'README.md':''}) }}">Github</a>
    </bolt-text>
  {% endif %}
{% endset %}

{% set component_npm %}
  <bolt-text font-size="xsmall">
    <a target="_blank" href="https://www.npmjs.com/package/{{ component_title }}">NPM</a>
  </bolt-text>
{% endset %}

{% set hero_content %}
  {% include "@bolt-components-headline/headline.twig" with {
    text: componentName|replace({'-' : ' '})|title,
    size: "xxxlarge",
    tag: "h1",
    attributes: {
      class: "u-bolt-margin-bottom-small",
    },
  } only %}
  {% if pkg.description %}
    {% include "@bolt-components-headline/subheadline.twig" with {
      text: pkg.description,
      size: "xlarge",
      tag: "h2",
      attributes: {
        class: "u-bolt-margin-bottom-small",
      },
    } only %}
  {% endif %}

  {% include "@bolt-components-list/list.twig" with {
    display: "inline",
    separator: "solid",
    items: [
      component_status,
      is_private == false ? component_last_updated,
      is_private == false ? component_change_log,
      is_private == false and has_changelog ? component_github,
      is_private == false ? component_npm,
    ]
  } only %}
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: hero_content,
  theme: "light",
} only %}

{% set body_content %}
  <bolt-tabs label-spacing="medium" panel-spacing="medium" inset="off">

    {# Twig Usage #}
    {% if usage_content %}
      <bolt-tab-panel id="twig-usage">
        <bolt-text slot="label" tag="h2">Twig Usage</bolt-text>

        {% include '@bolt-components-code-snippet/code-snippet.twig' with {
          content: usage_content,
          lang: 'twig',
          mode: 'dark',
        } only %}
      </bolt-tab-panel>
    {% endif %}

    {# Schema #}
    {% if schema and schema.properties %}
      <bolt-tab-panel id="schema">
        <bolt-text slot="label" tag="h2">Schema</bolt-text>

        {% include "@utils/schema-docs.twig" with { schemas: component_schemas|default([schema]) } only %}
      </bolt-tab-panel>
    {% endif %}

    {# Install #}
    <bolt-tab-panel id="install">
      <bolt-text slot="label" tag="h2">Install</bolt-text>

      <bolt-text headline font-size="xlarge" tag="h3">
        Install
      </bolt-text>
      {% include '@bolt-components-code-snippet/code-snippet.twig' with {
        content: 'npm install ' ~ component_title,
        mode: 'dark',
        lang: 'bash',
      } only %}

      {% if pkg.dependencies %}
        <bolt-text headline font-size="xlarge" tag="h3">
          Dependencies
        </bolt-text>
        <bolt-list display="inline" separator="solid" spacing="small">
          {% for key, value in pkg.dependencies %}
            <bolt-list-item>
              <bolt-text>
                <a target="_blank" href="https://www.npmjs.com/package/{{ key }}">{{ key }}</a>
              </bolt-text>
            </bolt-list-item>
          {% endfor %}
        </bolt-list>
      {% endif %}
    </bolt-tab-panel>
  </bolt-tabs>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: body_content,
  size: "small",
  theme: "xlight",
} only %}
