{% if componentName %}
  {% set data = getBoltData() %} {# grab a fresh copy of the full manifest data to reflect schema.yml file changes, etc #}
  {% set schema = data.components["@bolt-components-#{componentName}"].schema %}
  {% set readme_file = "@bolt-components-#{componentName}/README.md" %}
  {% set change_log_file = "@bolt-components-#{componentName}/CHANGELOG.md" %}
  {% set testing_file = "@bolt-components-#{componentName}/TESTING.md" %}
  {% set pkg = get_data("@bolt-components-#{componentName}/package.json") %}
{% endif %}

{% set component_version = pkg.version %}
{% set has_js = pkg.main %}
{% set has_scss = pkg.sass %}
{% set component_title = pkg.name %}

{% set is_private = pkg.private or fileExists(change_log_file) == false ? true : false %}

{% set npm_link %}
  {% include "@bolt-components-link/link.twig" with {
    text: "yarn add #{component_title}",
    url: "https://www.npmjs.com/package/#{component_title}",
    target: "_blank",
    isHeadline: true,
  } only %}
{% endset %}

{# {% include "@bolt-components-list/list.twig" with {
  display: "inline",
  separator: "solid",
  items: [
    include("@bolt-components-text/text.twig", {
      text: "Last Updated: <code>#{component_version}</code>"
    }),
    include("@bolt-components-text/text.twig", {
      text: "NPM Package: #{npm_link}",
    }),

  ]
} only %} #}

{% set component_explorer %}
  {% if schemaForm and schema %}
    <bolt-component-demo>
      {% set schema_form = schemaForm | merge({ schema: schema }) %}
      {% set definitions = {} %}
      {% set properties = {} %}
      {% set schema_uuid = random() %}

      {% for key, prop in schema.properties %}
        {% set property_values = {} %}
        {% set property_values = schema.properties[key] %}

        {% if prop.ref %}
          {% set ref_name = prop.ref|split("/")[0] | replace({'@':''}) %}
          {% set reference_data = get_data(prop.ref) %}
          {% set reference = {} %}

          {% if reference_data.type %}
            {% set reference = reference | merge({
                type: reference_data.type
              }) %}
          {% endif %}

          {% if reference_data.properties %}
            {% set reference = reference | merge({
                properties: reference_data.properties
              }) %}
          {% endif %}

          {% if reference_data.required %}
            {% set reference = reference | merge({
                required: reference_data.required
              }) %}
          {% endif %}

          {% if reference_data.enum %}
            {% set reference = reference | merge({
                enum: reference_data.enum
              }) %}
          {% endif %}

          {% if reference_data.default %}
            {% set reference = reference | merge({
                default: reference_data.default
              }) %}
          {% endif %}

          {% set definitions = definitions | merge({
              ("" ~ ref_name): reference
            }) %}

          {% set property_values = property_values | merge({
              "$ref": '#/definitions/' ~ prop.ref | split("/")[0] | replace({'@': ''})
            }) %}
          {# {% set newSchema = newSchema | merge(newSchema.properties[key]['$ref'] = '#/definitions/' ~ prop.ref %}
                    {% set newSchema  newSchema | merge({
                      definitions
                    }.['definitions'][prop.ref] = reference %} #}
        {% endif %}

        {% set properties = properties | merge({
            ("" ~ key): property_values
          }) %}
      {% endfor %}

      {% if definitions %}
        {% set schema = schema | merge({
            definitions: definitions,
          }) %}
      {% endif %}

      {% if properties %}
        {% set schema = schema | merge({
            properties: properties,
          }) %}
      {% endif %}

      <script id="schema-{{ schema_uuid }}" type="application/json">
        {{ schema | json_encode() | raw }}
      </script>
      <bolt-component-explorer schema-uuid="schema-{{ schema_uuid }}" initial-layout="{{ schema_form.layout }}" template="{{ schema_form.template }}" form-data="{{ schema_form.initialData | json_encode() | escape('html_attr') }}">
        <replace-with-children style="background-color: #f6f6f9; border: 1px solid rgba(0, 0, 0, .075); display: flex; margin: 0 auto; max-width: 100%; min-height: 320px; -webkit-overflow-scroll: touch">
          <replace-with-children class="u-bolt-flex-grow u-bolt-flex-shrink u-bolt-width-1/1 u-bolt-width-6/10@xsmall" style="background-color: #fff; border: 1px solid rgba(0, 0, 0, .075); display: flex; position: relative;">
            <replace-with-children class="u-bolt-padding-medium c-bds-component-explorer__demo-container" style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: #fff;">
              Loading...
            </replace-with-children>
          </replace-with-children>
          <replace-with-children class="u-bolt-flex-grow u-bolt-flex-shrink u-bolt-width-1/1 u-bolt-width-4/10@xsmall" style="flex-basis: 200px; overflow: visible; margin-left: auto; position: relative; display: flex;">
            <replace-with-children
              style="-webkit-overflow-scroll: touch; padding: .5rem; border: 1px solid #d8d8da; width: 100%;">
            </replace-with-children>
          </replace-with-children>
        </replace-with-children>
      </bolt-component-explorer>
    </bolt-component-demo>
  {% endif %}
{% endset %}

{% set code %}
{% spaceless %}
  {{ usage }}
{% endspaceless %}
{% endset %}

<div class="c-bds-docs t-bolt-xlight">
  <div class="c-bds-docs__page-intro">

    {% grid "o-bolt-grid--matrix u-bolt-margin-top-medium" %}
      {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small u-bolt-width-3/5@large" %}

        {% if is_private == false %}
          {% include "@bolt-components-text/text.twig" with {
            text: "<code>" ~ component_version ~ "</code>",
            size: "xsmall",
            attributes: {
              class: "u-bolt-margin-bottom-none"
            }
          } only %}
        {% endif %}

        {% include "@bolt/headline.twig" with {
          size: "xxxlarge",
          tag: "h1",
          text: schema.title ? schema.title : "Component Title"
        } only %}

        {% if pkg.description %}
          {% include "@bolt/subheadline.twig" with {
              size: "xlarge",
              tag: "p",
              text: pkg.description,
              attributes: {
                style: "max-width: 1024px",
                class: "u-bolt-margin-bottom-medium@small",
              }
            } only %}
        {% endif %}
      {% endcell %}

      {% cell "u-bolt-width-1/1 u-bolt-width-1/2@small u-bolt-width-2/5@large" %}
        <div class="c-bds-component-status c-bds-component-status--released c-bds-component-status--{{ is_private ? 'inprogress' : 'released'}}">
          <div class="c-bds-component-status__title">
            {% include "@bolt-components-headline/headline.twig" with {
              text: is_private ? "In Progress (Unreleased)" : "Published",
              size: "small",
              icon: {
                name: is_private ? "refresh" : "check-solid",
                position: "after"
              }
            } only %}
          </div>

          <dl class="c-bds-component-status__definition">
            <dt>History</dt>
            <dd>
              {{ fileExists(change_log_file) ? include("@bolt/link.twig", {
                text: "View changes",
                url: github_url(change_log_file),
                target: "_blank",
                display: "flex",
                isHeadline: true
              }) : 'No component history...' }}
            </dd>

            {% if is_private == false %}
              <dt>Install</dt>
              <dd>
                {{ npm_link }}
              </dd>
            {% endif %}

            {% if is_private == false %}
              <dt>Source code</dt>
              <dd>
                {% include "@bolt-components-link/link.twig" with {
                text: "View on Github",
                url: github_url(readme_file) | replace({'README.md':''}),
                target: "_blank",
                display: "flex",
                isHeadline: true,
                icon: {
                  name: "github"
                }
              } only %}
              </dd>
            {% endif %}

             {% if pkg.dependencies %}
              <dt>Dependencies</dt>
              <dd>
                {% set deps = [] %}
                {% for key, value in pkg.dependencies %}
                  {% set deps = deps | merge([
                    include("@bolt-components-link/link.twig", {
                      text: key,
                      url: "https://www.npmjs.com/package/#{key}",
                      isHeadline: true,
                    })
                  ]) %}
                {% endfor %}

              {% include "@bolt-components-list/list.twig" with {
                display: "inline",
                separator: "solid",
                items: deps,
              } only %}
              </dd>
            {% endif %}
          </dl>
        </div>
      {% endcell %}
    {% endgrid %}
    {# Component Explorer being temporarily disabled until we've migrated our Twig Rendering Service to Now.sh v2 #}
    {# {{ component_explorer }} #}
    {% if schemaForm and schema %}
      {% include "@bolt-site/gearbox.twig" with {
        text: "Bolt's Component Explorer is being upgraded. It'll return in a future release!"
      } only %}
    {% endif %}
  </div>

  <div class="c-bds-docs__page-content">
    {% if readme_file %}
      <div class="c-bds-docs__readme">
        {% include "@bolt/headline.twig" with {
          size: "xxlarge",
          tag: "h2",
          url: "#overview",
          text: "Overview",
          icon: "none",
          attributes: {
            class: [
              "u-bolt-margin-bottom-xsmall",
              "c-bds-docs__heading-fragment"
            ],
            id: "overview"
          }
        } only %}
        <div class="c-bds-docs__lead u-bolt-margin-bottom-large">
          {{ source(readme_file) | markdown }}
        </div>
      </div>
    {% endif %}

    {% if code %}
      {% include "@bolt/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#usage",
        text: "Usage",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bds-docs__heading-fragment"
          ],
          id: "usage"
        }
      } only %}
      <div class="u-bolt-margin-bottom-large">
        {% include "@bolt-components-code-snippet/code-snippet.twig" with {
          display: "block",
          lang: "twig",
          content: code
        } only %}
      </div>
    {% endif %}


    {% if schema and schema.properties %}
      {% include "@bolt/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#schema",
        text: "Schema",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bds-docs__heading-fragment"
          ],
          id: "schema"
        }
      } only %}

      <div class="u-bolt-margin-bottom-large">
        {% include '@utils/schema-docs.twig' with { schema: schema } only %}
      </div>
    {% endif %}

    {% if links %}
      {% include "@bolt/headline.twig" with {
        size: "xxlarge",
        tag: "h2",
        url: "#helpful-links",
        text: "Helpful Links",
        icon: "none",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xsmall",
            "c-bds-docs__heading-fragment"
          ],
          id: "schema"
        }
      } only %}

      <ul class="c-bds-docs__page-nav-list u-bolt-margin-bottom-large">
        {% for link in links %}
          <li>
            {% include "@bolt/headline.twig" with {
              size: "small",
              weight: "regular",
              transform: "capitalize",
              tag: "h4",
              text: link.text,
              url:  link.url,
              target: '_parent',
              attributes: {
                class: [
                  "c-bolt-headline--link",
                  "u-bolt-margin-bottom-none"
                ],
                'data-scroll-offset': 70
              },
              icon: "none",
            } only %}
          </li>
        {% endfor %}
      </ul>

    {% endif %}
  </div>

  {% set defaultLinks = [
    include("@bolt/link.twig", {
      text: "Overview",
      url:  "#overview",
      isHeadline: true,
    }),
    include("@bolt/link.twig", {
      text: "Usage",
      url:  "#usage",
      isHeadline: true,
    }),
    include("@bolt/link.twig", {
      text: "Schema",
      url:  "#schema",
      isHeadline: true,
    }),
  ] %}

  {% set upper_list %}
    {% include "@bolt-components-list/list.twig" with {
      display: "block",
      spacing: "xsmall",
      align: "start",
      valign: "center",
      attributes: {
        class: variations or examples ? "u-bolt-margin-bottom-small" : ""
      },
      items: defaultLinks | merge(extraLinks | default([])),
    } only %}

    {% if variations %}
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xsmall",
        tag: "h3",
        text: "Props",
        attributes: {
          class: examples ? "u-bolt-margin-bottom-xxsmall" : "u-bolt-margin-bottom-none"
        }
      } only %}

      {% include "@bolt-components-list/list.twig" with {
        display: "block",
        spacing: "xxsmall",
        align: "start",
        valign: "center",
        items: variations,
        attributes: {
          class: [
            "u-bolt-margin-left-none",
            "u-bolt-margin-bottom-small"
          ],
        }
      } only %}
    {% endif %}

    {% if examples %}
      {% include "@bolt-components-headline/headline.twig" with {
        size: "xsmall",
        tag: "h3",
        text: "Demos",
        attributes: {
          class: [
            "u-bolt-margin-bottom-xxsmall"
          ],
        }
      } only %}

      {% include "@bolt-components-list/list.twig" with {
        display: "block",
        spacing: "xxsmall",
        align: "start",
        valign: "center",
        items: examples,
        attributes: {
          class: [
            "u-bolt-margin-left-none",
            "u-bolt-margin-bottom-small"
          ],
        }
      } only %}
    {% endif %}
  {% endset %}

  {% set lower_list_items = [] %}

  {% if fileExists(readme_file) %}
    {% set lower_list_items = lower_list_items | merge([include("@bolt/link.twig", {
      text: "Edit this page",
      url: github_url(readme_file),
      target: "_blank",
      display: "flex",
      isHeadline: true,
      icon: {
        position: "after",
        size: "small",
        name: "pencil"
      },
    })
    ]) %}
  {% endif %}

  {% if fileExists(testing_file) %}
    {% set lower_list_items = lower_list_items | merge([
      include("@bolt/link.twig", {
        text: "Testing Steps",
        url: github_url(testing_file),
        target: "_blank",
        display: "flex",
        isHeadline: true,
        icon: {
          position: "after",
          size: "small",
          name: "documentation"
        }
      })
    ]) %}
  {% endif %}

  {% set lower_list %}
    {% include "@bolt-components-list/list.twig" with {
      display: "block",
      spacing: "xsmall",
      align: "start",
      valign: "center",
      items: lower_list_items,
    } only %}
  {% endset %}

  <div class="c-bds-docs__page-nav">
    {% embed "@bolt-components-sticky/sticky.twig" %}
      {% block sticky_content %}

        {% include "@bolt-components-list/list.twig" with {
          display: "block",
          spacing: "xsmall",
          separator: "solid",
          align: "start",
          valign: "center",
          inset: true,
          attributes: {
            style: [
              "font-size: 0.9em;"
            ]
          },
          items: lower_list_items is empty ? [upper_list] : [upper_list, lower_list]
        } only %}

      {% endblock %}
    {% endembed %}
  </div>
</div>

<div class="c-bds-docs__page-examples">
  {% if schema.examples %}
    {% include "@bolt-components-headline/headline.twig" with {
      size: "xlarge",
      tag: "h2",
      text: "Examples"
    } only %}

    {% for example in schema.examples %}
      {% include "@bolt-components-#{componentName}/#{componentName}.twig" ignore missing with example only %}
    {% endfor %}
  {% endif %}
</div>
