{% if componentName %}
  {% set data = getBoltData() %} {# grab a fresh copy of the full manifest data to reflect schema.yml file changes, etc #}
  {% set schema = data.components["@bolt-components-#{componentName}"].schema %}
  {% set readme_file = "@bolt-components-#{componentName}/README.md" %}
  {% set change_log_file = "@bolt-components-#{componentName}/CHANGELOG.md" %}
  {% set testing_file = "@bolt-components-#{componentName}/TESTING.md" %}
  {% set pkg = get_data("@bolt-components-#{componentName}/package.json") %}
{% endif %}

{% set component_version = pkg.version %}
{% set has_js = pkg.main %}
{% set has_scss = pkg.sass %}
{% set component_title = pkg.name %}

{% set is_private = pkg.private or fileExists(change_log_file) == false ? true : false %}

{% set usage_content %}
{% spaceless %}
  {{ usage }}
{% endspaceless %}
{% endset %}

{% set hero_content %}
  <bolt-text headline font-size="xxxlarge" tag="h1">
    {% if schema.title %}{{ schema.title }}{% else %}Component Title{% endif %}
  </bolt-text>
  {% if pkg.description %}
    <bolt-text subheadline font-size="xlarge" tag="h2">
      {{ pkg.description }}
    </bolt-text>
  {% endif %}
  <bolt-list display="inline" separator="solid">
    <bolt-list-item>
      <bolt-text font-size="xsmall">
        {% if is_private == true %}
          <span class="u-bolt-color-error"><bolt-icon name="refresh"></bolt-icon> <strong>In Progress (Unreleased)</strong></span>
        {% else %}
          <span class="u-bolt-color-success"><bolt-icon name="check-solid"></bolt-icon> <strong>Published</strong></span>
        {% endif %}
      </bolt-text>
    </bolt-list-item>
    {% if is_private == false %}
      <bolt-list-item>
        <bolt-text font-size="xsmall">
          Last updated: <strong>{{ component_version }}</strong>
        </bolt-text>
      </bolt-list-item>
      <bolt-list-item>
        <bolt-text font-size="xsmall">
          <bolt-link target="_blank" url="{{ github_url(change_log_file) }}">Change log</bolt-link>
        </bolt-text>
      </bolt-list-item>
      <bolt-list-item>
        <bolt-text font-size="xsmall">
          <bolt-link target="_blank" url="{{ github_url(readme_file) | replace({'README.md':''}) }}">Github</bolt-link>
        </bolt-text>
      </bolt-list-item>
      <bolt-list-item>
        <bolt-text font-size="xsmall">
          <bolt-link target="_blank" url="https://www.npmjs.com/package/{{ component_title }}">NPM</bolt-link>
        </bolt-text>
      </bolt-list-item>
    {% endif %}
  </bolt-list>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: hero_content,
  theme: "light",
} only %}

{% set body_content %}
  <bolt-tabs label-spacing="medium" panel-spacing="medium" inset="off">

    {# Twig Usage #}
    {% if usage_content %}
      <bolt-tab-panel>
        <bolt-text slot="label" tag="h2">Twig Usage</bolt-text>

        {% include "@bolt-components-code-snippet/code-snippet.twig" with {
          display: "block",
          lang: "twig",
          syntax: "dark",
          content: usage_content
        } only %}
      </bolt-tab-panel>
    {% endif %}

    {# Schema #}
    {% if schema and schema.properties %}
      <bolt-tab-panel>
        <bolt-text slot="label" tag="h2">Schema</bolt-text>

        {% include "@utils/schema-docs.twig" with { schema: schema } only %}
      </bolt-tab-panel>
    {% endif %}

    {# Install #}
    <bolt-tab-panel>
      <bolt-text slot="label" tag="h2">Install</bolt-text>

      <bolt-text headline font-size="xlarge" tag="h3">
        Install
      </bolt-text>
      {% include "@bolt-components-code-snippet/code-snippet.twig" with {
        display: "block",
        syntax: "dark",
        content: "npm install #{component_title}"
      } only %}

      {% if pkg.dependencies %}
        <bolt-text headline font-size="xlarge" tag="h3">
          Dependencies
        </bolt-text>
        <bolt-list display="inline" separator="solid" spacing="small">
          {% for key, value in pkg.dependencies %}
            <bolt-list-item>
              <bolt-text>
                <bolt-link target="_blank" url="https://www.npmjs.com/package/{{ key }}">{{ key }}</bolt-link>
              </bolt-text>
            </bolt-list-item>
          {% endfor %}
        </bolt-list>
      {% endif %}
    </bolt-tab-panel>
  </bolt-tabs>
{% endset %}

{% include "@bolt-components-band/band.twig" with {
  content: body_content,
  size: "small",
  theme: "xlight",
} only %}
