{% set band_content %}
  <bolt-text headline tag="h2" font-size="xlarge">
    {{ title|default('Insert title') }}
  </bolt-text>
  <bolt-stack>
    {{ description|default('Insert description.') }}
  </bolt-stack>

  {% if notes %}
    <bolt-banner align="start">
      <bolt-text headline tag="h3" font-size="medium">Important Notes:</bolt-text>
      <bolt-stack>
        {{ notes }}
      </bolt-stack>
    </bolt-banner>
  {% endif %}

  {% if demo %}
    <bolt-text headline tag="h3" font-size="large">
      Demo
    </bolt-text>
    <bolt-stack>
      {% set rendered_demo %}
        {% if demo_vertical_scroll %}
          <div class="c-bds-demo-visible-scrollbar">
            {{ demo }}
          </div>
        {% else %}
          {{ demo }}
        {% endif %}
      {% endset %}
      {% if demo_light_dark %}
        <div class="u-bolt-padding-medium t-bolt-xlight">
          <bolt-text headline tag="p" font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Light</bolt-text>
          {{ rendered_demo }}
        </div>
        <div class="u-bolt-padding-medium t-bolt-dark">
          <bolt-text headline tag="p" font-size="xxsmall" text-transform="uppercase" letter-spacing="wide">Dark</bolt-text>
          {{ rendered_demo }}
        </div>
      {% else %}
        {{ rendered_demo }}
      {% endif %}
    </bolt-stack>
  {% endif %}

  {% if html_markup or twig_markup %}
    <bolt-tabs inset="off">
      <bolt-tab-panel>
        <div slot="label">Twig</div>
        {% if twig_markup %}
          {% include '@bolt-components-code-snippet/code-snippet.twig' with {
            content: twig_markup,
            lang: 'twig',
            mode: 'dark'
          } only %}
        {% else %}
          <bolt-banner align="start" status="warning">
            <bolt-icon name="warning" size="small" aria-hidden="true"></bolt-icon>
            <strong>Not available in Twig. Please use plain HTML.</strong>
          </bolt-banner>
        {% endif %}
      </bolt-tab-panel>
      <bolt-tab-panel {% if html_markup and not twig_markup %}selected{% endif %}>
        <div slot="label">HTML</div>
        {% if html_markup %}
          {% include '@bolt-components-code-snippet/code-snippet.twig' with {
            content: html_markup,
            lang: 'html',
            mode: 'dark'
          } only %}
        {% else %}
          <bolt-banner align="start" status="warning">
            <bolt-icon name="warning" size="small" aria-hidden="true"></bolt-icon>
            <strong>Not available in plain HTML. Please use Twig.</strong>
          </bolt-banner>
        {% endif %}
      </bolt-tab-panel>
      {% if css %}
        <bolt-tab-panel>
          <div slot="label">CSS</div>
          {% include snippet.code_example(css, 'scss') %}
        </bolt-tab-panel>
      {% endif %}
      {% if js %}
        <bolt-tab-panel>
          <div slot="label">JavaScript</div>
          {% include snippet.code_example(js, 'js') %}
        </bolt-tab-panel>
      {% endif %}
    </bolt-tabs>
  {% endif %}

  {% if warning %}
    <bolt-text headline tag="h3" font-size="large">
      Warning!
    </bolt-text>
    <bolt-stack>
      {{ warning }}
    </bolt-stack>
  {% endif %}
{% endset %}

{% include '@bolt-components-band/band.twig' with {
  theme: 'none',
  content: band_content,
} only %}
