<div>
    {% include 'image.twig' with image only %}
    <blockquote>
        <p>{{quotation}}</p>
        <footer>
            <span>{{attribution_name}}</span>{% if attribution_title %}, {{attribution_title}}{% endif %}
        </footer>
    </blockquote>
</div>


{% for item in foo %}
  {{item.bar}} <br>
  {{item.baz}} <br><br>
{% endfor %}
