<ul>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
  <li>
    {{ faker.words() }}
    <ul>
      <li>{{ faker.words() }}</li>
      <li>{{ faker.words() }}</li>
    </ul>
  </li>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
</ul>

<ol>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
  <li>
    {{ faker.words() }}
    <ol>
      <li>{{ faker.words() }}</li>
      <li>{{ faker.words() }}</li>
    </ol>
  </li>
  <li>{{ faker.words() }}</li>
  <li>{{ faker.words() }}</li>
</ol>
