<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>Bolt Design System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    {# <link rel="preconnect" href="https://demo1.d8.pega.com"> #}

    <style>
     {{ inline("scripts/critical-fonts.css", "/dist/") }}
     {# inline("styles/bolt-critical.css", "/dist/") #}
    </style>

    {# <link rel="preload" href="../../../styles/bolt.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="../../../styles/bolt.css"></noscript> #}

    <script>
    {{ inline("scripts/bolt-critical-path.min.js", "/dist/") }}
    </script>

    <link rel="stylesheet" href="../../../styles/bolt.css?{{ cacheBuster }}">

    {{ patternLabHead | raw }}

  </head>
  <body class="{{ bodyClass }} c-bolt-site">