{% extends "@pl/_site-layout-template.twig" %}

{% set title %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Content you follow:',
    tag: 'h2',
    size: 'xxlarge'
  } only %}
{% endset %}
{% set sort %}
  {% set label %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: 'Sort options',
      displayType: 'floating',
    } only %}
  {% endset %}       
  {% set select %}
    {% include '@bolt-components-form/form-select.twig' with {
      options: [
        {
          type: 'option',
          value: '',
          label: 'Choose from below',
          attributes: {
            disabled: true
          }
        },
        {
          type: 'option',
          value: 'all-content-types',
          label: 'All content types',
        },
        {
          type: 'option',
          value: 'sort-a',
          label: 'sort a',
        },
        {
          type: 'option',
          value: 'sort-b',
          label: 'sort b',
        },
      ]
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label,
    children: select
  } only %}
{% endset %}

{% set heading_grid %}
  {% include '@bolt-components-grid/grid.twig' with {
    valign: 'center',
    gutter: 'small',
    items: [
      {
        column_start: '1',
        column_span: '12 6@small 9@large ',
        content: title,
      },
      {
        column_start: '1 7@small 10@large',
        column_span: '12 6@small 3@large',
        content: sort,
      },
    ],
  } only %}
{% endset %}

{% set heading %} 
  {% include '@bolt-components-stack/stack.twig' with {
    content: heading_grid,
    spacing: 'large'
  } only %}
{% endset %}

{% set list %}
  {% set items = [
    {
      eyebrow_1: 'Collaboration center',
      eyebrow_2: 'Discussion',
      icon: 'pega-chat-typing',
      heading: 'Configure External Kafka as a stream service',
    },
    {
      eyebrow_1: 'Collaboraton center',
      eyebrow_2: 'Idea',
      icon: 'ideas',
      heading: '0Auth2.0 Authentication Profile for Connect SOAP in Pega 7.3.1',
    },
    {
      eyebrow_1: 'Pega academy',
      eyebrow_2: 'Mission',
      icon: 'rocket',
      heading: 'Low-code App Builder',
    },
  ] %}

  {# define empty arrow to make it possible to use outside the loop #}
  {% set list_items = [] %}
  {% for item in items %}
    {% set demo_icon %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: item.icon,
        size: 'large'
      } only %}
    {% endset %}
    {% set remove_item_button %}
      {% set icon_trash %}
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'trash',
        } only %}
      {% endset %}
      {% set tooltip_trigger %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Delete ' ~ item.heading ~ ' from the content you follow',
          icon_only: icon_trash,
          hierarchy: 'transparent',
          attributes: {
            type: 'button'
          }
        } only %}
      {% endset %}
      {% include '@bolt-components-tooltip/tooltip.twig' with {
        trigger: tooltip_trigger,
        content: 'Delete from the list',
      } only %}
    {% endset %}
    {% set eyebrow_1 %}
      {% include '@bolt-components-headline/eyebrow.twig' with {
        text: item.eyebrow_1,
      } only %}
    {% endset %}
    {% set eyebrow_2 %}
      {% include '@bolt-components-headline/eyebrow.twig' with {
        text: item.eyebrow_2,
      } only %}
    {% endset %}
    {% set listing_teaser %}
      {% include '@bolt-components-listing-teaser/listing-teaser.twig' with {
        eyebrow_items: [
          eyebrow_1,
          eyebrow_2,
        ],
        signifier: demo_icon,
        headline: {
          text: item.heading,
          tag: 'h3',
          size: 'xlarge',
          link_attributes: {
            href: 'https://google.com'
          },
        },
        custom_menu: remove_item_button
      } only %}
    {% endset %}
    {# merge our empty array with looped listing teaser items #}
    {% set list_items = list_items|merge([listing_teaser]) %}
  {% endfor %}
  {% set list_items_collection %}
    {% include '@bolt-components-list/list.twig' with {
      spacing: 'small',
      separator: 'solid',
      items: list_items
    } only %}
  {% endset %}
  {% include '@bolt-components-stack/stack.twig' with {
    content: list_items_collection,
    spacing: 'xlarge'
  } only %}
{% endset %}

{% set bottom_heading %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Tags you follow:',
    tag: 'h2',
    size: 'xxlarge',
  } only %}
{% endset %}

{% set follow_tags_details %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'It\'s easy to get notified of new content! Click <strong>"Create Tag Set"</strong> to create notifications for specific content as it is published.',
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'You are following <strong>0</strong> tags',
  } only %}
{% endset %}

{% set tag_set_button %}
  <p>
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Create tag set',
      attributes: {
        type: 'button',
      }
    } only %}
  </p>
{% endset %}

{% set modal_content %}
  {% set video %}
    <video-js
      data-delayed-account="1900410236"
      data-delayed-player="O3FkeBiaDz"
      data-delayed-video-id="4892122320001"
      data-video-delayed
      data-embed="default"
      controls
      data-media-title
      data-media-duration
      class="c-base-video js-bolt-video--demo-1"></video-js>
  {% endset %}

  {% include '@bolt-components-ratio/ratio.twig' with {
    children: video,
    ratio: '16/9'
  } only %}
{% endset %}

{% set video_trigger %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Watch Demo',
    attributes: {
      type: 'button',
      'data-bolt-modal-target': '.js-bolt-modal--demo',
    }
  } only %}
{% endset %}

{% set modal %}
  {% include '@bolt-components-modal/modal.twig' with {
    content: modal_content,
    width: 'optimal',
    spacing: 'none',
    theme: 'none',
    scroll: 'overall',
    attributes: {
      class: 'js-bolt-modal--demo',
    },
  } only %}
{% endset %}

{% block main_content %}
  {% set layout_content %}
    {% set headline %}
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'Notification Settings',
        size: 'xxxlarge',
        tag: 'h1'
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: headline,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    padding_top: 'large',
    padding_bottom: 'large',
    attributes: {
      class: 't-bolt-navy',
    },
  } only %}

  {% set layout_content %}
    {% set manage_notifications %}
      {{ heading }}
      {{ list }}
      {{ bottom_heading }}
      {{ follow_tags_details }}
      {{ tag_set_button }}
      {{ video_trigger }}
      {{ modal }}
      {{ javascript_1 }}
    {% endset %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: manage_notifications,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    padding_top: 'large',
    padding_bottom: 'large',
  } only %}
  
  {% set layout_content %}
    {% set text_link %}
      {% include '@bolt-elements-text-link/text-link.twig' with {
        content: 'Manage email subscriptions here',
        attributes: {
          href: 'https://google.com',
          target: '_blank',
          rel: 'noopener'
        }
      } only %}
    {% endset %}
    {% set footnote %}
      {% include '@bolt-components-headline/text.twig' with {
        text: 'Want to know about new blogs, analyst reports, and press realases as they publish?' ~ text_link,
      } only %}
    {% endset %}
    {% include '@bolt-layouts-layout/layout-item.twig' with {
      content: footnote,
    } only %}
  {% endset %}
  {% include '@bolt-layouts-layout/layout.twig' with {
    content: layout_content,
    padding_top: 'small',
    padding_bottom: 'small',
    attributes: {
      class: 't-bolt-navy',
    },
  } only %}
{% endblock %}

