{% set header %}
  <header class="c-base-tag-manager__header">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Pega Tag set builder',
      tag: 'h2'
    } only %}
    <div class="c-base-tag-manager__header-steps">
      Step:
      {% include '@bolt-components-progress-bar/progress-bar.twig' with {
        value: 3,
        valueFormat: 'step',
        max: 4,
      } only %}
    </div>
  </header>
{% endset %}

{% set step_heading_inner %}
  {% include '@bolt-components-headline/text.twig' with {
    size: 'large',
    text: 'How do you want to be notified?',
    tag: 'span',
    attributes: {
      class: 'u-bolt-inline'
    }
  } only %}
{% endset %}

{% set step_heading %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xlarge',
    text: 'Step 3:' ~ step_heading_inner,
    attributes: {
      class: 'u-bolt-margin-bottom-large'
    }
  } only %}
{% endset %}

{% set frame_title %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'small',
    text: 'Your current tag set',
    transform: 'uppercase'
  } only %}
{% endset %}

{% set chip_1 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Question',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_2 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Discussion',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_3 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Pega Customer Services 8.6',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_4 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Mobile',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set frame %}
  {% include '@bolt-components-headline/text.twig' with {
    size: 'small',
    text: 'Notify me when' ~ chip_1 ~ ' or ' ~ chip_2 ~ ' tagged with ' ~ chip_3 ~ ' and ' ~ chip_4 ~ ' is published or updated.',
    attributes: {
      class: [
        'u-bolt-padding-medium',
        'u-bolt-margin-bottom-large',
      ],
      style: 'border: 1px solid var(--m-bolt-border)'
    }
  } only %}
{% endset %}

{% set notification_1 %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Notification feed',
    size: 'medium',
    icon: {
      name: 'bell-solid',
      position: 'before'
    }
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Ecosystem real time alerts that appear in your notifications feed',
  } only %}
{% endset %}

{% set notification_2 %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Email',
    size: 'medium',
    icon: {
      name: 'email',
      position: 'before',
    }
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'A weekly digest compiling all your favourite content chosen above',
  } only %}
{% endset %}

{% set tag_builder %}

  {% set random_1 = random() %}
  {% set random_2 = random() %}

  {% set label_1 %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: notification_1,
      displayType: 'inline-checkbox',
      attributes: {
        for: 'checkbox-' ~ random_1,
      }
    } only %}
  {% endset %}
  {% set input_1 %}
    {% include '@bolt-components-form/form-input.twig' with {
      attributes: {
        type: 'checkbox',
        id: 'checkbox-' ~ random_1,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label_1,
    children: input_1
  } only %}

  {% set label_2 %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: notification_2,
      displayType: 'inline-checkbox',
      attributes: {
        for: 'checkbox-' ~ random_2,
      }
    } only %}
  {% endset %}
  {% set input_2 %}
    {% include '@bolt-components-form/form-input.twig' with {
      attributes: {
        type: 'checkbox',
        id: 'checkbox-' ~ random_2,
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label_2,
    children: input_2
  } only %}
{% endset %}

{% set notification_inputs %}
  {% include '@bolt-components-stack/stack.twig' with {
    content: tag_builder,
    spacing: 'large'
  } only %}
{% endset %}

{% set text_link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Manage email subscriptions here',
    attributes: {
      href: 'https://google.com',
      target: '_blank',
      rel: 'noopener'
    }
  } only %}
{% endset %}

{% set icon_chevron_left %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-left',
  } only %}
{% endset %}

{% set prev %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Previous',
    attributes: {
      type: 'button',
    },
    icon_before: icon_chevron_left,
    border_radius: 'full',
  } only %}
{% endset %}

{% set icon_chevron_right %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{% set next %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Next',
    attributes: {
      type: 'button',
    },
    icon_after: icon_chevron_right,
    border_radius: 'full',
  } only %}
{% endset %}

{% set navigation %}
  {% include '@bolt-components-list/list.twig' with {
    display: 'inline',
    spacing: 'none',
    align: 'justify',
    valign: 'center',
    items: [
      prev,
      next
    ]
  } only %}
{% endset %}

{% set body_content %}
  {{ frame_title }}
  {{ frame }}
  {{ step_heading }}
  {{ notification_inputs }}
  {{ navigation }}
{% endset %}

{% set body %}
  {% include '@bolt-components-stack/stack.twig' with {
    content: body_content,
    spacing: 'large',
    attributes: {
      class: [
        'u-bolt-padding-left-medium',
        'u-bolt-padding-right-medium',
      ]
    }
  } only %}
{% endset %}

{% set footer %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Want to know about new blogs, analyst reports, and press realases as they publish?' ~ text_link,
    attributes: {
      class: [
        't-bolt-navy',
        'u-bolt-text-align-center',
        'u-bolt-padding-medium',
      ]
    }
  } only %}
{% endset %}

{% set modal_content %}
  {{ header }}
  {{ body }}
  {{ footer }}
{% endset %}

{% set modal_trigger %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Open Notification Tag Manager',
    size: 'large',
    attributes: {
      type: 'button',
      'data-bolt-modal-target': '.js-bolt-modal',
    },
  } only %}
{% endset %}

{% include '@bolt-components-headline/headline.twig' with {
  text: 'Click the button below to open Notification Tag Manager (Step 3).',
  size: 'large',
  tag: 'h2'
} only %}
{{ modal_trigger }}

{% include '@bolt-components-modal/modal.twig' with {
  content: modal_content,
  width: 'regular',
  scroll: 'overall',
  spacing: 'none',
  attributes: {
    class: 'js-bolt-modal',
  },
} only %}
