{% set header %}
  <header class="c-base-tag-manager__header">
    {% include '@bolt-components-headline/headline.twig' with {
      size: 'xxlarge',
      text: 'Pega Tag set builder',
      tag: 'h2'
    } only %}
    <div class="c-base-tag-manager__header-steps">
      {% include '@bolt-components-progress-bar/progress-bar.twig' with {
        value: 4,
        valueFormat: 'step',
        max: 4,
      } only %}
    </div>
  </header>
{% endset %}

{% set step_heading_inner %}
  {% include '@bolt-components-headline/text.twig' with {
    size: 'large',
    text: 'Name and save your tag set',
    tag: 'span',
    attributes: {
      class: 'u-bolt-inline'
    }
  } only %}
{% endset %}

{% set step_heading %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xlarge',
    text: 'Step 4:' ~ step_heading_inner,
    attributes: {
      class: 'u-bolt-margin-bottom-large'
    }
  } only %}
{% endset %}

{% set frame_title %}
  {% include '@bolt-components-headline/headline.twig' with {
  size: 'small',
  text: 'Your current tag set',
  transform: 'uppercase'
} only %}
{% endset %}

{% set chip_1 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Question',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_2 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Discussion',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_3 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Pega customer Service 8.6',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set chip_4 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Mobile',
    size: 'xsmall',
    color: 'navy'
  } only %}
{% endset %}

{% set icon_bell %}
  <span class="c-base-tag-manager__icon-bell">
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'bell-solid',
    } only %}
  </span>
{% endset %}

{% set icon_email %}
  <span class="c-base-tag-manager__icon-email">
    {% include '@bolt-elements-icon/icon.twig' with {
      name: 'email',
    } only %}
  </span>
{% endset %}

{% set frame %}
  <div class="c-base-tag-manager__frame u-bolt-shadow-level-20 t-bolt-gray-xlight">
    {% include '@bolt-components-headline/text.twig' with {
      size: 'small',
      text: icon_bell ~ icon_email ~ ' Notify me when' ~ chip_1 ~ ' or ' ~ chip_2 ~ ' tagged with ' ~ chip_3 ~ ' and ' ~ chip_4 ~ ' is published or updated.',
    } only %}
  </div>
{% endset %}

{% set tag_builder %}
  {% set label %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: 'Insert name',
      displayType: 'floating',
      attributes: {
        for: 'name-id'
      }
    } only %}
  {% endset %}
  {% set input %}
    {% include '@bolt-components-form/form-input.twig' with {
      attributes: {
        type: 'text',
        id: 'name-id',
        placeholder: 'Insert name'
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label,
    children: input
  } only %}
{% endset %}

{% set input %}
  {% include '@bolt-components-stack/stack.twig' with {
    content: tag_builder,
    spacing: 'large'
  } only %}
{% endset %}

{% set text_link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Manage email subscriptions here',
    attributes: {
      href: 'https://google.com',
      target: '_blank',
      rel: 'noopener'
    }
  } only %}
{% endset %}

{% set icon_chevron_left %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-left',
  } only %}
{% endset %}

{% set prev %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Previous',
    attributes: {
      type: 'button',
    },
    icon_before: icon_chevron_left,
    border_radius: 'full',
  } only %}
{% endset %}

{% set icon_chevron_right %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{% set submit %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Save',
    attributes: {
      type: 'submit',
    },
    icon_after: icon_chevron_right,
    border_radius: 'full',
  } only %}
{% endset %}
  
{% set navigation %}
  {% include '@bolt-components-list/list.twig' with {
    attributes: {
      class: 'u-bolt-margin-bottom-large'
    },
    display: 'inline',
    spacing: 'none',
    align: 'justify',
    valign: 'center',
    items: [
      prev,
      submit
    ]
  } only %}
{% endset %}

{% set legal_note %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Legal notification dolor sit amet',
    attributes: {
      class: 'u-bolt-text-align-center u-bolt-margin-bottom-medium'
    }
  } only %}
{% endset %}

{% set footer %}
  <footer class="c-base-tag-manager__footer t-bolt-navy">
    {% include '@bolt-components-headline/text.twig' with {
      text: 'Want to know about new blogs, analyst reports, and press realases as they publish?' ~ text_link,
    } only %}
  </footer>
{% endset %}

{% set modal_content %}
  {{ header }}
  <div class="c-base-tag-manager__body">
    {{ frame_title }}
    {{ frame }}
    {{ step_heading }}
    {{ input }}
    {{ navigation}}
    {{ legal_note }}
  </div>
  {{ footer }}
{% endset %}

{% set modal_trigger %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Open Notification Tag Manager',
    size: 'large',
    attributes: {
      type: 'button',
      'data-bolt-modal-target': '.js-bolt-modal',
    },
  } only %}
{% endset %}

<div class="c-base-tag-manager">
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Click the button below to open Notification Tag Manager (Step 4).',
    size: 'large',
    tag: 'h2'
  } only %}
  {{ modal_trigger }}
</div>

{% include '@bolt-components-modal/modal.twig' with {
  content: modal_content,
  width: 'regular',
  scroll: 'overall',
  spacing: 'none',
  attributes: {
    class: 'js-bolt-modal',
  },
} only %}


