{% import _self as trigger_code %}

{% set trigger_text = "This is a trigger" %}

{% set trigger_demo %}
<bolt-trigger onclick="alert('Trigger clicked')">
  {{ trigger_text }}
</bolt-trigger>
{% endset %}

{% set trigger_basic_demo %}
<bolt-trigger url="https://google.com">
  {{ trigger_text }}
</bolt-trigger>
{% endset %}

{% set trigger_additional_demo %}
<bolt-trigger cursor="zoom-in">
  {{ trigger_text }}
</bolt-trigger>
{% endset %}

{% set trigger_advanced_demo %}
<bolt-trigger on-click="show" on-click-target="js-image-modal-456" cursor="zoom-in" display="block">
  <bolt-image src="/images/placeholders/tout-4x3-climber.jpg" alt="A Rock Climber" ratio="640/480"></bolt-image>
</bolt-trigger>
<bolt-modal class="js-image-modal-456" spacing="none" theme="none" scroll="overall">
  <bolt-trigger on-click="hide" on-click-target="js-image-modal-456" cursor="zoom-out" display="block">
    <bolt-image src="/images/placeholders/tout-4x3-climber.jpg" alt="A Rock Climber" sizes="auto" ratio="640/480"></bolt-image>
  </bolt-trigger>
</bolt-modal>
{% endset %}

<div class="o-bolt-wrapper">
  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Web Component Usage
    </bolt-text>
    <bolt-text>
      Bolt Trigger is a web component. You can use it by simply including the <code>&lt;bolt-trigger&gt;</code> element in the markup.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell %}
          {{ trigger_demo }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: trigger_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Basic Usage
    </bolt-text>
    <bolt-text>
      By default Bolt Trigger renders a semantic <code>button</code> tag. Set the <code>url</code> prop to render a semantic <code>a</code> tag.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell %}
          {{ trigger_basic_demo }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: trigger_basic_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Additional Options
    </bolt-text>
    <bolt-text>
      Customize the cursor style by setting the <code>cursor</code> prop.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell %}
          {{ trigger_additional_demo }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: trigger_additional_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Advanced Usage
    </bolt-text>
    <bolt-text>
      Use the <code>on-click</code> and <code>on-click-target</code> props to call a method on another component. See schema for more info.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid %}
        {% cell "u-bolt-width-1/2 u-bolt-width-1/4@medium" %}
          {{ trigger_advanced_demo }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include '@bolt-components-code-snippet/code-snippet.twig' with {
      content: trigger_advanced_demo,
      lang: 'html',
      mode: 'dark',
    } only %}
  </div>
</div>
