{% set main_content %}
  {% set audio_player %}
    <div style="max-width: 480px;">
      <video-js
        data-account="1900410236"
        data-player="h8qT2MQfn"
        data-video-id="6305155733001"
        data-playback-rates="[0.75,1,1.25,1.5,2]"
        data-embed="default"s
        controls=""
        data-application-id=""
        class="c-base-video c-base-video--audio-only"></video-js>
    </div>
  {% endset %}

  {% set white_theme %}
    <div class="t-bolt-white" style="padding:20px;">
      {{ audio_player }}
    </div>
  {% endset %}

  {% set black_theme %}
    <div class="t-bolt-black" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set gray_light_theme %}
    <div class="t-bolt-gray-xlight" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set navy_dark_theme %}
    <div class="t-bolt-navy-dark" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set navy_theme %}
    <div class="t-bolt-navy" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set navy_light_theme %}
    <div class="t-bolt-navy-light" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set teal_theme %}
    <div class="t-bolt-teal" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set yellow_theme %}
    <div class="t-bolt-yellow" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set orange_theme %}
    <div class="t-bolt-orange" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set pink_theme %}
    <div class="t-bolt-pink" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set wine_theme %}
    <div class="t-bolt-wine" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set berry_theme %}
    <div class="t-bolt-berry" style="padding:20px;">
    {{ audio_player }}
    </div>
  {% endset %}

  {% set violet_theme %}
    <div class="t-bolt-violet" style="padding:20px;">
      {{ audio_player }}
    </div>
  {% endset %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: white_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: black_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: gray_light_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: navy_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: navy_light_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: teal_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content: yellow_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content:   orange_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content:   pink_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content:   wine_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content:   berry_theme,
    spacing: 'medium'
  } only %}

  {% include '@bolt-components-stack/stack.twig' with {
    content:   violet_theme,
    spacing: 'medium'
  } only %}
{% endset %}

{% include '@bolt-layouts-site/site.twig' with {
  main: {
    content: main_content,
  }
} only %}
