{% set tags = ["button", "a", "div", "span"] %} {# Available Headline Types #}
{% set widths = ["full", "full@small"] %}
{% set styles = ["primary", "secondary", "tertiary"] %}
{% set prefix = "c-bolt-" %}

{% set itemAlignments = {
  "center": "center",
  "left": "start"
} %}

{# Allowed Button Sizes #}
{% set sizes = [
  "xsmall",
  "small",
  "large",
  "xlarge"
] %}

{% set attributes = create_attribute(attributes|default({})) %}

{# Defaults for a vanilla `Button` component #}
{% set componentName = "button" %}
{% set baseClass = prefix ~ componentName %}
{% set size = size | default("medium") %}
{% set width = width | default("") %}
{% set style = style | default("") %}
{% set itemAlignment = itemAlignment | default("center") %}

{% set tag = tag in tags ? tag: "a" %}


{% set classes = [
  baseClass,
  size in sizes ? baseClass ~ "--" ~ size : "",
  width in widths ? baseClass ~ "--" ~ width : "",
  style in styles ? baseClass ~ "--" ~ style : "",
  itemAlignment in itemAlignments|keys ? baseClass ~ "--item-align-" ~ itemAlignments[itemAlignment]
] %}


{% if url %}
  {% set attributes = attributes.setAttribute("href", url) %}
{% endif %}


{# set iconpos = iconpos | default("right") #}

<bolt-button
  size="{{ size }}"
  bolt-component>
  <{{ tag }} {{ attributes.addClass(classes | raw) }}>
    <span class="{{ "#{baseClass}__text" }}">{{ text }}</span>
  </{{ tag }}>
</bolt-button>
