<h2>Base font sizes at different breakpoints:</h2>

{% for size, value in bolt.data.baseFontSizes %}
  <h3>Breakpoint: <code>{{ size }}</code></h3>
  <strong>Base Font Size:</strong> <code>{{ value }}</code>

  <br><br>
{% endfor %}

<hr>

<h2>Font size scale:</h2>
{% for fontSize, fontSizeValues in bolt.data.fontSizes["font-sizes"] %}
  <h2> {{ fontSize }} Font Size</h2>

  <p>
    {% if fontSizeValues["font-size"] is iterable %}
      {% for bp, value in fontSizeValues["font-size"] %}
        Breakpoint: {{ bp }}
        Font Size: {{ value }}

        {# todo: use a similar approach to the one below to handle the two different xxxlarge sizes #}
      {% endfor %}
    {% else %}
      {% for size, value in bolt.data.baseFontSizes %}
        <p>
          <strong>Breakpoint: {{ size }}</strong>
          <code>{{ fontSizeValues["font-size"]|replace({'rem': ''}) * value|replace({'px': ''}) }}</code>
        </p>
      {% endfor %}
    {% endif %}
  </p>
{% endfor %}
