
{% set tags = ["span", "a"] %} {# Available Headline Types #}
{% set prefix = "c-bolt-" %}
{% set sizes = [
  "small",
  "medium",
  "large",
] %}

{% set attributes = create_attribute(attributes|default({})) %}


{% set componentName = "chip" %}
{% set baseClass = prefix ~ componentName %}
{% set size = size | default("medium") %}

{% if url %}
  {% set tag = "a" %}
{% else %}
  {% set tag = tag in tags ? tag: "span" %}
{% endif %}


{% set classes = [
  baseClass,
  size in sizes ? baseClass ~ "--" ~ size : "",
  style in styles ? baseClass ~ "--" ~ style : ""
] %}


{% if url %}
  {% set attributes = attributes.setAttribute("href", url) %}
{% endif %}


<bolt-chip
  size="{{ size }}"
  bolt-component
>
  <{{ tag }} {{ attributes.addClass(classes | raw) }}>
    <span class="{{ "#{baseClass}__text" }}">{{ text }}</span>
  </{{ tag }}>
</bolt-chip>
