{% spaceless %}

  {% set prefix = "c-bolt-" %}

  {% set attributes = create_attribute(attributes|default({})) %}

  {% set componentName = "link" %}
  {% set baseClass = prefix ~ componentName %}


  {% set classes = [
    baseClass
  ] %}

  {% if link.url %}
    {% set attributes = attributes.setAttribute("href", link.url) %}
  {% endif %}


  <bolt-{{ componentName }} bolt-component>
    <a {{ attributes.addClass(classes) }}>

      <span class="{{ "#{baseClass}__item" }}">
        {{ link.text | default(label) | default("Learn More") }}
      </span>

      {% if icon %}
        <span class="{{ "#{baseClass}__item" }}">
          {% include "@bolt/icon.twig" with icon only %}
        </span>
      {% endif %}

    </a>
  </bolt-{{ componentName }}>

{% endspaceless %}
