{% set srcset = srcset ?? "" %}


{% set shouldLazyload = lazyload | default(true) %}

{% set sizes = globalBoltImageSizes %}
{% set ext = src|split('.')|last %}
{% set path = publicpath(src|split('.' ~ ext)|first) %}

{% set placeholderDummySrc = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" %}


{% set placeholderColor = bgcolor(src) %}
{% set placeholderImage = base64(src) %}

{% set imageHeightRatio = ratio(src, 'height') %}
{% set imageWidthRatio = ratio(src, 'width') %}
{% set imageWidth = imagesize(src) %}

{# macro srcset(srcset, imageWidth, path, ext, sizes) #}
  {% if srcset == "" %}
    {% for size in sizes if (size <= imageWidth) %}
      {% if size == imageWidth %}
        {% set srcset = srcset ~ '../..' ~ path ~ '.' ~ ext ~ ' ' ~ size ~ 'w' ~ ', ' %}
      {% else %}
        {% set srcset = srcset ~ '../..' ~ path ~ '-' ~ size ~ '.' ~ ext ~ ' ' ~ size ~ 'w' ~ ', ' %}
      {% endif %}
    {% endfor %}
    {% set srcset = srcset|trim(', ') %}
  {% endif %}
{# endmacro #}
{# import _self as bolt #}




{# 
  Bolt Image - Structure:
  - .c-bolt-image: uses the ratio object as a base
    - .c-bolt-image__img: lazyloaded img tag
    - .c-bolt-image__placeholder: lazyloader span while the img is lazyloaded.
#}


{# Main bolt-image component #}
{% set imageAttributes = create_attribute({
  class: [
    "c-bolt-image"
  ],
  style: [
    "--aspect-ratio-h: #{imageHeightRatio};",
    "--aspect-ratio-w: #{imageWidthRatio};"
  ]
}) %}




{# child img tag #}
{% set imgTagAttributes = create_attribute({
  class: [
    "c-bolt-image__img",
    shouldLazyload ? "js-lazyload" : "",
    shouldLazyload ? "is-lazyloading" : ""
  ],
  alt: alt ?? ""
}) %}

{% if shouldLazyload %}
  {% set imgTagAttributes = imgTagAttributes.setAttribute("data-srcset", srcset) %}
{% else %}
  {% set imgTagAttributes = imgTagAttributes.setAttribute("srcset", srcset) %}
{% endif %}




{# img placeholder #}
{% set imgPlaceholderAttributes = create_attribute({
  class: [
    "c-bolt-image__placeholder"
  ],
  style: [
    "background-color: #{placeholderColor};",
    placeholderImage ? "background-image: url(#{placeholderImage});" : ""
  ]
}) %}


  {# src: shouldLazyload ? "" : src #}






{# if image.src starts with '/' and ext != "svg" %}
  {% set placeholder_color = ' background-color: ' ~ bgcolor(image.src) ~ ';' %}
{% endif #}


{# if image.placeholder_image == true %}
  {% set placeholder_image = "background-image: url('" ~   ~ "'); " %}
{% endif #}

{% set imageTag %}
  <img {{ imgTagAttributes }}>
{% endset %}

{% set imagePlaceholder %}
  <span {{ imgPlaceholderAttributes }}></span>
{% endset %}

<bolt-image>
{% embed "@bolt/ratio.twig" with {
  attributes: imageAttributes
} %}
  {% block ratio_content %}
    {{ imagePlaceholder }}
    {{ imageTag }}
  {% endblock %}
{% endembed %}
</bolt-image>

  <!-- <noscript>
    <img src="{{ path ~ '.' ~ ext }}">
  </noscript> -->
<!-- </div> -->




{# 
{% if ext == "svg" %}
  {% set srcset = path ~ '.' ~ ext %}
{% endif %}
#}