<h2>Transitions</h2>
<p>Transitions are used to change one or more css property from one value to another. Although they can be triggered multiple times, they are not intended to be run in a loop. Unlike animations (that use the css <code>animation</code> property), transitions cannot use keyframes and are thus limited in their ability to coordinate different timing for different properties.</p>

<h3>Transitions: <button id="transitions-demo-trigger">Trigger All</button></h3>
<div style="padding: 2rem" id="transitions-demo">
  <h4>Fade In (Hover or Trigger)</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-in"><strong>Fade in</strong></div>
  </div>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true);
  &[data-anim-triggered="yes"],
  &:hover {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}
  <h4>Fade Out (Hover or Trigger)</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-out"><strong>Fade Out</strong></div>
  </div>
{{ '```scss
.class {
  @include bolt-transition--fade-out($base: true);
  &[data-anim-triggered="yes"],
  &:hover {
    @include bolt-transition--fade-out($active: true);
  }
}
```' | markdown }}
  <h4>Fade In Slide Up (Hover or Trigger)</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-in-slide-up"><strong>Fade In and Slide Up</strong></div>
  </div>
{{ '```scss
.class {
    @include bolt-transition--fade-in-slide-up($base: true);
    &[data-anim-triggered="yes"],
    &:hover {
      @include bolt-transition--fade-in-slide-up($active: true);
    }
  }
```' | markdown }}
</div>

<h3>How to use:</h3>
<p>First, apply base styling to prep element for transition.</p>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true);
}
```' | markdown }}
<p>Next, apply the same mixin with <code>$base: true</code> to the css.</p>
<p>For example, to trigger the transition on hover...</p>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true);
  &:hover {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}
<p>Additionally, transitions can be tied to data attributes that are applied with the javascript transition utilities provided through <code>@bolt/animations</code>.</p>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true);
  &[data-anim-triggered="yes"] {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}

<h2>Customizing Transitions</h2>
<p>Transition mixins are fully customizable. For example, here are a number of 'fade in' transitions with various Bolt transition settings applied.</p>

<h3>Customized Transitions: <button id="transitions-demo-two-trigger">Trigger All</button></h3>
<div style="padding: 2rem" id="transitions-demo-two">
  <h4>Fade In - Default</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-in"><strong>Fade in</strong></div>
  </div>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true);
  &[data-anim-triggered="yes"] {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}

  <h4>Fade In - Extra Slow</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-in--xslow"><strong>Fade in</strong></div>
  </div>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true, $duration: $bolt-duration--xslow);
  &[data-anim-triggered="yes"] {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}

  <h4>Fade In - Extra Fast</h4>
  <div style="border: dashed 1px lime; display: inline-block; margin-bottom: 0.5rem;">
    <div class="demo-animated-bar demo-animated-bar--fade-in--xfast"><strong>Fade in</strong></div>
  </div>
{{ '```scss
.class {
  @include bolt-transition--fade-in($base: true, $duration: $bolt-duration--xfast);
  &[data-anim-triggered="yes"] {
    @include bolt-transition--fade-in($active: true);
  }
}
```' | markdown }}
</div>





<script>
  // Transitions Demo
  document.querySelector('#transitions-demo-trigger').addEventListener('click', function() {
    document.querySelectorAll('#transitions-demo .demo-animated-bar').forEach(function(el) {el.setAttribute('data-anim-triggered', 'yes')});
    setTimeout(function() {
      document.querySelectorAll('#transitions-demo .demo-animated-bar').forEach(function(el) {el.setAttribute('data-anim-triggered', 'no')});
    }, 3000);
  });

  // Customized Transitions Demo
  document.querySelector('#transitions-demo-two-trigger').addEventListener('click', function() {
    document.querySelectorAll('#transitions-demo-two .demo-animated-bar').forEach(function(el) {el.setAttribute('data-anim-triggered', 'yes')});
    setTimeout(function() {
      document.querySelectorAll('#transitions-demo-two .demo-animated-bar').forEach(function(el) {el.setAttribute('data-anim-triggered', 'no')});
    }, 3000);
  });
</script>
