
{% extends "@pl/_default-page-template.twig" %}

{% set title %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xxxlarge',
    text: 'Pega Tag set builder'
  } only %}
{% endset %}

{% set steps %}
  {% include '@bolt-components-pagination/pagination.twig' with {
    current: 3,
    total: 4,
    pages: {
      1: {
        href: '#!'
      },
      2: {
        href: '#!'
      },
      3: {
        href: '#!'
      },
      4: {
        href: '#!'
      },
    },
  } only %}
{% endset %}

{% set step_info %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'xlarge',
    text: 'Step 3:'
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    size: 'large',
    text: 'How do you want to be notified?'
  } only %}
{% endset %}

{% set frame_title %}
  {% include '@bolt-components-headline/headline.twig' with {
    size: 'small',
    text: 'Your current tag set',
    transform: 'uppercase'
  } only %}
{% endset %}

{% set chip_1 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Question',
    size: 'small',
  } only %}
{% endset %}

{% set chip_2 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Discussion',
    size: 'small',
  } only %}
{% endset %}

{% set chip_3 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Pega customer Service 8.6',
    size: 'small',
  } only %}
{% endset %}

{% set chip_4 %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Mobile',
    size: 'small',
  } only %}
{% endset %}

{% set checkbox_switcher_1 %}
  {% set label %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: '<span>on</span><span>off</span>',
      displayType: 'inline-checkbox',
      attributes: {
        for: 'check-id-1',
      }
    } only %}
  {% endset %}
  {% set input %}
    {% include '@bolt-components-form/form-input.twig' with {
      attributes: {
        type: 'checkbox',
        id: 'check-id-1',
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label,
    children: input
  } only %}
{% endset %}

{% set checkbox_switcher_2 %}
  {% set label %}
    {% include '@bolt-components-form/form-label.twig' with {
      title: '<span>on</span><span>off</span>',
      displayType: 'inline-checkbox',
      attributes: {
        for: 'check-id-2',
      }
    } only %}
  {% endset %}
  {% set input %}
    {% include '@bolt-components-form/form-input.twig' with {
      attributes: {
        type: 'checkbox',
        id: 'check-id-2',
      },
    } only %}
  {% endset %}
  {% include '@bolt-components-form/form-element.twig' with {
    label: label,
    children: input
  } only %}
{% endset %}

{% set notification_1 %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Notification feed',
    icon: {
      name: 'bell-solid',
      position: 'before'
    }
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'Ecosystem real time alerts that appear in your notifications feed',
  } only %}
{% endset %}
{% set notification_2 %}
  {% include '@bolt-components-headline/headline.twig' with {
    text: 'Email',
    icon: {
      name: 'email',
      position: 'before'
    }
  } only %}
  {% include '@bolt-components-headline/text.twig' with {
    text: 'A weekly digest compiling all your favourite content chosen above',
  } only %}
{% endset %}

{% set text_link %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
  content: 'Manage email subscriptions here',
  attributes: {
    href: 'https://google.com',
    target: '_blank',
    rel: 'noopener'
  }
} only %}
{% endset %}

{% set icon_chevron_right %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{% set next_btn %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Next',
    attributes: {
      href: 'https://google.com',
      class: 'e-bolt-button--next'
    },
    icon_after: icon_chevron_right,
    border_radius: 'full',
  } only %}
{% endset %}

{% set icon_chevron_left %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'chevron-left',
  } only %}
{% endset %}

{% set prev_btn %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Previous',
    attributes: {
      href: 'https://google.com',
      class: 'e-bolt-button--prev'
    },
    icon_before: icon_chevron_left,
    border_radius: 'full',
  } only %}
{% endset %}

{% set footer %}
  {% include '@bolt-components-headline/text.twig' with {
  text: 'Want to know about new blogs, analyst reports, and press realases as they publish?' ~ text_link,
} only %}
{% endset %}

{% set modal_content %}
  <header class="c-ntm__header">
    {{ title }}
    <div class="c-ntm__steps">
      Step: {{ steps }}
    </div>
  </header>
  <div class="c-ntm__body">
    {{ frame_title }}
    <p class="c-ntm__frame">Notify me when {{ chip_1 }} or {{ chip_2 }} tagged with {{ chip_3 }} and {{ chip_4 }}is published or updated.</p>
    <div class="c-ntm__builder-title">
      {{ step_info }}
    </div>
    <div class="c-ntm__builder c-ntm__builder--step-three">
      <div class="c-ntm__container">
        <div class="c-ntm__fieldset-group c-ntm__fieldset-group--step-three">
          <div class="c-ntm__fieldset-note">
            <div class="c-ntm__fieldset-note-text">
              {{ notification_1 }}
            </div>
            {{ checkbox_switcher_1 }}
          </div>
          <div class="c-ntm__fieldset-note">
            <div class="c-ntm__fieldset-note-text">
              {{ notification_2 }}
            </div>
            {{ checkbox_switcher_2 }}
          </div>
        </div>
      </div>
    </div>
    <div class="c-ntm__nav">
      {{ prev_btn }}
      {{ next_btn }}
    </div>
  </div>
  <footer class="c-ntm__footer t-bolt-navy">
    {{ footer }}
  </footer>
{% endset %}

{% set modal_trigger %}
  {% include '@bolt-elements-button/button.twig' with {
    content: 'Open Notification Tag Manager',
    size: 'large',
    attributes: {
      type: 'button',
      'data-bolt-modal-target': '.js-bolt-modal',
    },
  } only %}
{% endset %}

{% block main_content %}
  {% set header %}
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Notification Tag Manager',
      size: 'xxxlarge',
      tag: 'h1'
    } only %}
  {% endset %}

  {% include '@bolt-components-band/band.twig' with {
    theme: 'dark',
    size: 'large',
    content: header,
  } only %}

  <div class="c-ntm">
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Click the button below to open Notification Tag Manager.',
      size: 'large',
      tag: 'h2'
    } only %}
    {{ modal_trigger }}
  </div>

  {% include '@bolt-components-modal/modal.twig' with {
  content: modal_content,
  width: 'full',
  spacing: 'none',
  attributes: {
    class: 'js-bolt-modal',
  },
} only %}
{% endblock %}

