{% set notifications %}    
  {% set placeholder_item %}
    <li class="c-base-notifications__list-item">
      <div class="c-base-notifications__signifier">
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'info-circle',
          size: 'medium',
        } only %}
      </div>
      <div class="c-base-notifications__content">
        <div class="c-base-notifications__eyebrow">
          Site Name
        </div>
        <div class="c-base-notifications__timestamp">
          2 days ago
        </div>
        <a href="https://pega.com" class="c-base-notifications__message">
          The notificatoin message goes here. It may have <span class="c-base-notifications__callout">1 callout that looks like a link</span>, but the entire row is clickable and points to a single link.
        </a>
      </div>
    </li>
  {% endset %}
  {% set placeholder_item_read %}
    <li class="c-base-notifications__list-item c-base-notifications__list-item--read">
      <div class="c-base-notifications__signifier">
        {% include '@bolt-elements-icon/icon.twig' with {
          name: 'info-circle',
          size: 'medium',
        } only %}
      </div>
      <div class="c-base-notifications__content">
        <div class="c-base-notifications__eyebrow">
          Site Name
        </div>
        <div class="c-base-notifications__timestamp">
          2 days ago
        </div>
        <a href="https://pega.com" class="c-base-notifications__message">
          Each message can have a read or unread state. This one is read.
        </a>
      </div>
    </li>
  {% endset %}

  <div class="c-base-notifications">
    <header class="c-base-notifications__header">
      <div class="c-base-notifications__switch">
        {% include '@bolt-components-switch-button/switch-button.twig' with {
          label: 'Only show unread notifications',
          attributes: {
            class: 'js-target-page-header-notifications-unread-switch'
          },
        } only %}
        <script>
          const switchButton = document.querySelector(
            '.js-target-page-header-notifications-unread-switch button[role="switch"]',
          );

          switchButton.addEventListener('click', e => {
            const el = e.target;
            const isChecked = el.getAttribute('aria-checked') === 'true';

            el.setAttribute('aria-checked', isChecked ? false : true);
          });
        </script>
      </div>
      <div class="c-base-notifications__actions">
        {% set icon_check_circle %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'check-circle',
            size: 'medium',
          } only %}
        {% endset %}
        <button class="c-base-notifications__action-button" type="button">
          {{ icon_check_circle }}
          <span class="c-base-notifications__action-button-text">Mark all as read</span>
        </button>

        {% set icon_pega_setting %}
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-setting',
            size: 'medium',
          } only %}
        {% endset %}
        <a class="c-base-notifications__action-button" href="https://pega.com">
          {{ icon_pega_setting }}
          <span class="c-base-notifications__action-button-text">Notification Settings</span>
        </a>
      </div>
    </header>
    <ul class="c-base-notifications__list">
      <li class="c-base-notifications__list-item c-base-notifications__list-item--section-heading">
        <strong>Latest</strong>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-announce',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__eyebrow">
            Pega.com
          </div>
          <div class="c-base-notifications__timestamp">
            1 minute ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__message">
             <span class="c-base-notifications__callout">New Gartner CRM CEC Magic Quadrant analyst report</span> is published.
          </a>
        </div>
      </li>
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'pega-thumbs-up',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__eyebrow">
            Collaboration Center
          </div>
          <div class="c-base-notifications__timestamp">
            2 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__message">
            Aneesh Borah, Matt Alley and 2 others liked your idea, <span class="c-base-notifications__callout">Multi-datacenter setup in 8.6.1 with two Openshift clusters</span>.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'info-circle',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__eyebrow">
            Community
          </div>
          <div class="c-base-notifications__timestamp">
            5 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__message">
            There will be a site-wide maintenance scheduled for Wednesday, September 15, 2021 from 1&ndash;4PM EST.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item">
        <div class="c-base-notifications__signifier">
          {% include '@bolt-elements-icon/icon.twig' with {
            name: 'info-circle',
            size: 'medium',
          } only %}
        </div>
        <div class="c-base-notifications__content">
          <div class="c-base-notifications__eyebrow">
            Academy
          </div>
          <div class="c-base-notifications__timestamp">
            6 minutes ago
          </div>
          <a href="https://pega.com" class="c-base-notifications__message">
            A mission you follow has been updated: <span class="c-base-notifications__callout">Pega Robotic Automation</span>.
          </a>
        </div>
      </li>
      <li class="c-base-notifications__list-item c-base-notifications__list-item--section-heading">
        <strong>Earlier</strong>
      </li>
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item_read }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
      {{ placeholder_item }}
    </ul>
    <footer class="c-base-notifications__footer">
      {% include '@bolt-components-pagination/pagination.twig' with {
        current: 5,
        total: 10,
        first: {
          href: '#!'
        },
        previous: {
          href: '#!'
        },
        pages: {
          3: {
            href: '#!'
          },
          4: {
            href: '#!'
          },
          5: {
            href: '#!'
          },
          6: {
            href: '#!'
          },
          7: {
            href: '#!'
          }
        },
        next: {
          href: '#!'
        },
        last: {
          href: '#!'
        }
      } only %}
    </footer>
  </div>
{% endset %}

<bolt-layout padding-top="large" padding-bottom="large" class="t-bolt-gray-xlight">
  <bolt-layout-item>
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Notifications',
      size: 'xxlarge',
      tag: 'h2',
    } only %}
  </bolt-layout-item>
  <bolt-layout-item>
    {{ notifications }}
  </bolt-layout-item>
</bolt-layout>

<bolt-layout padding-top="large" padding-bottom="large" class="t-bolt-navy-dark">
  <bolt-layout-item>
    {% include '@bolt-components-headline/headline.twig' with {
      text: 'Notifications',
      size: 'xxlarge',
      tag: 'h2',
    } only %}
  </bolt-layout-item>
  <bolt-layout-item>
    {{ notifications }}
  </bolt-layout-item>
</bolt-layout>
