{# Sample Usage
  {% include "@bolt/twig" with {
    author: {
      name: "Full Name",
      title: "Title and/or organization"
    },
    content: "<p>One paragraph.</p> <p>And another paragraph.</p>"
  } only %}
#}


{% set prefix = "c-bolt-" %}

{% set alignItemsOptions = {
  "left": "start",
  "center": "center",
  "right": "end"
} %}

{% set attributes = create_attribute(attributes|default({})) %}


{% set componentName = "blockquote" %}
{% set baseClass = prefix ~ componentName %}
{% set alignItems = alignItems | default("center") %}
{% set border = border == false and border is not null ? "false" : "true" %}


{% set classes = [
  baseClass,
  alignItems in alignItemsOptions|keys ? baseClass ~ "--align-items-" ~ alignItemsOptions[alignItems],
  border == "true" ? baseClass ~ "--bordered" : baseClass ~ "--borderless"
] %}

<bolt-{{ componentName }} bolt-component>
  <blockquote {{ attributes.addClass(classes) }}>
    <div class="{{ "#{baseClass}__quote" }}">
      {% block blockquote_quote %}
        {% if content %}
          {% include "@bolt/text.twig" with {
            text: content,
            tag: "div",
            size: "xlarge"
          } only %}
        {% endif %}
      {% endblock %}
    </div>
    {% if author %}
      {% block blockquote_footer %}
        <footer class="{{ "#{baseClass}__footer" }}">
          <div class="{{ "#{baseClass}__footer-item" }}">
            {% include "@bolt/text.twig" with {
              text: author.name,
              tag: "cite",
              size: "small",
              weight: "bold"
            } only %}
          </div>
          {% if author.title %}
            <div class="{{ "#{baseClass}__footer-item" }}">
              {% include "@bolt/text.twig" with {
                text: author.title,
                tag: "span",
                size: "xsmall"
              } only %}
            </div>
          {% endif %}
        </footer>
      {% endblock %}
    {% endif %}
  </blockquote>
</bolt-{{ componentName }}>
