{% set animated_step_top %}
  <bolt-two-character-layout>
    <bolt-animate slot="character--left" in-order="1" in="fade-in-slide-up" out="fade-out" out-order="10">
      <bolt-character size="medium">
        <bolt-animate in="fade-in-slide-up" in-order="3" out="fade-out" slot="top" out-order="5">
          <bolt-status-dialogue-bar is-alert-message>
            <p slot="text">
              Wow! That's a large bill!
            </p>
          </bolt-status-dialogue-bar>
        </bolt-animate>
        <span slot="left" idle="none">
        </span>
        <span slot="bottom" idle="none">
        </span>
      </bolt-character>
    </bolt-animate>
    <bolt-animate slot="connection" in="fade-in-slide-up" in-order="5" out="fade-out" out-order="1">
      <bolt-connection></bolt-connection>
    </bolt-animate>
    <bolt-animate slot="character--right" in="fade-in-slide-up" in-order="10" out="fade-out" idle="pulse" idle-duration="2000" out-order="10">
      <bolt-character size="medium">
        <bolt-animate in="fade-in-slide-up" in-order="15" out="fade-out" slot="top" out-order="5">
          <bolt-status-dialogue-bar dialogue-arrow-direction="down" icon-name="cloud">
            <p slot="text">
              Here to Help!
            </p>
          </bolt-status-dialogue-bar>
        </bolt-animate>
        <span slot="right" idle="none">
        </span>
        <span slot="bottom" idle="none">
        </span>
      </bolt-character>
    </bolt-animate>
  </bolt-two-character-layout>
{% endset %}

{% set content %}
<bolt-interactive-pathway
    pathwayId="0"
    total-steps="6"
>
  <bolt-text
      slot="pathway-title"
  >
    Billing Inquires
  </bolt-text>

  <bolt-interactive-step
      step="1"
      slot="steps"
      active
  >
    <span slot="title">Moment of Need</span>

    <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
      {{ animated_step_top }}
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <bolt-text>
        Pega enables the business to sense <b>customer context</b> by seeing interactions across channels--calls to customer service about a bill, or visit to pricing web page.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="2"
      slot="steps"
  >
    <span slot="title">Next best action</span>

    <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
      {{ animated_step_top }}
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <bolt-text>
        Pega's AI-augmented <b>decisioning engine</b> uses context, predictive analytics, and self-learning adaptive models to guide agents with next best actions to serve the customer.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="3"
      slot="steps"
  >
    <span slot="title">Context Across Channels</span>

    <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
      {{ animated_step_top }}
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <bolt-text>
        Pega’s <b>real-time omni-channel AI</b> ensures that customer context is never lost, even on other channels.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="4"
      slot="steps"
  >
    <span slot="title">Resolve</span>

    <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
      {{ animated_step_top }}
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <bolt-text>
        Pega's <b>case management</b> connects all the people, systems, and processes required to resolve each customer inquiry.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="5"
      slot="steps"
  >
    <span slot="title">Outcomes</span>

    <bolt-animate slot="top" in="fade-in-slide-up" in-order="1" out="fade-out-slide-down" out-order="2">
      {{ animated_step_top }}
    </bolt-animate>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <bolt-text>
        Customer issue is resolved quickly, resulting in higher customer satisfaction and lower <b>average handle time (AHT)</b> for the business.
      </bolt-text>
    </bolt-animate>
  </bolt-interactive-step>

  <bolt-interactive-step
      step="6"
      slot="steps"
  >
    <span slot="title">What's next?</span>

    <bolt-animate slot="bottom" in="fade-in-slide-up" in-order="2" out-order="1" out="fade-out-slide-down">
      <details>
        <summary>A details tag</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque, aut autem cumque deserunt doloribus eveniet expedita facere facilis hic inventore iste, magni neque pariatur, praesentium reiciendis rerum tempora vitae?</p>
      </details>
      <hr>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Accusamus blanditiis consectetur culpa cum, doloremque doloribus
        ea error ipsa itaque modi nisi non odit officia quod reiciendis
        rem reprehenderit tempora tempore?
      </div>
      <hr>
      <h2>Transform your customer experience</h2>
      See how Pega can transform your customer experiences with next-generation software applications and solutions.
    </bolt-animate>
  </bolt-interactive-step>

</bolt-interactive-pathway>
{% endset %}

{% include '@bolt-components-editor/editor-in-pl.twig' with {
  content: content,
} only %}
