{# Setting variables for demo purposes #}
{% set content = "Setting up preferred placement by using the placement prop." %}

{% set tooltips_top %}
  <bolt-list display="inline" spacing="xlarge" align="center">
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "bottom-start",
        content: content,
        placement: "bottom-start"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "bottom",
        content: content,
        placement: "bottom"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "bottom-end",
        content: content,
        placement: "bottom-end"
      } only %}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_right %}
  <bolt-list spacing="medium">
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {# Start component specific code #}
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          trigger: "left-start",
          content: content,
          placement: "left-start"
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {# Start component specific code #}
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          trigger: "left",
          content: content,
          placement: "left"
        } only %}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {# Start component specific code #}
        {% include "@bolt-components-tooltip/tooltip.twig" with {
          trigger: "left-end",
          content: content,
          placement: "left-end"
        } only %}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_bottom %}
  <bolt-list display="inline" spacing="xlarge" align="center">
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "top-start",
        content: content,
        placement: "top-start"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "top",
        content: content,
        placement: "top"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "top-end",
        content: content,
        placement: "top-end"
      } only %}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_left %}
  <bolt-list spacing="medium">
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "right-start",
        content: content,
        placement: "right-start"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "right",
        content: content,
        placement: "right"
      } only %}
    </bolt-list-item>
    <bolt-list-item>
      {# Start component specific code #}
      {% include "@bolt-components-tooltip/tooltip.twig" with {
        trigger: "right-end",
        content: content,
        placement: "right-end"
      } only %}
    </bolt-list-item>
  </bolt-list>
{% endset %}

<bolt-text headline>
  Preferred placement
</bolt-text>
<bolt-text>
  Preferred placement comes with fancy zoom-in transition.
</bolt-text>
<div class="u-bolt-margin-bottom-large">
  {% include "@bolt-components-grid/grid.twig" with {
    gutter: "small",
    items: [
      {
        column_start: "1",
        column_span: "12",
        row_start: "1",
        content: tooltips_top,
      },
      {
        column_start: "12",
        column_span: "1",
        row_start: "2",
        content: tooltips_right,
      },
      {
        column_start: "1",
        column_span: "12",
        row_start: "3",
        content: tooltips_bottom,
      },
      {
        column_start: "1",
        column_span: "1",
        row_start: "2",
        content: tooltips_left,
      },
    ]
  } only %}
</div>

{# Setting variables for demo purposes #}
{% set trigger = "CRM" %}
{% set content = "Customer relationship management" %}
{% set tooltip %}
  {# Start component specific code #}
  {% include "@bolt-components-tooltip/tooltip.twig" with {
    trigger: trigger,
    content: content,
    placement: "auto",
  } only %}
{% endset %}

{% set tooltips_top_auto %}
  <bolt-list display="inline" spacing="xlarge" align="justify">
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_right_auto %}
  <bolt-list spacing="medium">
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {{ tooltip }}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {{ tooltip }}
      </div>
    </bolt-list-item>
    <bolt-list-item>
      <div class="u-bolt-text-align-right">
        {{ tooltip }}
      </div>
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_bottom_auto %}
  <bolt-list display="inline" spacing="xlarge" align="justify">
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
  </bolt-list>
{% endset %}
{% set tooltips_left_auto %}
  <bolt-list spacing="medium">
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
    <bolt-list-item>
      {{ tooltip }}
    </bolt-list-item>
  </bolt-list>
{% endset %}

<bolt-text headline>
  Auto placement
</bolt-text>
<bolt-text>
  Auto placement only comes with fade-in transition.
</bolt-text>
{% include "@bolt-components-grid/grid.twig" with {
  gutter: "small",
  items: [
    {
      column_start: "1",
      column_span: "12",
      row_start: "1",
      content: tooltips_top_auto,
    },
    {
      column_start: "12",
      column_span: "1",
      row_start: "2",
      content: tooltips_right_auto,
    },
    {
      column_start: "1",
      column_span: "12",
      row_start: "3",
      content: tooltips_bottom_auto,
    },
    {
      column_start: "1",
      column_span: "1",
      row_start: "2",
      content: tooltips_left_auto,
    },
  ]
} only %}
