{% macro code_example(code, copy) %}
  <bolt-code-snippet syntax="dark" lang="html" {{ copy ? 'copy-to-clipboard' : '' }}>{% spaceless %}
    {{ code | replace({
      '<': '&lt;',
      '>': '&gt;',
    }) | trim | raw }}
  {% endspaceless %}</bolt-code-snippet>
{% endmacro %}

{% import _self as blockquote_demo %}

{% set video_id = "3861325118001" %}
{% set account_id = "1900410236" %}
{% set player_id = "r1CAdLzTW" %}

{% set blockquote_demo_simple %}
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}"></bolt-video>
{% endset %}

{% set blockquote_demo_meta %}
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}" no-meta></bolt-video>
{% endset %}

{% set blockquote_demo_controls %}
<bolt-button tag="button" on-click="toggle" on-click-target="js-bolt-video-uuid--{{video_id}}">Play or Pause</bolt-button>
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}" video-uuid="js-bolt-video-uuid--{{video_id}}" no-controls></bolt-video>
{% endset %}

{% set blockquote_additional_options %}
<!-- Autoplay -->
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}" autoplay></bolt-video>

<!-- Loop -->
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}" loop></bolt-video>

<!-- Custom "Share" description -->
<bolt-video video-id="{{video_id}}" account-id="{{account_id}}" player-id="{{player_id}}" share-description="Share this video"></bolt-video>
{% endset %}

{% set blockquote_demo_external %}
{% endset %}

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Video is a web component that renders a Brightcove video with Bolt styles. Three props are required to use Bolt Video: <bolt-code-snippet display="inline" lang="html">video-id</bolt-code-snippet>, <bolt-code-snippet display="inline" lang="html">account-id</bolt-code-snippet>, and <bolt-code-snippet display="inline" lang="html">player-id</bolt-code-snippet>.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_simple }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include blockquote_demo.code_example(blockquote_demo_simple, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Displaying Video Metadata
  </bolt-text>
  <bolt-text>
    Add the <bolt-code-snippet display="inline" lang="html">no-meta</bolt-code-snippet> prop to hide the title and duration metadata. Add the <bolt-code-snippet display="inline" lang="html">no-title-meta</bolt-code-snippet> prop to hide just the title.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_meta }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include blockquote_demo.code_example(blockquote_demo_meta, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Video Controls
  </bolt-text>
  <bolt-text>
    Add the <bolt-code-snippet display="inline" lang="html">no-controls</bolt-code-snippet> prop to hide video controls. The example below uses an external control to play or pause the video.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ blockquote_demo_controls }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include blockquote_demo.code_example(blockquote_demo_controls, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Additional Options
  </bolt-text>
  <bolt-text>
    Additional options can be passed in as props on the <bolt-code-snippet display="inline" lang="html">&lt;bolt-video&gt;</bolt-code-snippet> element as defined in the schema. For example:
  </bolt-text>
  <div class="u-bolt-margin-bottom-large">
    {% include blockquote_demo.code_example(blockquote_additional_options, true) %}
  </div>
</div>
