{% embed "@utils/utilities.twig" with {
  utilityName: "Bolt Display"
} only %}

  {% set displayModes = bolt.data.display %}

  {% block utilityDescription %}
    <p>Add the utility class <code>.u-bolt-xx</code> where xx equals the display mode you wish to apply.</p>
    <p><strong><u>Possible values include:</u></strong></p>
    <ul>
      {% for mode in displayModes|keys %}
        <li><code>{{ mode }}</code></li>
      {% endfor %}
    </ul>
  {% endblock %}

  {% block utilityDemo %}
    {% for mode in displayModes|keys %}
      <div class="c-bolt-docs__display-demo">
        <h4>Display: {{ mode }}</h4>
        <div><code>{{ ".u-bolt-#{mode}" }}</code></div>
        Lacus nec eleifend nullam nisi parturient nunc placerat euismod, congue aliquet lacinia tempus cursus velit netus augue, neque auctor imperdiet per nisl mollis eros. <strong class="c-bolt-docs__display-focus {{ "u-bolt-#{mode}" }}">&lt;strong&gt; TAG W/ DISPLAY: {{ mode|upper }}</strong> Venenatis tortor etiam potenti arcu condimentum leo lacinia urna faucibus, platea habitant parturient rhoncus ultricies risus nascetur luctus eros mollis, dignissim integer gravida vitae vulputate litora mi consequat.
      </div>
    {% endfor %}
  {% endblock %}

{% endembed %}
