{% embed "@utils/utilities.twig" with {
  utilityName: "Bolt Shadows",
  sassdocItems: [
    {
      title: '@mixin bolt-shadow',
      anchor: link['styleguide-sassdoc'] ~ '#mixin-bolt-shadow'
    }
  ]
} only %}

{% set classPrefix = bolt.data.shadows['utility-class-prefix'] %}

  {% block utilityDescription %}
    <p>Add the utility class ".{{ classPrefix }}xx" where xx equals the level of shadow you wish to apply.</p>
    <p><strong>For example</strong>: <code>.{{ classPrefix ~ bolt.data.shadows.sets|keys|first }}</code></p>
  {% endblock %}

  {% block utilityDemo %}
    {% for key, value in bolt.data.shadows.sets %}
      <div class="bolt-shadow-demo__card {{ classPrefix }}{{ key }}">{{ key }}
        <br>Utility Class
        <br><code>.{{ classPrefix }}{{ key }}</code>
        <br>Scss Mixin
        <br><code>@include bolt-shadow('{{ key }}');</code>
      </div>
    {% endfor %}

    <h5>Hoverable</h5>
    <p>To add an animated shadow that 'lifts' on hover, add the ".{{ classPrefix }}xx--hoverable" where xx equals the level of shadow you wish to use.</p>
    <p><strong>For example</strong>: <code>.{{ classPrefix ~ bolt.data.shadows.sets|keys|first ~ '--hoverable' }}</code></p>

    {% for key, value in bolt.data.shadows.sets %}
      <div class="bolt-shadow-demo__card {{ classPrefix }}{{ key }}--hoverable">{{ key }}
        <br>Utility Class
        <br><code>.{{ classPrefix }}{{ key }}--hoverable</code>
        <br>Scss Mixin
        <br><code>@include bolt-shadow('{{ key }}', true);</code>
      </div>
    {% endfor %}
  {% endblock %}

{% endembed %}
