{% embed "@utils/utilities.twig" with {
  utilityName: "Bolt Z-index",
  sassdocItems: [
    {
      title: '@mixin bolt-z-index',
      anchor: link['styleguide-sassdoc'] ~ '#mixin-bolt-z-index'
    }
  ]
} only %}

  {% macro recursiveZindexDemo(list) %}
    {% set utilityClass = bolt.data.zIndexes['utility-class-prefix'] ~ list|keys|last %}
    <div class="bolt-z-index-demo {{ utilityClass }}">
      {% if list|slice(0, -1)|length  %}
        {{ _self.recursiveZindexDemo(list|slice(0, -1)) }}
      {% endif %}
      <p>Z-Index: <code>{{ list|keys|last }}</code>: {{ list|last }}<br>Utility Class: <code>{{ utilityClass }}</code></p>
    </div>
  {% endmacro %}

  {% set classPrefix = bolt.data.zIndexes['utility-class-prefix'] %}

  {% block utilityDescription %}
    <p>Add the utility class <code>{{ classPrefix }}xx</code> where xx equals the z index level you wish to apply.</p>
    <p><strong>For example:</strong> <code>.{{ classPrefix ~ bolt.data.zIndexes.sets|keys|first }}</code></p>
  {% endblock %}

  {% block utilityDemo %}
    {{ _self.recursiveZindexDemo(bolt.data.zIndexes.sets) }}
  {% endblock %}

{% endembed %}
