{% macro recursiveZindexDemo(list) %}
  {% set utilityClass = bolt.data.zIndexes['utility-class-prefix'] ~ list|keys|last %}
  <div class="bolt-z-index-demo {{ utilityClass }}">
    {% if list|slice(0, -1)|length  %}
      {{ _self.recursiveZindexDemo(list|slice(0, -1)) }}
    {% endif %}
    <p>Z-Index: <code>{{ list|keys|last }}</code>: {{ list|last }}<br>Utility Class: <code>{{ utilityClass }}</code></p>
  </div>
{% endmacro %}

{% set classPrefix = bolt.data.zIndexes['utility-class-prefix'] %}

<h4>Z-index Values</h4>
<p>Add the utility class "{{ classPrefix }}xx" where xx equals the z index level you wish to apply.</p>
<p><strong>For example:</strong> <code>.{{ classPrefix ~ bolt.data.zIndexes.sets|keys|first }}</code></p>

{{ _self.recursiveZindexDemo(bolt.data.zIndexes.sets) }}

<div class="c-bolt-docs-sassdoc-reference">
  <h5>SassDoc references</h5>
  <ul>
    <li><a target="_blank" href="{{ link['styleguide-sassdoc'] }}#mixin-bolt-z-index">@mixin bolt-z-index</a></li>
  </ul>
</div>