{% macro code_example(code, copy) %}
  <bolt-code-snippet syntax="dark" lang="html" {{ copy ? 'copy-to-clipboard' : '' }}>{% spaceless %}
    {{ code | replace({
      '<': '&lt;',
      '>': '&gt;',
    }) | trim | raw }}
  {% endspaceless %}</bolt-code-snippet>
{% endmacro %}

{% import _self as link_demo %}

{% set link_demo_simple %}
<bolt-link url="#!">
  Link Text
</bolt-link>
{% endset %}

{% set link_demo_advanced %}
<bolt-link>
  <a href="#!">Link Text</a>
</bolt-link>
{% endset %}

{% set link_demo_icon %}
<bolt-link>
  <bolt-icon slot="before" name="info-open"></bolt-icon>
  Link text with icon
</bolt-link>

<bolt-link>
  Link text with icon
  <bolt-icon slot="after" name="info-open"></bolt-icon>
</bolt-link>
{% endset %}

{% set link_demo_inline %}
<p>Lorem ipsum <bolt-link url="#!">dolor sit amet</bolt-link>, consectetuer adipiscing elit <bolt-link url="#!">link text with icon<bolt-icon slot="after" name="info-open"></bolt-icon></bolt-link>.</p>
{% endset %}

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Web Component Usage
  </bolt-text>
  <bolt-text>
    Bolt Link is a web component. Wrap your link content inside the <bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet> custom element, add a <bolt-code-snippet display="inline" lang="html">url</bolt-code-snippet> attribute, and the component will render a semantic link with Bolt styles. Note: the component also accepts the <bolt-code-snippet display="inline" lang="html">target</bolt-code-snippet> attribute with standard HTML <bolt-code-snippet display="inline" lang="html">target</bolt-code-snippet> values.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ link_demo_simple }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include link_demo.code_example(link_demo_simple, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Advanced Usage
  </bolt-text>
  <bolt-text>
    You may also include a semantic <bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet> tag inside of <bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet> yourself. You might choose to do this because you require a clickable link even when JS is disabled or because you require additional attributes on the <bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet> tag which cannot be passed down through the web component. Bolt Link will find this <bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet> tag and convert its attributes to props.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ link_demo_advanced }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include link_demo.code_example(link_demo_advanced, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Links with Icons
  </bolt-text>
  <bolt-text>
    Add icons to links by including a <bolt-code-snippet display="inline" lang="html">&lt;bolt-icon&gt;</bolt-code-snippet> element with the <bolt-code-snippet display="inline" lang="html">slot</bolt-code-snippet> attribute (with value of <bolt-code-snippet display="inline" lang="html">before</bolt-code-snippet> or <bolt-code-snippet display="inline" lang="html">after</bolt-code-snippet>). For icons to have the correct spacing, you <em>must</em> include the slot attribute as shown below.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ link_demo_icon }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include link_demo.code_example(link_demo_icon, true) %}
  </div>
</div>

<div class="o-bolt-wrapper">
  <bolt-text headline>
    Inline Links
  </bolt-text>
  <bolt-text>
    When using inline links, it is best to put the link HTML on a single line (no line breaks). Inline links will show the whitespace in and around the linke HTML, so removing these line breaks is necessary to eliminate unwanted space.
  </bolt-text>
  <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
    {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
      {% cell "u-bolt-width-12/12" %}
        {{ link_demo_inline }}
      {% endcell %}
    {% endgrid %}
  </div>
  <div class="u-bolt-margin-bottom-large">
    {% include link_demo.code_example(link_demo_inline, true) %}
  </div>
</div>
