{% macro code_example(code, copy) %}
  <bolt-code-snippet syntax="dark" lang="html" {{ copy ? 'copy-to-clipboard' : '' }}>{% spaceless %}
    {{ code | replace({
      '<': '&lt;',
      '>': '&gt;',
    }) | trim | raw }}
  {% endspaceless %}</bolt-code-snippet>
{% endmacro %}

{% set link_custom_elements %}
  <p>
    <bolt-link>
      <a href="#!" class="c-bolt-link">
        Link text
      </a>
    </bolt-link>
  </p>

  <p>
    <bolt-link>
      <a href="#!" class="c-bolt-link">
        <bolt-icon slot="before" name="info-open"></bolt-icon>
        Link text with icon
      </a>
    </bolt-link>
  </p>

  <p>
    <bolt-link>
      <a href="#!" class="c-bolt-link">
        Link text with icon
        <bolt-icon slot="after" name="info-open"></bolt-icon>
      </a>
    </bolt-link>
  </p>
{% endset %}

{% set link_custom_elements_without_anchor %}
  <p>
    <bolt-link url="#!">
      Link Text
    </bolt-link>
  </p>

  <p>
    <bolt-link url="#!">
      <bolt-icon slot="before" name="info-open"></bolt-icon>
      Link text with icon
    </bolt-link>
  </p>

  <p>
    <bolt-link url="#!">
      Link text with icon
      <bolt-icon slot="after" name="info-open"></bolt-icon>
    </bolt-link>
  </p>
{% endset %}

{% set link_custom_elements_in_paragraph %}
  <p>
    Sunt laborum ad in consectetur consectetur duis in Lorem ut
    <bolt-link url="#!">
      <a href="#!" class="c-bolt-link">
        This is a text link
      </a>
    </bolt-link>
    . Magna non voluptate deserunt fugiat esse esse cillum.
    <bolt-link url="#!">
      <a href="#!" class="c-bolt-link">
        <bolt-icon slot="before" name="info-open"></bolt-icon>
        This is a text link
      </a>
    </bolt-link>
    velit commodo cillum sint enim reprehenderit sunt labore commodo dolor.
    <bolt-link url="#!">
      <a href="#!" class="c-bolt-link">
        This is a text link
        <bolt-icon slot="after" name="info-open"></bolt-icon>
      </a>
    </bolt-link>
  </p>
{% endset %}

{% set link_custom_elements_with_theme %}
  {% set link %}
    <h2 class="c-bolt-headline c-bolt-headline--bold c-bolt-headline--xlarge c-bolt-headline--link">
      <bolt-link url="#!" is-headline="true">
        <a href="#!" class="c-bolt-link">
          This is a text link
          <bolt-icon slot="after" name="chevron-right"></bolt-icon>
        </a>
      </bolt-link>
    </h2>
    <bolt-link url="#!">
      <a href="#!" class="c-bolt-link">
        This is a text link
      </a>
    </bolt-link>
  {% endset %}

  <div>
  {% include "@bolt-components-band/band.twig" with {
    theme: "xlight",
    content: link,
    fullBleed: false
  } only %}
  </div>

  <div>
  {% include "@bolt-components-band/band.twig" with {
    theme: "light",
    content: link,
    fullBleed: false
  } only %}
  </div>

  <div>
  {% include "@bolt-components-band/band.twig" with {
    theme: "dark",
    content: link,
    fullBleed: false
  } only %}
  </div>

  <div>
  {% include "@bolt-components-band/band.twig" with {
    theme: "xdark",
    content: link,
    fullBleed: false
  } only %}
  </div>
{% endset %}

{% import _self as link_demo %}

<div class="o-bolt-wrapper">
  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline font-size="xxlarge" tag="h1">
      Links with custom elements
    </bolt-text>
    <bolt-text>
      Below are examples of the <code>&lt;bolt-link&gt;</code> component built purely using custom elements, rather than via Twig include. These examples have been added for testing and demo purposes.
    </bolt-text>
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Custom elements with anchor
    </bolt-text>
    <bolt-text>
      Bolt-Links should contain an anchor element within the custom element so that even when JS is disabled the link is still functional. If you are including the component via Twig template, the anchor is added automatically.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_custom_elements }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include link_demo.code_example(link_custom_elements, false) %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Custom elements without anchor
    </bolt-text>
    <bolt-text>
      Even when an anchor is not added manually, one will be added via JS when the <code>&lt;bolt-link&gt;</code> web component initializes.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_custom_elements_without_anchor }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include link_demo.code_example(link_custom_elements_without_anchor, false) %}
  </div>

  <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Custom elements in paragraph
    </bolt-text>
    <bolt-text>
      Below are some examples of the <code>&lt;bolt-link&gt;</code> used inline in a paragraph.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_custom_elements_in_paragraph }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include link_demo.code_example(link_custom_elements_in_paragraph, false) %}
  </div>

  {# todo: Hiding this example for now. HTML it generates is unformatted and hard to read #}
  {# <div class="u-bolt-margin-bottom-large">
    <bolt-text headline>
      Custom elements with theme
    </bolt-text>
    <bolt-text>
      Below are some examples of the <code>&lt;bolt-link&gt;</code> used within a "themed" <code>&lt;bolt-band&gt;</code> component.
    </bolt-text>
    <div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
      {% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
        {% cell "u-bolt-width-12/12" %}
          {{ link_custom_elements_with_theme }}
        {% endcell %}
      {% endgrid %}
    </div>
    {% include link_demo.code_example(link_custom_elements_with_theme, false) %}
  </div> #}
</div>
