{% set assets = get_data("@bolt-assets/bolt-webpack-manifest.json") %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <!-- Default OG Tag examples (related to Bolt Share Component) -->
    {% include "@bolt-components-share/src/_share-meta-example.twig" %}

    <link rel="stylesheet" href="{{ assets["bolt-global.css"] }}?cachebuster="{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="{{ assets["pl.css"] }}?cachebuster="{{ cacheBuster }}" media="all" />



    {# @TODO: wire this up to use Critical CSS #}
    <style>
      {{ inline("bolt-components-critical-fonts.css") }}
    </style>



    {% if bolt.data.config.prod == false %}
      <script src="{{ assets["bolt-components-critical-fonts.js"] }}" async></script>
    {% else %}
      {# @TODO: wire this up to use Critical JS #}
      <script>
        {{ inline("bolt-components-critical-fonts.js") }}
      </script>
    {% endif %}


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  {# @todo Get `c-bolt-site` class back someplace, perhaps on a template/layout, perhaps on the `<body>` when needed. Was causing all Patterns to expand too wide, no matter browser width #}
  <body class="">
