{% set assets = get_data("@bolt-assets/bolt-webpack-manifest.json") %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <!-- Default OG Tag examples -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bolt Design System: Page Title" />
    <meta property="og:description" content="Sample description" />
    <meta property="og:image" content="http://bolt-design-system.com/images/500x500-480.jpg" />
    <meta property="og:image:secure_url" content="https://bolt-design-system.com/images/500x500-480.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="480" />
    <meta property="og:url" content="http://bolt-design-system.com/some-page-title-here" />
    <meta property="og:site_name" content="Bolt Design System" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Bolt Design System: Page Title">
    <meta name="twitter:description" content="Sample description">
    <meta name="twitter:image" content="https://bolt-design-system.com/images/500x500-480.jpg">
    <meta name="twitter:site" content="@pega">

    <link rel="stylesheet" href="{{ assets["bolt-global.css"] }}?cachebuster="{{ cacheBuster }}" media="all" />


    {# @TODO: wire this up to use Critical CSS #}
    <style>
      {{ inline("bolt-components-critical-fonts.css") }}
    </style>

    {# @TODO: wire this up to use Critical JS #}
    <script>
      {{ inline("bolt-components-critical-fonts.js") }}
    </script>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  {# @todo Get `c-bolt-site` class back someplace, perhaps on a template/layout, perhaps on the `<body>` when needed. Was causing all Patterns to expand too wide, no matter browser width #}
  <body class="">
