
{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

{% if bolt.data.config.i18n %}
  {% set allAssets = {} %}
  {% set langs = bolt.data.config.lang %}

  {% for lang, key in langs %}
    {% set langManifest = "@bolt-assets/bolt-webpack-manifest#{key ? "-" ~ key : ""}.json" %}

    {% if fileExists(langManifest) %}
      {% set langAssets = get_data(langManifest) %}
      {% set allAssets = allAssets|merge({
        ('' ~ key): langAssets
      }) %}
    {% endif %}
  {% endfor %}
{% endif %}





<!DOCTYPE html><html lang="en-US"><head>{% include "@bolt/native-shim.twig" %}

    <link rel="preload" href="{{ assets["bolt-global.js"] | default("/pattern-lab/build/bolt-global.js") }}" as="script">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <link rel="image_src" href="/images/bolt-logo-480.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=LbyzAXRqNz">
    <link rel="manifest" href="/site.webmanifest?v=LbyzAXRqNz">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=LbyzAXRqNz" color="#1f2656">
    <link rel="shortcut icon" href="/favicon.ico?v=LbyzAXRqNz">
    <meta name="apple-mobile-web-app-title" content="Bolt DS">
    <meta name="application-name" content="Bolt Design System">
    <meta name="msapplication-TileColor" content="#1f2656">
    <meta name="msapplication-config" content="/browserconfig.xml?v=LbyzAXRqNz">
    <meta name="theme-color" content="#1f2656">

    <!-- OG Tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bolt Design System" />
    <meta property="og:description" content="The Bolt Design System provides guidelines, reusable UI components, visual styles, tools, and other resources that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope." />
    <meta property="og:image" content="https://boltdesignsystem.com/images/bolt-logo-480.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="480" />
    <meta property="og:url" content="https://boltdesignsystem.com/" />
    <meta property="og:site_name" content="Bolt Design System" />
    <!-- Twitter specific tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Bolt Design System" />
    <meta name="twitter:description" content="The Bolt Design System provides guidelines, reusable UI components, visual styles, tools, and other resources that power Pega’s digital ecosystem; saving time while keeping projects on-brand, and in scope." />
    <meta name="twitter:image" content="https://boltdesignsystem.com/images/bolt-logo-480.png" />
    <meta name="twitter:site" content="@pega" />

    <!-- async load PL's CSS -->
    <link rel="preload" href="/pattern-lab/styleguide/css/pattern-lab.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="{{ assets["bolt-global.css"] | default("/pattern-lab/build/bolt-global.css") }}" media="all" />

    <noscript>
      <link href="/pattern-lab/styleguide/css/pattern-lab.css" rel="stylesheet">
    </noscript>


    {# @TODO: wire this up to use Critical CSS #}
    <style>
      {{ inline( assets["bolt-components-critical-fonts.css"] | default("") ) }}
      
      .c-bolt-body {
        transition: opacity ease-in 0.2s;
      }

      .c-bolt-body.is-loading {
        opacity: 0;
      }
    </style>

    <noscript>
      <style>
        .c-bolt-body.is-loading {
          opacity: 1;
        }
      </style>
    </noscript>

    {# @TODO: wire this up to use Critical JS #}
    <script>
      {{ inline( assets["bolt-components-critical-fonts.js"] | default("") ) }}

      {{ inline( assets["bolt-components-critical-css-vars.js"] | default("") ) }}
    </script>


    <!-- WIP. Temp solution to async load multiple lang-specific CSS builds based on query string in URL -->
    <script>
      {{ inline( assets["loadcss.js"] | default("") ) }}
    </script>



  </head>
  {# @todo Get `c-bolt-site` class back someplace, perhaps on a template/layout, perhaps on the `<body>` when needed. Was causing all Patterns to expand too wide, no matter browser width #}
  <body class="c-bolt-body is-loading">
