{# Sample Usage
  {% include "@bolt/action-blocks.twig" with {
    verticalAlignment: "top",       // Optional [top, center, bottom]. Default is top.
    border: "show",                 // Optional [show, hide]. Default shows borders, but you can turn them off.
    contentItems: [
      {
        "text": "Item 1",
        "url": "http://google.com",
        "icon": {
          "name": "icon-name",
          "background": "circle"    // Optional. It contains the icon with a circle.
        }
      },
      {
        "text": "Item 2",
        "url": "http://google.com",
        "icon": {
          "name": "icon-name",
          "background": "circle"    // Optional. It contains the icon with a circle.
        }
      },
      {
        "text": "Item 3",
        "url": "http://google.com",
        "icon": {
          "name": "icon-name",
          "background": "circle"    // Optional. It contains the icon with a circle.
        }
      }
    ]
  } only %}
#}

{% set prefix = "c-bolt-" %}

{% set verticalAlignments = {
  "top": "start",
  "center": "center",
  "bottom": "end"
} %}

{% set borderOptions = {
  "show": "bordered",
  "hide": "borderless"
} %}

{% set attributes = create_attribute(attributes|default({})) %}

{% set componentName = "action-blocks" %}
{% set baseClass = prefix ~ componentName %}
{% set componentItemName = "action-block" %}
{% set itemClass = prefix ~ componentItemName %}
{% set verticalAlignment = verticalAlignment | default("top") %}
{% set border = border | default("show") %}


{% set classes = [
  baseClass,
  verticalAlignment in verticalAlignments|keys ? baseClass ~ "--vertical-align-" ~ verticalAlignments[verticalAlignment],
  border in borderOptions|keys ? baseClass ~ "--" ~ borderOptions[border]
] %}


<bolt-{{ componentName }} bolt-component>
  <ul {{ attributes.addClass(classes) }}>
    {% if children %}
      {{ children }}
    {% else %}
      {% for item in contentItems %}
        <li class="{{ "#{baseClass}__item" }}">
          {% include "@bolt/action-block.twig" with item only %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</bolt-{{ componentName }}>

