{# Sample Usage
  {% include "@bolt/action-blocks.twig" with {
    maxItemsPerRow: 3,  // Optional [2 ~ 12]. Default is 3.
    valignItems: "top",       // Optional [top, center, bottom]. Default is top.
    border: true,       // Optional [show, hide]. Default shows borders, but you can turn them off.
    contentItems: [
      {
        text: "Item 1",
        url: "http://google.com",
        icon: {
          name: "icon-name",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 2",
        url: "http://google.com",
        icon: {
          name: "icon-name",
          size: "large",
          background: "circle"
        }
      },
      {
        text: "Item 3",
        url: "http://google.com",
        icon: {
          name: "icon-name",
          size: "large",
          background: "circle"
        }
      }
    ]
  } only %}
#}


{% set prefix = "c-bolt-" %}

{% set minItems = 2 %}
{% set maxItems = 12 %}
{% set defaultItems = 6 %}

{% set attributes = create_attribute(attributes|default({})) %}


{% set componentName = "action-blocks" %}
{% set baseClass = prefix ~ componentName %}
{% set componentItemName = "action-block" %}
{% set itemClass = prefix ~ componentItemName %}
{% set maxItemsPerRow = maxItemsPerRow >= minItems and maxItemsPerRow <= maxItems ? maxItemsPerRow : defaultItems %}
{% set valignItems = valignItems | default("top") %}
{% set border = border == false and border is not null ? "false" : "true" %}


{% set classes = [
  baseClass,
  maxItemsPerRow ? baseClass ~ "--item-max-" ~ maxItemsPerRow : "",
  border == "true" ? baseClass ~ "--bordered" : baseClass ~ "--borderless"
] %}


<bolt-{{ componentName }} bolt-component>
  <ul {{ attributes.addClass(classes) }}>
    {% if children %}
      {{ children }}
    {% else %}
      {% for item in contentItems %}
        <li class="{{ "#{baseClass}__item" }}">
          {% include "@bolt/action-block.twig" with item | merge({
            "valignItems": actionBlocks.valignItems
          }) only %}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</bolt-{{ componentName }}>
