{# Sample Usage
  {% include "@bolt/action-block.twig" with {
    "actionBlock": {
      "text": "Item 1",
      "url": "http://google.com"
    },
    "icon": {
      "name": "download",
      "size": "large"
    }
  } only %}
#}


{% set prefix = "c-bolt-" %}

{% set valignItemsOptions = {
  "top": "start",
  "center": "center",
  "bottom": "end"
} %}

{% set attributes = create_attribute(attributes|default({})) %}


{% set componentName = "action-block" %}
{% set baseClass = prefix ~ componentName %}
{% set valignItems = valignItems | default("top") %}


{% set classes = [
  baseClass,
  valignItems in valignItemsOptions|keys ? baseClass ~ "--valign-items-" ~ valignItemsOptions[valignItems]
] %}


<bolt-{{ componentName }} bolt-component>
  <a href="{{ actionBlock.url }}" {{ attributes.addClass(classes | raw) }}>
    {% if icon %}
      <div class="{{ "#{baseClass}__item" }}">
        {% set icon = icon | merge({
          size: icon.size | default("xlarge")
        }) %}
        {% include "@bolt/icon.twig" with icon only %}
      </div>
    {% endif %}

    {% if actionBlock.text %}
      <div class="{{ "#{baseClass}__item" }}">
        {{ actionBlock.text }}
      </div>
    {% endif %}
  </a>
</bolt-{{ componentName }}>
