{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

{% set urlChunks = page.url | split('/') %}
{% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
{% set currentUrl = page.url %}

{% if page.url starts with currentSection %}
  {% set nestedPages = [] %}
  {% for page in site.nestedPages if page.url starts with currentSection %}
    {% set nestedPages = page.children %}
  {% endfor %}
{% endif %}
{% set hasSidebar = nestedPages or sidebar %}


<!DOCTYPE html>
<html lang="en-US" class="{{ bolt.data.config.prod ? '' : 'js-fonts-loaded' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=LbyzAXRqNz">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=LbyzAXRqNz">
    <link rel="manifest" href="/site.webmanifest?v=LbyzAXRqNz">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=LbyzAXRqNz" color="#1f2656">
    <link rel="shortcut icon" href="/favicon.ico?v=LbyzAXRqNz">
    <meta name="apple-mobile-web-app-title" content="Bolt DS">
    <meta name="application-name" content="Bolt Design System">
    <meta name="msapplication-TileColor" content="#1f2656">
    <meta name="msapplication-config" content="/browserconfig.xml?v=LbyzAXRqNz">
    <meta name="theme-color" content="#1f2656">

    <!-- OG Tags -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Bolt Design System: Page Title" />
    <meta property="og:description" content="Sample description" />
    <meta property="og:image" content="https://boltdesignsystem.com/images/500x500-480.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="480" />
    <meta property="og:image:height" content="480" />
    <meta property="og:url" content="https://boltdesignsystem.com/some-page-title-here" />
    <meta property="og:site_name" content="Bolt Design System" />
    <!-- Twitter specific tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Bolt Design System: Page Title" />
    <meta name="twitter:description" content="Sample description" />
    <meta name="twitter:image" content="https://boltdesignsystem.com/images/500x500-480.jpg" />
    <meta name="twitter:site" content="@pega" />

    <link rel="stylesheet" href="{{ assets["bolt-global.css"] | default("/build/bolt-global.css") }}" media="all" />

    {# @TODO: wire this up to use Critical CSS #}
    <style>
      {{ inline( assets["bolt-components-critical-fonts.css"] | default("") ) }}
    </style>

    <script>
      {{ inline( assets["bolt-components-critical-fonts.js"] | default("") ) }}
      {{ inline( assets["bolt-components-critical-css-vars.js"] | default("") ) }}
    </script>

    <script>console.log('Bolt Global Twig variable. In Twig, you can tap into the `bolt` global var to access all sorts of helpful information about the Bolt Design System, such as colors, spacing, and more. Most is exported from Sass; to add more, add this to any Sass file: `@include export-data("myVariables.bolt.json", $my-variables-in-a-sass-map);`, and then you can access it in Twig via `bolt.data.myVariables`. Here is all the data available to the current templates, including the `bolt` var:');</script>

    <script>
      window.bolt = JSON.parse('{{ bolt|json_encode|e('js') }}');
    </script>

  </head>
  <body class="c-bds-layout c-bolt-site {% if currentUrl == 'index.html' %} t-bolt-xdark {% endif %} c-bds-layout--{{ urlChunks | length >= 2 ? urlChunks|first : 'parent' }} {{ hasSidebar ? 'c-bds-layout--has-sidebar' : ''}}">
