{# Global Twig vars #}
  {% set urlChunks = page.url | split('/') %}
  {% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
  {% set currentUrl = page.url %}

  {% if page.url starts with currentSection %}
    {% set nestedPages = [] %}
    {% for page in site.nestedPages if page.url starts with currentSection %}
      {% set nestedPages = page.children %}
    {% endfor %}
  {% endif %}
  {% set hasSidebar = nestedPages or sidebar %}
{# End Global Twig vars #}


<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bolt Design System{% if page.meta.title %} | {{ page.meta.title }}{% endif %}</title>
  <meta name="description" content="Bolt Design System">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/pattern-lab/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/pattern-lab/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/pattern-lab/favicons/favicon-16x16.png">
  <link rel="manifest" href="/pattern-lab/favicons/site.webmanifest">
  <link rel="mask-icon" href="/pattern-lab/favicons/safari-pinned-tab.svg" color="#009999">
  <link rel="shortcut icon" href="/pattern-lab/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Bolt Design System">
  <meta name="application-name" content="Bolt Design System">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/pattern-lab/favicons/browserconfig.xml">
  <meta name="theme-color" content="#1f2656">

  {#<link rel="manifest" href="site.webmanifest">#}
  {#<link rel="apple-touch-icon" href="icon.png">#}
  <!-- Place favicon.ico in the root directory -->

  <style>
    {# inner docs page critical css -- manually created, replace w/ WIP automated version #}
    {% if hasSidebar %}
      *,:after,:before{font-feature-settings:"kern";-webkit-font-kerning:normal;font-kerning:normal;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,footer,header,nav{display:block}h1{font-size:2em;margin:.67em 0}main{display:block}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}strong{font-weight:inherit}strong{font-weight:bolder}code{font-family:monospace,monospace;font-size:1em}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}body,h1,h2,p,pre,ul{margin:0;padding:0}li>ul{margin-bottom:0}p,pre,ul{margin-bottom:1.65rem}ul{margin-left:2rem}code,pre{white-space:-moz-pre-wrap;white-space:-o-pre-wrap;white-space:pre-wrap;word-spacing:normal;word-break:normal;word-wrap:break-word;color:inherit;color:var(--bolt-theme-heading,inherit);text-align:left;border-radius:3px}pre{padding:.412rem 1rem;overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;display:block;background-color:rgba(84,93,166,.08)}code{margin:0;padding:2px .25rem 2px .3rem;font-family:monospace,monospace;font-family:var(--bolt-font-family-code);font-weight:400;font-size:.9rem;line-height:1.51;display:inline;background-color:rgba(84,93,166,.08);letter-spacing:.05rem}pre code{padding:0;display:block;background-color:transparent}h1,h2{margin-bottom:.412rem;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-heading);font-size:1.111rem;line-height:1.45;font-weight:800}h1:last-child,h2:last-child{margin-bottom:0}a{color:inherit;text-decoration:none}a:not([class]){color:#545da6;text-decoration:underline}.t-bolt-xlight a:not([class]){color:#545da6}html{font-size:14px;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);--bolt-font-family-body:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-bodySubset:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-heading:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-code:monospace,monospace}@media (min-width:320px){html{font-size:calc(1.25vw + 10px)}}@media (min-width:400px){html{font-size:calc(.1vw + 14.6px)}}@media (min-width:1400px){html{font-size:calc(.385vw + 10.615px)}}@media (min-width:1920px){html{font-size:18px}}body{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);font-size:1rem;line-height:1.65;width:100%;margin:0;color:#060923}p:last-child{margin-bottom:1px}.o-bolt-bare-list{margin:0;padding:0;list-style:none}.o-bolt-wrapper{padding-left:2rem;padding-right:2rem;margin-left:auto;margin-right:auto;display:block}@media (min-width:50em){.o-bolt-wrapper{padding-left:4rem;padding-right:4rem}}.o-bolt-wrapper,.o-bolt-wrapper--xxlarge{max-width:1400px}.t-bolt-dark{--bolt-theme-background:#1f2656;--bolt-theme-primary:#ffcc4d;--bolt-theme-secondary:#fff;--bolt-theme-heading:#fff;--bolt-theme-link:#ffcc4d;--bolt-theme-text:#fff;--bolt-theme-heading-link:#fff;--bolt-theme-border:hsla(0,0%,100%,.2);--bolt-theme-link-default:#ffcc4d;--bolt-theme-link-hover:rgba(255,204,77,.7);--bolt-theme-link-active:rgba(255,204,77,.5);--bolt-theme-link-visited:#ffcc4d;--bolt-theme-heading-link-default:#fff;--bolt-theme-heading-link-hover:hsla(0,0%,100%,.7);--bolt-theme-heading-link-active:hsla(0,0%,100%,.5);--bolt-theme-heading-link-visited:#fff;--bolt-theme-primary-background-default:#ffcc4d;--bolt-theme-primary-text-default:#151619;--bolt-theme-primary-border-default:#ffcc4d;--bolt-theme-primary-background-hover:#ffd467;--bolt-theme-primary-text-hover:#151619;--bolt-theme-primary-border-hover:#ffd467;--bolt-theme-primary-background-active:#c59f40;--bolt-theme-primary-text-active:#151619;--bolt-theme-primary-border-active:#c59f40;--bolt-theme-primary-background-focus:#ffd467;--bolt-theme-primary-text-focus:#151619;--bolt-theme-primary-border-focus:#ffd467;--bolt-theme-contrast-filter:grayscale(100%) invert(100%) brightness(150%);background-color:#1f2656;color:#fff}.t-bolt-xlight,:root{--bolt-theme-background:#fff;--bolt-theme-primary:#545da6;--bolt-theme-secondary:#fff;--bolt-theme-heading:#1f2656;--bolt-theme-link:#545da6;--bolt-theme-text:#151619;--bolt-theme-heading-link:#545da6;--bolt-theme-border:rgba(31,38,86,.2);--bolt-theme-link-default:#545da6;--bolt-theme-link-hover:rgba(84,93,166,.7);--bolt-theme-link-active:rgba(84,93,166,.5);--bolt-theme-link-visited:#545da6;--bolt-theme-heading-link-default:#545da6;--bolt-theme-heading-link-hover:rgba(84,93,166,.7);--bolt-theme-heading-link-active:rgba(84,93,166,.5);--bolt-theme-heading-link-visited:#545da6;--bolt-theme-primary-background-default:#545da6;--bolt-theme-primary-text-default:#fff;--bolt-theme-primary-border-default:#545da6;--bolt-theme-primary-background-hover:#6d76b4;--bolt-theme-primary-text-hover:#151619;--bolt-theme-primary-border-hover:#6d76b4;--bolt-theme-primary-background-active:#444c83;--bolt-theme-primary-text-active:#fff;--bolt-theme-primary-border-active:#444c83;--bolt-theme-primary-background-focus:#6d76b4;--bolt-theme-primary-text-focus:#151619;--bolt-theme-primary-border-focus:#6d76b4;background-color:#fff;color:#151619}.u-bolt-margin-right-xsmall{margin-right:.5rem!important}@media (min-width:37.5em){.u-bolt-margin-right-auto\@small{margin-right:auto!important}.u-bolt-margin-right\@small{margin-right:2rem!important}}.c-bolt-site{display:grid;overflow-x:hidden;min-height:100vh;grid-template-areas:"a" "b" "c";grid-template-rows:auto 1fr auto}@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active){.c-bolt-site{height:100%;overflow-x:hidden}}.c-bolt-site__header{grid-area:a}.c-bolt-site__footer{grid-area:c}.c-bolt-site__content{grid-area:b;width:100%}.c-bolt-band{display:block;min-height:0}.c-bolt-band__content{position:relative}.c-bolt-band--medium{padding-top:3.3rem;padding-bottom:3.3rem}.c-bolt-band--xsmall{padding-top:.412rem;padding-bottom:.412rem}bolt-band{display:block;display:flex;width:100%;max-height:none;min-height:0;transform:translateZ(0);will-change:height,min-height;height:100%}bolt-icon{display:inline-block;vertical-align:middle;width:1em;height:1em}:host{display:inline-block;vertical-align:middle}bolt-icon[size=medium]{width:24px;height:24px}.c-bolt-headline,.c-bolt-text{display:block;color:inherit;color:var(--bolt-theme-heading,inherit)}.c-bolt-headline--bold,.c-bolt-text--bold{font-weight:800}.c-bolt-text--normal{font-style:normal}.c-bolt-headline:last-child,.c-bolt-text:last-child{margin-bottom:0}.c-bolt-headline:not(:last-child){margin-bottom:1.65rem}.c-bolt-headline--xxxlarge{letter-spacing:-.025rem}.c-bolt-headline--xxxlarge{font-size:2.275rem;line-height:1.14}@media (min-width:21.333rem){.c-bolt-headline--xxxlarge{font-size:calc(2.525vw + 1.736rem)}}@media (min-width:53.333rem){.c-bolt-headline--xxxlarge{font-size:3.083rem}}.c-bolt-headline--xlarge{font-size:1.417rem;line-height:1.35}.c-bolt-headline--large{font-size:1.111rem;line-height:1.45}.c-bolt-text--xsmall{font-size:.8rem;line-height:1.45}.c-bolt-link{padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);display:inline-block;display:inline-flex;align-items:center;text-decoration:underline;border:none;background:0 0;opacity:1}.c-bolt-link:link,.c-bolt-link:visited{color:#545da6}.t-bolt-xlight .c-bolt-link:link,.t-bolt-xlight .c-bolt-link:visited{color:#545da6}.sub-nav{border-top:1px solid #e0e2eb;list-style-type:none;margin:0}.sub-nav__link{font-size:1.11rem;line-height:1.25;font-weight:300}.sub-nav__link--parent{background:#e0e2eb;display:block;border-top:1px solid #fff;border-bottom:1px solid #fff;padding:.6rem 1.7rem;color:#000}.sub-nav__list--depth-1 .sub-nav__link{font-size:1.25rem}.sub-nav__list--depth-2 .sub-nav__link{font-size:.9rem;display:block;margin:.5rem 0}.sub-nav__list--depth-2,.sub-nav__list--depth-3{margin-top:.25rem;margin-bottom:.25rem;border-left:2px solid transparent;margin-left:.25rem;padding-left:2rem}.sub-nav>ul{margin-left:0;padding:0}.sub-nav>ul li:first-child a.sub-nav__link--parent{border-top:none}.sub-nav li{list-style:none}.storefront-docs-title{padding:15px 20px}.storefront-docs-title--main bolt-icon{color:#ffcc4d}.storefront-docs-title bolt-icon{margin-right:7px}.storefront-docs-title span{vertical-align:middle}.storefront-docs__content--has-sidebar .storefront-docs-title{width:100%}.storefront-docs-header{position:relative;position:-webkit-sticky;position:sticky;display:flex;justify-content:center;flex-flow:row wrap;align-items:center;top:0;left:0;right:0;z-index:80;-webkit-backface-visibility:hidden;backface-visibility:hidden}@media (min-width:768px){.storefront-docs-header{min-height:4rem}}.storefront-docs-header .c-bolt-headline{padding-left:25px;position:absolute;opacity:0}@media (min-width:800px){.storefront-docs-header .c-bolt-headline{left:320px}}@media (max-width:1000px){.storefront-docs-header .c-bolt-headline{bottom:-44px;background:#535ca6;height:44px;width:100%;line-height:44px;border-top:1px solid #fff}}.storefront-docs-header__nav{padding:15px 20px;text-align:right}@media (max-width:599px){.storefront-docs-header__nav{text-align:center;width:100%}}.storefront-docs-header__nav a{color:#fff;padding:6px 12px}.storefront-docs-header__nav a.active,.storefront-docs-header__nav a.active-path{background:rgba(0,0,0,.1);border:1px solid #fff;border-radius:3px;box-shadow:0 1px 3px rgba(21,22,25,.12),0 1px 2px rgba(21,22,25,.24);display:none}@media (min-width:37.5em){.storefront-docs-header__nav a.active,.storefront-docs-header__nav a.active-path{display:initial}}.storefront-docs-header__nav a.active-path.active-path,.storefront-docs-header__nav a.active.active-path{text-decoration:none}.storefront-docs-header__nav a.storefront-docs__hamburger{color:#ffcc4d}.storefront-docs-header__nav a.storefront-docs__hamburger>span{display:none}@media (min-width:25em){.storefront-docs-header__nav a.storefront-docs__hamburger>span{display:initial}}.storefront-docs-header__link{text-decoration:none}.storefront-docs-sidebar__overlay{position:fixed;top:0;left:0;right:0;bottom:0;z-index:85;background-color:#151619;opacity:0;visibility:hidden}.storefront-docs-sidebar{width:320px;overflow:auto;border-right:1px solid #e0e2eb;padding:0;position:fixed;top:0;bottom:0;transform:translate3d(-320px,0,0);background-color:#f6f6f9;z-index:99}@media (min-width:50em){.storefront-docs-sidebar{transform:translateZ(0)}}.storefront-docs-sidebar .sub-nav{position:relative}.storefront-docs-sidebar .sub-nav>h2{color:#fff;background-color:#1f2656;border-bottom:1px solid #fff;padding:10px 20px;margin:0;font-size:1.11rem}.storefront-docs-sidebar .sub-nav>h2:before{content:"#";width:24px;text-align:center;display:inline-block;margin-right:7px}.storefront-docs-sidebar .sub-nav .storefront-docs__close-menu{position:absolute;top:8px;right:10px;color:#ffcc4d}.storefront-docs--docs article h2{font-size:1.33rem;margin-bottom:.9rem}.storefront-docs-content>bolt-band:first-child{margin-bottom:0;padding-bottom:0}@media (min-width:50em){.storefront-docs__content--has-sidebar .storefront-docs-content{margin-left:320px}}.storefront-docs-footer{position:relative;position:-webkit-sticky;position:sticky;bottom:0;right:0;left:0;z-index:70;border-top:1px solid #e0e2eb;background-color:#fff;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}.storefront-docs-footer .c-bolt-link{text-decoration:none}@media (min-width:50em){.storefront-docs__content--has-sidebar+.storefront-docs-footer{padding-left:320px}}pre>code{background-color:#f6f6f9;margin-left:-1rem;margin-right:-1rem;padding:.825rem 1rem}@media (min-width:37.5em){.u-bolt-margin-right-auto\@small{margin-right:auto!important}}@media (min-width:50em){.u-bolt-hide\@medium{display:none!important}}

      {# docs homepage page critical css -- manually created, replace w/ WIP automated version #}
    {% else %}
      *,:after,:before{font-feature-settings:"kern";-webkit-font-kerning:normal;font-kerning:normal;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,footer,header,nav{display:block}h1{font-size:2em;margin:.67em 0}main{display:block}a{background-color:transparent;-webkit-text-decoration-skip:objects}img{border-style:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}body,h1,h2,h3,p,ul{margin:0;padding:0}p,ul{margin-bottom:1.65rem}ul{margin-left:2rem}h1,h2,h3{margin-bottom:.412rem;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-heading);font-size:1.111rem;line-height:1.45;font-weight:800}h2:last-child{margin-bottom:0}img{max-width:100%}a{color:inherit;text-decoration:none}a:not([class]){color:#545da6;text-decoration:underline}.t-bolt-dark a:not([class]){color:#fff}html{font-size:14px;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);--bolt-font-family-body:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-bodySubset:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-heading:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;--bolt-font-family-code:monospace,monospace}@media (min-width:320px){html{font-size:calc(1.25vw + 10px)}}@media (min-width:400px){html{font-size:calc(.1vw + 14.6px)}}@media (min-width:1400px){html{font-size:calc(.385vw + 10.615px)}}@media (min-width:1920px){html{font-size:18px}}body{font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);font-size:1rem;line-height:1.65;width:100%;margin:0;color:#060923}p:last-child{margin-bottom:1px}.o-bolt-bare-list{margin:0;padding:0;list-style:none}.o-bolt-grid{font-size:0;margin:0;padding:0;list-style:none;margin-left:-2rem;flex:1 1 auto}.o-bolt-grid__cell{display:inline-block;vertical-align:top;padding-left:2rem;font-size:1rem}.o-bolt-grid--middle.o-bolt-grid--flex{align-items:center}.o-bolt-grid--middle>.o-bolt-grid__cell{vertical-align:middle}.o-bolt-grid--large{margin-left:-4rem}.o-bolt-grid--large>.o-bolt-grid__cell{padding-left:4rem}.o-bolt-grid--flex{display:flex;flex-flow:row wrap}.o-bolt-grid--matrix{margin-bottom:-1.65rem}.o-bolt-grid--matrix>.o-bolt-grid__cell{padding-bottom:1.65rem}bolt-ratio{display:inline-block;position:relative;vertical-align:middle;width:100%;height:0;font-size:0;overflow:hidden;--aspect-ratio-width:1;--aspect-ratio-height:1}@supports (--custom:property){bolt-ratio{padding-top:calc(var(--aspect-ratio-height,1)/ var(--aspect-ratio-width,1) * 100%)}}bolt-ratio>*,bolt-ratio img{position:absolute;top:0;left:0;width:100%;height:100%;min-width:100%;min-height:100%}.o-bolt-ui-list{margin:0;padding:0;list-style:none}.o-bolt-ui-list__item{position:relative}.o-bolt-ui-list__item:after{content:"";display:block;border-bottom-style:solid;border-bottom-color:currentColor;border-bottom-width:0;position:absolute;right:0;bottom:0;left:0;opacity:.2}@supports (--css:variables){.o-bolt-ui-list__item:after{opacity:1;border-bottom-color:var(--bolt-theme-border,currentColor)}}.o-bolt-ui-list__item:not(:last-child):after{border-bottom-width:1px}.o-bolt-ui-list__item>:last-child{margin-bottom:0}.o-bolt-ui-list>.o-bolt-ui-list__item{padding:1.65rem 0}.o-bolt-wrapper{padding-left:2rem;padding-right:2rem;margin-left:auto;margin-right:auto;display:block}@media (min-width:50em){.o-bolt-wrapper{padding-left:4rem;padding-right:4rem}}.o-bolt-wrapper,.o-bolt-wrapper--xxlarge{max-width:1400px}.t-bolt-dark{--bolt-theme-background:#1f2656;--bolt-theme-primary:#ffcc4d;--bolt-theme-secondary:#fff;--bolt-theme-heading:#fff;--bolt-theme-link:#ffcc4d;--bolt-theme-text:#fff;--bolt-theme-heading-link:#fff;--bolt-theme-border:hsla(0,0%,100%,.2);--bolt-theme-link-default:#ffcc4d;--bolt-theme-link-hover:rgba(255,204,77,.7);--bolt-theme-link-active:rgba(255,204,77,.5);--bolt-theme-link-visited:#ffcc4d;--bolt-theme-heading-link-default:#fff;--bolt-theme-heading-link-hover:hsla(0,0%,100%,.7);--bolt-theme-heading-link-active:hsla(0,0%,100%,.5);--bolt-theme-heading-link-visited:#fff;--bolt-theme-primary-background-default:#ffcc4d;--bolt-theme-primary-text-default:#151619;--bolt-theme-primary-border-default:#ffcc4d;--bolt-theme-primary-background-hover:#ffd467;--bolt-theme-primary-text-hover:#151619;--bolt-theme-primary-border-hover:#ffd467;--bolt-theme-primary-background-active:#c59f40;--bolt-theme-primary-text-active:#151619;--bolt-theme-primary-border-active:#c59f40;--bolt-theme-primary-background-focus:#ffd467;--bolt-theme-primary-text-focus:#151619;--bolt-theme-primary-border-focus:#ffd467;--bolt-theme-contrast-filter:grayscale(100%) invert(100%) brightness(150%);background-color:#1f2656;color:#fff}.t-bolt-xdark{--bolt-theme-background:#161a3c;--bolt-theme-primary:#ffcc4d;--bolt-theme-secondary:#fff;--bolt-theme-heading:#fff;--bolt-theme-link:#ffcc4d;--bolt-theme-text:#fff;--bolt-theme-heading-link:#fff;--bolt-theme-border:hsla(0,0%,100%,.2);--bolt-theme-link-default:#ffcc4d;--bolt-theme-link-hover:rgba(255,204,77,.7);--bolt-theme-link-active:rgba(255,204,77,.5);--bolt-theme-link-visited:#ffcc4d;--bolt-theme-heading-link-default:#fff;--bolt-theme-heading-link-hover:hsla(0,0%,100%,.7);--bolt-theme-heading-link-active:hsla(0,0%,100%,.5);--bolt-theme-heading-link-visited:#fff;--bolt-theme-primary-background-default:#ffcc4d;--bolt-theme-primary-text-default:#151619;--bolt-theme-primary-border-default:#ffcc4d;--bolt-theme-primary-background-hover:#ffd467;--bolt-theme-primary-text-hover:#151619;--bolt-theme-primary-border-hover:#ffd467;--bolt-theme-primary-background-active:#c59f40;--bolt-theme-primary-text-active:#151619;--bolt-theme-primary-border-active:#c59f40;--bolt-theme-primary-background-focus:#ffd467;--bolt-theme-primary-text-focus:#151619;--bolt-theme-primary-border-focus:#ffd467;--bolt-theme-contrast-filter:grayscale(100%) invert(100%) brightness(150%);background-color:#161a3c;color:#fff}.t-bolt-xlight,:root{--bolt-theme-background:#fff;--bolt-theme-primary:#545da6;--bolt-theme-secondary:#fff;--bolt-theme-heading:#1f2656;--bolt-theme-link:#545da6;--bolt-theme-text:#151619;--bolt-theme-heading-link:#545da6;--bolt-theme-border:rgba(31,38,86,.2);--bolt-theme-link-default:#545da6;--bolt-theme-link-hover:rgba(84,93,166,.7);--bolt-theme-link-active:rgba(84,93,166,.5);--bolt-theme-link-visited:#545da6;--bolt-theme-heading-link-default:#545da6;--bolt-theme-heading-link-hover:rgba(84,93,166,.7);--bolt-theme-heading-link-active:rgba(84,93,166,.5);--bolt-theme-heading-link-visited:#545da6;--bolt-theme-primary-background-default:#545da6;--bolt-theme-primary-text-default:#fff;--bolt-theme-primary-border-default:#545da6;--bolt-theme-primary-background-hover:#6d76b4;--bolt-theme-primary-text-hover:#151619;--bolt-theme-primary-border-hover:#6d76b4;--bolt-theme-primary-background-active:#444c83;--bolt-theme-primary-text-active:#fff;--bolt-theme-primary-border-active:#444c83;--bolt-theme-primary-background-focus:#6d76b4;--bolt-theme-primary-text-focus:#151619;--bolt-theme-primary-border-focus:#6d76b4;background-color:#fff;color:#151619}@media (min-width:37.5em){.u-bolt-margin-right-auto\@small{margin-right:auto!important}.u-bolt-margin-right\@small{margin-right:2rem!important}}.u-bolt-width-1\/1{width:100%!important}@media (min-width:37.5em){.u-bolt-width-1\/3\@small{width:33.333%!important}.u-bolt-width-2\/3\@small{width:66.667%!important}}.c-bolt-site{display:grid;overflow-x:hidden;min-height:100vh;grid-template-areas:"a" "b" "c";grid-template-rows:auto 1fr auto}@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active){.c-bolt-site{height:100%;overflow-x:hidden}}.c-bolt-site__header{grid-area:a}.c-bolt-site__footer{grid-area:c}.c-bolt-site__content{grid-area:b;width:100%}.c-bolt-site__content--middle{display:flex;justify-content:center;align-items:center}.c-bolt-site__content--middle>*{display:block;flex-basis:auto;flex-grow:1;width:100%;-ms-flex-preferred-size:auto}@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active){.c-bolt-site__content--middle>*{margin:0}}.c-bolt-band{display:block;min-height:0}.c-bolt-band__content{position:relative}.c-bolt-band--medium{padding-top:3.3rem;padding-bottom:3.3rem}.c-bolt-band--xsmall{padding-top:.412rem;padding-bottom:.412rem}.c-bolt-band--full{position:relative;right:50%;left:50%;width:100%;width:100vw;margin:-.5px -50vw}bolt-band{display:block;display:flex;width:100%;max-height:none;min-height:0;transform:translateZ(0);will-change:height,min-height;height:100%}bolt-button{display:inline-block;display:inline-flex}.c-bolt-button{padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);border:none;background:0 0;font-weight:600;box-shadow:0 1px 4px 1px rgba(6,10,36,.1),0 5px 10px 0 rgba(6,10,36,.08);display:inline-block;display:inline-flex;position:relative;text-decoration:none;vertical-align:middle;border-style:solid;border-width:1px;border-radius:3px;transform:translateZ(0);flex-grow:1;flex-direction:row}.c-bolt-button:before{display:block;position:absolute;z-index:-5;top:0;left:0;width:100%;height:100%;content:"";border-radius:3px;transform:translateY(-2px);opacity:.2}.c-bolt-button--primary,.c-bolt-button--primary:visited{border-color:#ffcc4d;border-color:var(--bolt-theme-primary-border-default,#ffcc4d);color:#151619;color:var(--bolt-theme-primary-text-default,#151619);background-color:#ffcc4d;background-color:var(--bolt-theme-primary-background-default,#ffcc4d)}.c-bolt-button--secondary,.c-bolt-button--secondary:visited{border-color:#fff;border-color:var(--bolt-theme-secondary-border-default,#fff);color:#151619;color:var(--bolt-theme-secondary-text-default,#151619);background-color:#fff;background-color:var(--bolt-theme-secondary-background-default,#fff)}.c-bolt-button--text{text-decoration:none;border-color:transparent;background-color:transparent}.c-bolt-button--text,.c-bolt-button--text:before{border-radius:0;box-shadow:none}.c-bolt-button--text{opacity:1;color:currentColor;color:var(--bolt-theme-heading-link-default,inherit)}.c-bolt-button--text:visited{opacity:1}.c-bolt-button,.c-bolt-button--medium{padding:.825rem 2rem;font-size:.8rem;line-height:1.45}.c-bolt-button--full,bolt-button[width=full]{width:100%}@media screen and (max-width:600px){.c-bolt-button--full\@small,bolt-button[width="full@small"]{width:100%}}.c-bolt-button--center{text-align:center}.c-bolt-button--center>:first-child{margin-left:auto}.c-bolt-button--center>:last-child{margin-right:auto}.c-bolt-button--center>:only-child{margin-right:auto;margin-left:auto}.c-bolt-button--left{text-align:left}.c-bolt-button--left>:last-child{margin-right:auto}.c-bolt-button__item+.c-bolt-button__icon{margin-left:.25rem}.c-bolt-button__icon{display:inline-block;display:inline-flex;vertical-align:middle;align-self:center;text-align:center;line-height:1}.c-bolt-button-group{margin-bottom:0;margin-left:-1rem;display:inline-flex;letter-spacing:-.35em;flex-flow:row wrap;list-style:none}.c-bolt-button-group__item{padding-left:1rem;padding-bottom:.825rem;letter-spacing:normal;display:inline-block;display:inline-flex;flex-basis:auto;flex-shrink:1;flex-grow:1}bolt-card{display:flex;height:100%}.c-bolt-card{display:flex;flex-direction:column;flex-basis:100%;flex-grow:1;position:relative;max-width:100%;color:#2e2e33;color:var(--bolt-theme-text,#2e2e33);border-radius:3px;transform:translateZ(0) scale(1)}.c-bolt-card:not(.c-bolt-card--wrapper){box-shadow:0 3px 6px rgba(21,22,25,.16),0 3px 6px rgba(21,22,25,.23)}.c-bolt-card:after,.c-bolt-card:before{display:block;position:absolute;z-index:-5;top:0;left:0;width:100%;height:100%;transform:translateZ(0);content:"";border-radius:3px}.c-bolt-card:before{background-color:#fff}@supports (--css:variables){.c-bolt-card:before{background-color:var(--bolt-theme-card-background,var(--bolt-theme-background,#fff));opacity:.8}}.c-bolt-card:after{background-color:hsla(0,0%,100%,.1);box-shadow:none}.c-bolt-card__media{position:relative;overflow:hidden;font-size:0;border-top-right-radius:3px;border-top-left-radius:3px}.c-bolt-card__body{padding:1.65rem 2rem;display:flex;flex-direction:column;flex-grow:1}.c-bolt-card__footer{position:relative;display:flex;overflow:hidden}.c-bolt-card__footer:before{content:"";border-top-color:var(--bolt-theme-card-border,var(--bolt-theme-border,currentColor));border-top-width:1px;border-top-style:solid;position:absolute;top:0;left:0;right:0;display:block;height:1px;opacity:.2}@supports (--css:variables){.c-bolt-card__footer:before{opacity:1}}.c-bolt-card__footer-item:only-child{width:100%}bolt-icon{display:inline-block;vertical-align:middle;width:1em;height:1em}:host{display:inline-block;vertical-align:middle}bolt-icon[size=medium]{width:24px;height:24px}.c-bolt-eyebrow,.c-bolt-headline,.c-bolt-subheadline,.c-bolt-text{display:block;color:inherit;color:var(--bolt-theme-heading,inherit)}.c-bolt-eyebrow--regular,.c-bolt-subheadline--regular,.c-bolt-text--regular{font-weight:400}.c-bolt-headline--bold,.c-bolt-text--bold{font-weight:800}.c-bolt-text--normal{font-style:normal}.c-bolt-headline--uppercase{text-transform:uppercase}.c-bolt-headline:last-child,.c-bolt-text:last-child{margin-bottom:0}.c-bolt-headline:not(:last-child){margin-bottom:1.65rem}.c-bolt-eyebrow{margin-bottom:.1rem;font-size:.8rem;line-height:1.45;text-transform:uppercase;letter-spacing:.05rem;opacity:.8}.c-bolt-subheadline{margin-bottom:1.65rem;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-heading);font-weight:400}.c-bolt-headline:not(.c-bolt-headline--xxxlarge)+.c-bolt-text{margin-top:-1.237rem}.c-bolt-headline--xxxlarge+.c-bolt-subheadline{margin-top:-.825rem}.c-bolt-headline--xxxlarge{letter-spacing:-.025rem}.c-bolt-headline--xxxlarge{font-size:2.275rem;line-height:1.14}@media (min-width:21.333rem){.c-bolt-headline--xxxlarge{font-size:calc(2.525vw + 1.736rem)}}@media (min-width:53.333rem){.c-bolt-headline--xxxlarge{font-size:3.083rem}}.c-bolt-subheadline--xxlarge{font-size:1.781rem;line-height:1.31}.c-bolt-headline--large{font-size:1.111rem;line-height:1.45}.c-bolt-text--medium{font-size:1rem;line-height:1.65}.c-bolt-headline--small{font-size:.9rem;line-height:1.51}.c-bolt-text--xsmall{font-size:.8rem;line-height:1.45}.c-bolt-headline--small{letter-spacing:.05rem}.c-bolt-link{padding:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-family:var(--bolt-font-family-body);display:inline-block;display:inline-flex;align-items:center;text-decoration:underline;border:none;background:0 0;opacity:1}.c-bolt-link:link,.c-bolt-link:visited{color:#545da6}.t-bolt-xlight .c-bolt-link:link,.t-bolt-xlight .c-bolt-link:visited{color:#545da6}.t-bolt-dark .c-bolt-link:link,.t-bolt-dark .c-bolt-link:visited{color:#fff}bolt-image{display:block}.c-bolt-image__lazyload--blur{-webkit-filter:blur(20px);filter:blur(20px)}.c-bolt-image__lazyload--blur.is-lazyloaded{-webkit-filter:none;filter:none}.c-bolt-image__lazyload--fade{opacity:0}.c-bolt-image__lazyload--fade.is-lazyloaded{opacity:1}.storefront-docs-title{padding:15px 20px}.storefront-docs-title--main bolt-icon{color:#ffcc4d}.storefront-docs-title bolt-icon{margin-right:7px}.storefront-docs-title span{vertical-align:middle}.storefront-docs-header{position:relative;position:-webkit-sticky;position:sticky;display:flex;justify-content:center;flex-flow:row wrap;align-items:center;top:0;left:0;right:0;z-index:80;-webkit-backface-visibility:hidden;backface-visibility:hidden}@media (min-width:768px){.storefront-docs-header{min-height:4rem}}.storefront-docs-header__nav{padding:15px 20px;text-align:right}@media (max-width:599px){.storefront-docs-header__nav{text-align:center;width:100%}}.storefront-docs-header__nav a{color:#fff;padding:6px 12px}.storefront-docs-header__nav a.active,.storefront-docs-header__nav a.active-path{background:rgba(0,0,0,.1);border:1px solid #fff;border-radius:3px;box-shadow:0 1px 3px rgba(21,22,25,.12),0 1px 2px rgba(21,22,25,.24);display:none}@media (min-width:37.5em){.storefront-docs-header__nav a.active,.storefront-docs-header__nav a.active-path{display:initial}}.storefront-docs-header__nav a.active-path.active-path,.storefront-docs-header__nav a.active.active-path{text-decoration:none}.storefront-docs-header__link{text-decoration:none}.storefront-docs-content>bolt-band:first-child{margin-bottom:0;padding-bottom:0}.storefront-docs-footer{position:relative;position:-webkit-sticky;position:sticky;bottom:0;right:0;left:0;z-index:70;border-top:1px solid #e0e2eb;background-color:#fff;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}.storefront-docs-footer .c-bolt-link{text-decoration:none}@media (min-width:37.5em){.u-bolt-margin-right-auto\@small{margin-right:auto!important}}.u-bolt-padding-top-none{padding-top:0!important};
    {% endif %}
  </style>

  <script>
  !function(e){"use strict";var n=function(n,t,o){function i(e){if(a.body)return e();setTimeout(function(){i(e)})}function r(){l.addEventListener&&l.removeEventListener("load",r),l.media=o||"all"}var d,a=e.document,l=a.createElement("link");if(t)d=t;else{var f=(a.body||a.getElementsByTagName("head")[0]).childNodes;d=f[f.length-1]}var s=a.styleSheets;l.rel="stylesheet",l.href=n,l.media="only x",i(function(){d.parentNode.insertBefore(l,t?d:d.nextSibling)});var u=function(e){for(var n=l.href,t=s.length;t--;)if(s[t].href===n)return e();setTimeout(function(){u(e)})};return l.addEventListener&&l.addEventListener("load",r),l.onloadcssdefined=u,u(r),l};"undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this);

  /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
  !function(t){"use strict";t.loadCSS||(t.loadCSS=function(){});var e=loadCSS.relpreload={};if(e.support=function(){var e;try{e=t.document.createElement("link").relList.supports("preload")}catch(t){e=!1}return function(){return e}}(),e.bindMediaToggle=function(t){function e(){t.media=a}var a=t.media||"all";t.addEventListener?t.addEventListener("load",e):t.attachEvent&&t.attachEvent("onload",e),setTimeout(function(){t.rel="stylesheet",t.media="only x"}),setTimeout(e,3e3)},e.poly=function(){if(!e.support())for(var a=t.document.getElementsByTagName("link"),n=0;n<a.length;n++){var o=a[n];"preload"!==o.rel||"style"!==o.getAttribute("as")||o.getAttribute("data-loadcss")||(o.setAttribute("data-loadcss",!0),e.bindMediaToggle(o))}},!e.support()){e.poly();var a=t.setInterval(e.poly,500);t.addEventListener?t.addEventListener("load",function(){e.poly(),t.clearInterval(a)}):t.attachEvent&&t.attachEvent("onload",function(){e.poly(),t.clearInterval(a)})}"undefined"!=typeof exports?exports.loadCSS=loadCSS:t.loadCSS=loadCSS}("undefined"!=typeof global?global:this);</script>

  <link rel="preload" href="/build/bolt-global.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/build/bolt-global.css"></noscript>




</head>
<body class="storefront-docs c-bolt-site {% if currentUrl == 'index.html' %} t-bolt-dark {% endif %} storefront-docs--{{ urlChunks | length >= 2 ? urlChunks|first : 'parent' }}">


<header class="storefront-docs-header {{ currentUrl != 'index.html' ? 't-bolt-dark' : 't-bolt-xdark' }}">
  <h1 class="storefront-docs-title storefront-docs-title--main u-bolt-margin-right-auto@small">
    <a class="" href="/">
    {% include "@bolt-components-icon/icon.twig" with {
      name: "energy",
      size: "medium",
    }%} <span>BOLT DESIGN SYSTEM</span>
    </a>
  </h1>
  <nav class="storefront-docs-header__nav">

    {% for page in site.pages if page.meta.nav == 'main' %}
      {% set isActive = currentUrl == page.url %}
      {% set isActivePath = page.url starts with currentSection %}
      <a href="/{{ page.url }}" class="{% if isActive %}active{% endif %} {% if isActivePath %}active-path{% endif %} storefront-docs-header__link">{{ page.meta.title }}</a>
      {% if loop.first %}
        <a href="/pattern-lab/index.html" target="_blank" class="storefront-docs-header__link">Pattern Lab</a>
      {% endif %}
    {% endfor %}

    {% if 'docs/' in currentUrl %}
      <a href="#menu" class="storefront-docs__hamburger u-bolt-hide@medium">
        <span class="u-bolt-margin-right-xsmall">Menu</span>
        {% include "@bolt-components-icon/icon.twig" with {
          name: "menu",
          size: "medium",
        } %}
      </a>
    {% endif %}
  </nav>
  {% if currentUrl != 'index.html' %}
    {% include "@bolt-components-headline/headline.twig" with {
      tag: "h2",
      text: page.meta.title,
      size: "large",
      icon: {
        name: "chevron-right",
        size: "medium",
      }
    } only %}
  {% endif %}
</header>

{# @todo Incorporate new class into styles for when there is a sidebar and when there is not. ie: when no sidebar: make it 100% wide Jake #}
<div class="storefront-docs__content c-bolt-site__content {% if hasSidebar %} storefront-docs__content--has-sidebar{% endif %} {% if currentUrl == 'index.html' %}c-bolt-site__content--middle {% endif %}">

  <div class="storefront-docs-wrapper">



    {% if hasSidebar %}
      <aside class="storefront-docs-sidebar" id="menu">
        <header class="storefront-docs-header t-bolt-xlight">
          <h1 class="storefront-docs-title c-bolt-headline--large">
            <a href="/">
            {% include "@bolt-components-icon/icon.twig" with {
              name: "energy",
              size: "medium",
            }%} <span>BOLT DESIGN SYSTEM</span>
            </a>
          </h1>
        </header>

        {% if nestedPages %}
          {% include 'partials/sub-nav.twig' with {
            nestedPages: nestedPages,
          } %}
        {% endif %}
      </aside>

      <a href="#" class="storefront-docs-sidebar__overlay"></a>
    {% endif %}


    <main class="storefront-docs-content {{ currentUrl != 'index.html' ? 't-bolt-xlight' }}">
      {% include "@bolt-components-band/band.twig" with {
        content: content,
        fullBleed: false,
        theme: currentUrl == 'index.html' ? 'none' : 'xlight'
      } only %}
    </main>
  </div>
</div>

<footer role="contentinfo" class="storefront-docs-footer c-bolt-site__footer">
  {% embed "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "xsmall",
    fullBleed: false,
    page: page,
  } only %}
    {% block band_content %}
      {% set gitBranch = 'master' %}

      <nav>
        <ul class="o-bolt-bare-list" style="flex-flow: row wrap; display: flex; justify-content: space-between; align-items: center;">
          <li class="u-bolt-margin-right@small">
            {% include "@bolt-components-headline/text.twig" with {
              size: "xsmall",
              weight: "bold",
              tag: "p",
              text: "Copyright &copy;" ~ "now"|date("Y") ~ " Pegasystems, Inc."
            } only %}
          </li>

          <li>
            {% include "@bolt-components-headline/text.twig" with {
              size: "xsmall",
              weight: "bold",
              tag: "p",
              text: include("@bolt-components-link/link.twig", {
              url: "https://github.com/bolt-design-system/bolt/blob/" ~ gitBranch ~ "/apps/bolt-site/" ~  page.srcPath,
              text: "Edit this page on GitHub"}, with_context = false)
            } only %}
          </li>
        </ul>
      </nav>

    {% endblock %}
  {% endembed %}
</footer>


<script src="/build/bolt-global.js" async></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
{#<script>#}
{#window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;#}
{#ga('create','UA-XXXXX-Y','auto');ga('send','pageview')#}
{#</script>#}
{#<script src="https://www.google-analytics.com/analytics.js" async defer></script>#}

{# Shows Twig Vars in Browser Console #}
{% if not bolt.data.config.prod %}
 {# <script type="application/json">{{ _context|json_encode()|raw }}</script>
  <script>
    (function () {
      var me = document.currentScript;
      var jsonScriptTag = me.previousElementSibling.innerHTML;
      var data = JSON.parse(jsonScriptTag);
      console.log('Twig vars for this page: ', data);
    })();
  </script>#}
{% endif %}
</body>
</html>
