
{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}
{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

{# Global Twig vars #}
  {% set urlChunks = page.url | split('/') %}
  {% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
  {% set currentUrl = page.url %}

  {% if page.url starts with currentSection %}
    {% set nestedPages = [] %}
    {% for page in site.nestedPages if page.url starts with currentSection %}
      {% set nestedPages = page.children %}
    {% endfor %}
  {% endif %}
  {% set hasSidebar = nestedPages or sidebar %}
{# End Global Twig vars #}


<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Bolt Design System{% if page.meta.title %} | {{ page.meta.title }}{% endif %}</title>
  <meta name="description" content="Bolt Design System">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="180x180" href="/pattern-lab/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/pattern-lab/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/pattern-lab/favicons/favicon-16x16.png">
  <link rel="manifest" href="/pattern-lab/favicons/site.webmanifest">
  <link rel="mask-icon" href="/pattern-lab/favicons/safari-pinned-tab.svg" color="#009999">
  <link rel="shortcut icon" href="/pattern-lab/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Bolt Design System">
  <meta name="application-name" content="Bolt Design System">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/pattern-lab/favicons/browserconfig.xml">
  <meta name="theme-color" content="#1f2656">

  <link rel="stylesheet" href="{{ assets["bolt-global.css"] | default("/build/bolt-global.css") }}"  />  
</head>
<body class="storefront-docs c-bolt-site {% if currentUrl == 'index.html' %} t-bolt-dark {% endif %} storefront-docs--{{ urlChunks | length >= 2 ? urlChunks|first : 'parent' }}">


<header class="storefront-docs-header {{ currentUrl != 'index.html' ? 't-bolt-dark' : 't-bolt-xdark' }}">
  <h1 class="storefront-docs-title storefront-docs-title--main u-bolt-margin-right-auto@small">
    <a class="" href="/">
    {% include "@bolt-components-icon/icon.twig" with {
      name: "energy",
      size: "medium",
    }%} <span>BOLT DESIGN SYSTEM</span>
    </a>
  </h1>
  <nav class="storefront-docs-header__nav">

    {% for page in site.pages if page.meta.nav == 'main' %}
      {% set isActive = currentUrl == page.url %}
      {% set isActivePath = page.url starts with currentSection %}
      <a href="/{{ page.url }}" class="{% if isActive %}active{% endif %} {% if isActivePath %}active-path{% endif %} storefront-docs-header__link">{{ page.meta.title }}</a>
      {% if loop.first %}
        <a href="/pattern-lab/index.html" target="_blank" class="storefront-docs-header__link">Pattern Lab</a>
      {% endif %}
    {% endfor %}

    {% if 'docs/' in currentUrl %}
      <a href="#menu" class="storefront-docs__hamburger u-bolt-hide@medium">
        <span class="u-bolt-margin-right-xsmall">Menu</span>
        {% include "@bolt-components-icon/icon.twig" with {
          name: "menu",
          size: "medium",
        } %}
      </a>
    {% endif %}
  </nav>
  {% if currentUrl != 'index.html' %}
    {% include "@bolt-components-headline/headline.twig" with {
      tag: "h2",
      text: page.meta.title,
      size: "large",
      icon: {
        name: "chevron-right",
        size: "medium",
      }
    } only %}
  {% endif %}
</header>

{# @todo Incorporate new class into styles for when there is a sidebar and when there is not. ie: when no sidebar: make it 100% wide Jake #}
<div class="storefront-docs__content c-bolt-site__content {% if hasSidebar %} storefront-docs__content--has-sidebar{% endif %} {% if currentUrl == 'index.html' %}c-bolt-site__content--middle {% endif %}">

  <div class="storefront-docs-wrapper">



    {% if hasSidebar %}
      <aside class="storefront-docs-sidebar" id="menu">
        <header class="storefront-docs-header t-bolt-xlight">
          <h1 class="storefront-docs-title c-bolt-headline--large">
            <a href="/">
            {% include "@bolt-components-icon/icon.twig" with {
              name: "energy",
              size: "medium",
            }%} <span>BOLT DESIGN SYSTEM</span>
            </a>
          </h1>
        </header>

        {% if nestedPages %}
          {% include 'partials/sub-nav.twig' with {
            nestedPages: nestedPages,
          } %}
        {% endif %}
      </aside>

      <a href="#" class="storefront-docs-sidebar__overlay"></a>
    {% endif %}


    <main class="storefront-docs-content {{ currentUrl != 'index.html' ? 't-bolt-xlight' }}">
      {% include "@bolt-components-band/band.twig" with {
        content: content,
        fullBleed: false,
        theme: currentUrl == 'index.html' ? 'none' : 'xlight'
      } only %}
    </main>
  </div>
</div>

<footer role="contentinfo" class="storefront-docs-footer c-bolt-site__footer">
  {% embed "@bolt-components-band/band.twig" with {
    theme: "xlight",
    size: "xsmall",
    fullBleed: false,
    page: page,
  } only %}
    {% block band_content %}
      {% set gitBranch = 'master' %}

      <nav>
        <ul class="o-bolt-bare-list" style="flex-flow: row wrap; display: flex; justify-content: space-between; align-items: center;">
          <li class="u-bolt-margin-right@small">
            {% include "@bolt-components-headline/text.twig" with {
              size: "xsmall",
              weight: "bold",
              tag: "p",
              text: "Copyright &copy;" ~ "now"|date("Y") ~ " Pegasystems, Inc."
            } only %}
          </li>

          <li>
            {% include "@bolt-components-headline/text.twig" with {
              size: "xsmall",
              weight: "bold",
              tag: "p",
              text: include("@bolt-components-link/link.twig", {
              url: "https://github.com/bolt-design-system/bolt/blob/" ~ gitBranch ~ "/apps/bolt-site/" ~  page.srcPath,
              text: "Edit this page on GitHub"}, with_context = false)
            } only %}
          </li>
        </ul>
      </nav>

    {% endblock %}
  {% endembed %}
</footer>


<script src="{{ assets["bolt-global.js"] | default("/build/bolt-global.js") }}" async></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
{#<script>#}
{#window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;#}
{#ga('create','UA-XXXXX-Y','auto');ga('send','pageview')#}
{#</script>#}
{#<script src="https://www.google-analytics.com/analytics.js" async defer></script>#}

{# Shows Twig Vars in Browser Console #}
{% if not bolt.data.config.prod %}
 {# <script type="application/json">{{ _context|json_encode()|raw }}</script>
  <script>
    (function () {
      var me = document.currentScript;
      var jsonScriptTag = me.previousElementSibling.innerHTML;
      var data = JSON.parse(jsonScriptTag);
      console.log('Twig vars for this page: ', data);
    })();
  </script>#}
{% endif %}
</body>
</html>
