{% set manifestConfigFile = "@bolt-assets/bolt-webpack-manifest#{bolt.data.config.lang ? "-" ~ bolt.data.config.lang[0] : ""}.json" %}

{% if fileExists(manifestConfigFile) %}
  {% set assets = get_data(manifestConfigFile) %}
{% else %}
  {% set assets = [] %}
{% endif %}

{% set urlChunks = page.url | split('/') %}
{% set currentSection = urlChunks | length >= 1 ? urlChunks|first : '' %}
{% set currentUrl = page.url %}

{% if page.url starts with currentSection %}
  {% set nestedPages = [] %}
  {% for page in site.nestedPages if page.url starts with currentSection %}
    {% set nestedPages = page.children %}
  {% endfor %}
{% endif %}
{% set hasSidebar = nestedPages or sidebar %}


<!DOCTYPE html>
<html lang="en-US" class="{{ bolt.data.config.prod ? '' : 'js-fonts-loaded' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Design System</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/pattern-lab/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/pattern-lab/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/pattern-lab/favicons/favicon-16x16.png">
    <link rel="manifest" href="/pattern-lab/favicons/site.webmanifest">
    <link rel="mask-icon" href="/pattern-lab/favicons/safari-pinned-tab.svg" color="#009999">
    <link rel="shortcut icon" href="/pattern-lab/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Bolt Design System">
    <meta name="application-name" content="Bolt Design System">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/pattern-lab/favicons/browserconfig.xml">
    <meta name="theme-color" content="#1f2656">

    <!-- Default OG Tag examples (related to Bolt Share Component) -->
    {% include "@bolt-components-share/src/_share-meta-example.twig" %}

    <link rel="stylesheet" href="{{ assets["bolt-global.css"] | default("/pattern-lab/build/bolt-global.css") }}" media="all" />

    {# @TODO: wire this up to use Critical CSS #}
    <style>
        {{ inline( assets["bolt-components-critical-fonts.css"] | default("") ) }}
      </style>

    <script>
      {{ inline( assets["bolt-components-critical-fonts.js"] | default("") ) }}

      {{ inline( assets["bolt-components-critical-css-vars.js"] | default("") ) }}
    </script>

  </head>
  <body class="storefront-docs c-bolt-site {% if currentUrl == 'index.html' %} t-bolt-xdark {% endif %} storefront-docs--{{ urlChunks | length >= 2 ? urlChunks|first : 'parent' }}">
    {% set navbar %}
      {% embed "@bolt-components-navbar/navbar.twig" with {
        theme: "xdark",
        title: {
          tag: "h1",
          text: "Bolt Design System", 
          url: "/",
          icon: {
            name: "bolt-logo-colored"
          }
        },
        links: [
          {
            text: "Components",
            url: "/pattern-lab/index.html"
          },
          {
            text: "Documentation",
            url: "/docs/index.html"
          },
          {
            text: "Github",
            url: "https://github.com/bolt-design-system/bolt",
            attributes: {
              target: "_blank"
            },
            icon: {
              name: "github",
              position: "after"
            }
          }
        ]
      } only %}
        {% block navbar_title %}
          {{ parent() }}
          {% include "@bolt-components-headline/text.twig" with {
            text: 'v' ~ bolt.data.fullManifest.version,
            size: 'xsmall',
            capitalize: 'lowercase',
            attributes: {
              class: [
                "u-bolt-margin-left-small",
                "u-bolt-margin-top-xxsmall"
              ]
            }
          } only %}
        {% endblock %}
      {% endembed %}
    {% endset %}

    {% embed "@bolt-components-sticky/sticky.twig" %}
      {% block sticky_content %}
        {{ navbar }}
      {% endblock %}
    {% endembed %}

    <div class="storefront-docs__content c-bolt-site__content c-bolt-site__content--middle">
      <div class="storefront-docs-wrapper">
        {{ content }}
      </div>
    </div>

    <script src="{{ assets["bolt-global.js"] | default("/build/bolt-global.js") }}" async></script>
  </body>
</html>
