{% set notes %}
  <bolt-ol>
    <bolt-li>The <code>avatar</code> and <code>cover</code> props expect the <a href="{{ link['viewall-elements-image'] }}" class="e-bolt-text-link">Image element</a> or plain HTML image element.</bolt-li>
    <bolt-li>The <code>actions</code> prop expects one or many <a href="{{ link['viewall-elements-button'] }}" class="e-bolt-text-link">Button elements</a> with <code>icon_only</code> prop.</bolt-li>
    <bolt-li>The <code>chips</code> prop expects one or many <a href="{{ link['viewall-components-chip'] }}" class="e-bolt-text-link">Chip components</a>. Chip List is not supported.</bolt-li>
    <bolt-li>Optionally, a <a href="{{ link['visual-styles-theming-system'] }}" class="e-bolt-text-link">theme class</a> and a <a href="{{ link['visual-styles-shadow'] }}" class="e-bolt-text-link">shadow utility class</a> can be added to create a profile card.</bolt-li>
  </bolt-ol>
{% endset %}

{% set demo %}
  <div style="max-width: 45ch;">
    {% set icon_facebook %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'facebook-solid',
      } only %}
    {% endset %}
    {% set icon_twitter %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'twitter-solid',
      } only %}
    {% endset %}
    {% set icon_linkedin %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'linkedin-solid',
      } only %}
    {% endset %}
    {% set icon_email %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'email',
      } only %}
    {% endset %}
    {% set icon_more %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'more',
      } only %}
    {% endset %}
    {% set icon_pencil %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'pencil',
      } only %}
    {% endset %}
    {% set icon_share %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'share',
      } only %}
    {% endset %}
    {% set icon_pega_setting %}
      {% include '@bolt-elements-icon/icon.twig' with {
        name: 'pega-setting',
      } only %}
    {% endset %}

    {% set avatar %}
      {% include '@bolt-elements-image/image.twig' with {
        attributes: {
          src: '/images/placeholders/500x500.jpg',
          width: 500,
          height: 500,
          alt: 'First Last',
          loading: 'eager',
        },
      } only %}
    {% endset %}

    {% set cover %}
      {% include '@bolt-elements-image/image.twig' with {
        background: true,
        attributes: {
          src: '/images/content/promos/promo-shape-1.jpg',
          width: 480,
          height: 480,
          alt: '',
          loading: 'eager',
        },
      } only %}
    {% endset %}

    {% set actions %}
      {% set popover_trigger %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'Share profile',
          icon_only: icon_share,
          hierarchy: 'tertiary',
          border_radius: 'full',
          size: 'xsmall',
          attributes: {
            type: 'button',
          }
        } only %}
      {% endset %}
      {% set popover_menu %}
        {% include '@bolt-components-menu/menu.twig' with {
          title: 'Share profile',
          items: [
            {
              content: 'Facebook',
              icon_before: icon_facebook,
              url: 'https://www.facebook.com/sharer/sharer.php?u=https://boltdesignsystem.com&amp;src=sdkpreparse',
              attributes: {
                target: '_blank',
              }
            },
            {
              content: 'Twitter',
              icon_before: icon_twitter,
              url: 'https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!',
              attributes: {
                target: '_blank',
              }
            },
            {
              content: 'LinkedIn',
              icon_before: icon_linkedin,
              url: 'https://www.linkedin.com/shareArticle?url=https://boltdesignsystem.com',
              attributes: {
                target: '_blank',
              }
            },
            {
              content: 'Email',
              icon_before: icon_email,
              url: 'mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com',
              attributes: {
                target: '_blank',
              }
            },
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: popover_trigger,
        content: popover_menu,
        spacing: 'none',
        placement: 'bottom-end',
        trigger_event: 'hover',
      } only %}

      {% set popover_trigger %}
        {% include '@bolt-elements-button/button.twig' with {
          content: 'More options',
          icon_only: icon_more,
          hierarchy: 'tertiary',
          border_radius: 'full',
          size: 'xsmall',
          attributes: {
            type: 'button',
          }
        } only %}
      {% endset %}
      {% set popover_menu %}
        {% include '@bolt-components-menu/menu.twig' with {
          title: 'More options',
          items: [
            {
              content: 'Edit profile',
              icon_before: icon_pencil,
            },
            {
              content: 'Settings',
              icon_before: icon_pega_setting,
            },
          ]
        } only %}
      {% endset %}
      {% include '@bolt-components-popover/popover.twig' with {
        trigger: popover_trigger,
        content: popover_menu,
        spacing: 'none',
        placement: 'bottom-end',
        trigger_event: 'hover',
      } only %}
    {% endset %}

    {% set chips %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Member since 2017',
        size: 'xsmall',
        border_radius: 'small',
      } only %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Designer',
        color: 'orange',
        size: 'xsmall',
        border_radius: 'small',
      } only %}
      {% include '@bolt-components-chip/chip.twig' with {
        text: 'Available for hire',
        color: 'teal',
        size: 'xsmall',
        border_radius: 'small',
      } only %}
    {% endset %}

    {% include '@bolt-components-profile/profile.twig' with {
      avatar: avatar,
      cover: cover,
      first_name: 'First',
      last_name: 'Last',
      username: 'username',
      job_title: 'Lead System Architect',
      location: 'United States',
      actions: actions,
      chips: chips,
      stats: [
        {
          number: '15',
          label: 'Achievements',
          attributes: {
            type: 'button',
          },
        },
        {
          number: '3k',
          label: 'Contributions',
          attributes: {
            type: 'button',
          },
        },
      ],
      message: {
        label: 'Send message',
        attributes: {
          href: '#!',
        },
      },
      attributes: {
        class: [
          't-bolt-white',
          'u-bolt-shadow-level-20',
        ],
      },
    } only %}
  </div>
{% endset %}

{% set twig_markup %}{% verbatim %}
{% set icon_facebook %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'facebook-solid',
  } only %}
{% endset %}
{% set icon_twitter %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'twitter-solid',
  } only %}
{% endset %}
{% set icon_linkedin %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'linkedin-solid',
  } only %}
{% endset %}
{% set icon_email %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'email',
  } only %}
{% endset %}
{% set icon_more %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'more',
  } only %}
{% endset %}
{% set icon_pencil %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pencil',
  } only %}
{% endset %}
{% set icon_share %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'share',
  } only %}
{% endset %}
{% set icon_pega_setting %}
  {% include '@bolt-elements-icon/icon.twig' with {
    name: 'pega-setting',
  } only %}
{% endset %}

{% set avatar %}
  {% include '@bolt-elements-image/image.twig' with {
    attributes: {
      src: '/images/placeholders/500x500.jpg',
      width: 500,
      height: 500,
      alt: 'First Last',
      loading: 'eager',
    },
  } only %}
{% endset %}

{% set cover %}
  {% include '@bolt-elements-image/image.twig' with {
    background: true,
    attributes: {
      src: '/images/content/promos/promo-shape-1.jpg',
      width: 480,
      height: 480,
      alt: '',
      loading: 'eager',
    },
  } only %}
{% endset %}

{% set actions %}
  {% set popover_trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'Share profile',
      icon_only: icon_share,
      hierarchy: 'tertiary',
      border_radius: 'full',
      size: 'xsmall',
      attributes: {
        type: 'button',
      }
    } only %}
  {% endset %}
  {% set popover_menu %}
    {% include '@bolt-components-menu/menu.twig' with {
      title: 'Share profile',
      items: [
        {
          content: 'Facebook',
          icon_before: icon_facebook,
          url: 'https://www.facebook.com/sharer/sharer.php?u=https://boltdesignsystem.com&amp;src=sdkpreparse',
          attributes: {
            target: '_blank',
          }
        },
        {
          content: 'Twitter',
          icon_before: icon_twitter,
          url: 'https://twitter.com/intent/tweet?url=https://boltdesignsystem.com&text=Sample%20Share%20Text&via=pega&hashtags=boltDesignSystemRocks!',
          attributes: {
            target: '_blank',
          }
        },
        {
          content: 'LinkedIn',
          icon_before: icon_linkedin,
          url: 'https://www.linkedin.com/shareArticle?url=https://boltdesignsystem.com',
          attributes: {
            target: '_blank',
          }
        },
        {
          content: 'Email',
          icon_before: icon_email,
          url: 'mailto:?&body=Sample%20Text%20--%20https%3A//boltdesignsystem.com',
          attributes: {
            target: '_blank',
          }
        },
      ]
    } only %}
  {% endset %}
  {% include '@bolt-components-popover/popover.twig' with {
    trigger: popover_trigger,
    content: popover_menu,
    spacing: 'none',
    placement: 'bottom-end',
    trigger_event: 'hover',
  } only %}

  {% set popover_trigger %}
    {% include '@bolt-elements-button/button.twig' with {
      content: 'More options',
      icon_only: icon_more,
      hierarchy: 'tertiary',
      border_radius: 'full',
      size: 'xsmall',
      attributes: {
        type: 'button',
      }
    } only %}
  {% endset %}
  {% set popover_menu %}
    {% include '@bolt-components-menu/menu.twig' with {
      title: 'More options',
      items: [
        {
          content: 'Edit profile',
          icon_before: icon_pencil,
        },
        {
          content: 'Settings',
          icon_before: icon_pega_setting,
        },
      ]
    } only %}
  {% endset %}
  {% include '@bolt-components-popover/popover.twig' with {
    trigger: popover_trigger,
    content: popover_menu,
    spacing: 'none',
    placement: 'bottom-end',
    trigger_event: 'hover',
  } only %}
{% endset %}

{% set chips %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Member since 2017',
    size: 'xsmall',
    border_radius: 'small',
  } only %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Designer',
    color: 'orange',
    size: 'xsmall',
    border_radius: 'small',
  } only %}
  {% include '@bolt-components-chip/chip.twig' with {
    text: 'Available for hire',
    color: 'teal',
    size: 'xsmall',
    border_radius: 'small',
  } only %}
{% endset %}

{% include '@bolt-components-profile/profile.twig' with {
  avatar: avatar,
  cover: cover,
  first_name: 'First',
  last_name: 'Last',
  username: 'username',
  job_title: 'Lead System Architect',
  location: 'United States',
  actions: actions,
  chips: chips,
  stats: [
    {
      number: '15',
      label: 'Achievements',
      attributes: {
        type: 'button',
      },
    },
    {
      number: '3k',
      label: 'Contributions',
      attributes: {
        type: 'button',
      },
    },
  ],
  message: {
    label: 'Send message',
    attributes: {
      href: '#!',
    },
  },
  attributes: {
    class: [
      't-bolt-white',
      'u-bolt-shadow-level-20',
    ],
  },
} only %}
{% endverbatim %}{% endset %}

{% include '@utils/pattern-doc-page.twig' with {
  title: 'Basic Profile',
  description: 'A basic profile summarizes the user information from a particular Pega user.',
  notes: notes,
  demo: demo,
  twig_markup: twig_markup,
} only %}
