{% set tags = ["button", "a"] %} {# Available Headline Types #}
{% set widths = ["full", "full@small"] %}
{% set styles = ["primary", "secondary", "text"] %}
{% set prefix = "c-bolt-" %}



{# Allowed Headline Sizes #}
{% set sizes = [
  "xsmall",
  "small",
  "large",
  "xlarge"
] %}

{% set attributes = create_attribute(attributes|default({})) %}

{# Defaults for a vanilla `Button` component #}
{% set componentName = "button" %}
{% set baseClass = prefix ~ componentName %}
{% set size = size | default("medium") %}
{% set width = width | default("") %}
{% set style = style | default("") %}

{% set tag = tag in tags ? tag: "a" %}


{% set classes = [
  baseClass,
  size in sizes ? baseClass ~ "--" ~ size : "",
  width in widths ? baseClass ~ "--" ~ width : "",
  style in styles ? baseClass ~ "--" ~ style : ""
] %}

{# set iconpos = iconpos | default("right") #}

<bolt-button
  size="{{ size }}"
  bolt-component
>
  <{{ tag }} {{ attributes.addClass(classes | raw) }}>
    <span class="{{ "#{baseClass}__text" }}">{{ text }}</span>
  </{{ tag }}>
</bolt-button>
