{% macro video() %}
	<bolt-card-replacement-media>
		<bolt-ratio aspect-ratio-height="9" aspect-ratio-width="16">
			<bolt-video data-setup='{"techOrder": ["Html5"], "resizeManager": false}' video-id="3861325118001" account-id="1900410236" show-meta show-meta-title player-id="r1CAdLzTW" controls></bolt-video>
		</bolt-ratio>
	</bolt-card-replacement-media>
{% endmacro %}

{% macro image() %}
	<bolt-card-replacement-media>
		<bolt-image src="/images/placeholders/tout-4x3-climber.jpg" alt="A Rock Climber"></bolt-image>
	</bolt-card-replacement-media>
{% endmacro %}

{% macro body() %}
	<bolt-card-replacement-body>
		<bolt-text eyebrow>This is an eyebrow</bolt-text>
		<bolt-text headline>This is a headline</bolt-text>
		<bolt-text>This is a paragraph.</bolt-text>
	</bolt-card-replacement-body>
{% endmacro %}

{% macro body_clickable() %}
	<bolt-card-replacement-body>This is a card-replacement with an overall link that makes the whole card-replacement clickable.</bolt-card-replacement-body>
{% endmacro %}

{% macro body_with_link() %}
	<bolt-card-replacement-body>This is a card-replacement with an overall link that makes the whole card-replacement clickable, while the body can still have
		<bolt-link target="_blank" url="https://boltdesignsystem.com/docs">text links</bolt-link>
		that would go somewhere else.</bolt-card-replacement-body>
{% endmacro %}

{% macro actions() %}
	<bolt-card-replacement-actions>
		<bolt-card-replacement-action url="https://pega.com">
			Internal link
		</bolt-card-replacement-action>
		<bolt-card-replacement-action url="https://yahoo.com" external>
			External link
		</bolt-card-replacement-action>
	</bolt-card-replacement-actions>
{% endmacro %}

{% macro code_example(code, copy) %}
	<bolt-code-snippet syntax="dark" lang="html" {{ copy ? 'copy-to-clipboard' : '' }}>
		{% spaceless %}
			{{ code | replace({
      '<': '&lt;',
      '>': '&gt;',
    }) | trim | raw }}
		{% endspaceless %}
	</bolt-code-snippet>
{% endmacro %}


{% import _self as card_replacement_demo %}


{% set card_replacement_web_component_demo %}
<bolt-card-replacement>
	{% include card_replacement_demo.image() %}
	{% include card_replacement_demo.body() %}
	{% include card_replacement_demo.actions() %}
</bolt-card-replacement>
{% endset %}

{% set simple_link_demo %}
<bolt-card-replacement url="https://google.com" url-text="Go to google.com">
	{% include card_replacement_demo.image() %}
	{% include card_replacement_demo.body_clickable() %}
</bolt-card-replacement>
{% endset %}

{% set advanced_link_demo %}
<bolt-card-replacement>
	<bolt-card-replacement-link custom-attribute="foo" html-attribute="bar">
		<a href="http://google.com" target="_blank">Go to google.com</a>
	</bolt-card-replacement-link>
	{% include card_replacement_demo.image() %}
	{% include card_replacement_demo.body_clickable() %}
</bolt-card-replacement>
{% endset %}

{% set nested_links_demo %}
<bolt-card-replacement url="https://google.com">
	{% include card_replacement_demo.video() %}
	{% include card_replacement_demo.body_with_link() %}
	{% include card_replacement_demo.actions() %}
</bolt-card-replacement>
{% endset %}

<div class="o-bolt-wrapper">
	<bolt-text headline>
		Web Component Usage
	</bolt-text>
	<bolt-text>
		Bolt card-replacement is a web component, you can simply use
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement&gt;</bolt-code-snippet>
		in the markup to make it render. Its inner content is comprised of
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-media&gt;</bolt-code-snippet>,
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-body&gt;</bolt-code-snippet>, and
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-actions&gt;</bolt-code-snippet>.
	</bolt-text>
	<div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
		{% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
		{% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
		{{ card_replacement_web_component_demo }}
		{% endcell %}
		{% endgrid %}
	</div>
	<div class="u-bolt-margin-bottom-large">
		{% include card_replacement_demo.code_example(card_replacement_web_component_demo, true) %}
	</div>

	<bolt-text headline>
		Simple Link Usage
	</bolt-text>
	<bolt-text>
		The simplest way to make the whole card-replacement clickable is by passing a link address to the
		<bolt-code-snippet display="inline" lang="html">url</bolt-code-snippet>
		prop on the main
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement&gt;</bolt-code-snippet>
		component itself. Also include the
		<bolt-code-snippet display="inline" lang="html">url-text</bolt-code-snippet>
		prop for accessibility.
	</bolt-text>
	<div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
		{% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
		{% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
		{{ simple_link_demo }}
		{% endcell %}
		{% endgrid %}
	</div>
	<div class="u-bolt-margin-bottom-large">
		{% include card_replacement_demo.code_example(simple_link_demo, true) %}
	</div>

	<bolt-text headline>
		Advanced Link Usage
	</bolt-text>
	<bolt-text>
		Insert a
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-link&gt;</bolt-code-snippet>
		inside
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement&gt;</bolt-code-snippet>
		and you can pass more than just
		<bolt-code-snippet display="inline" lang="html">url</bolt-code-snippet>.
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-link&gt;</bolt-code-snippet>
		is similar to
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet>. You can add custom attributes to
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-link&gt;</bolt-code-snippet>
		and insert a semantic
		<bolt-code-snippet display="inline" lang="html">&lt;a&gt;</bolt-code-snippet>
		or
		<bolt-code-snippet display="inline" lang="html">&lt;button&gt;</bolt-code-snippet>
		element inside.
	</bolt-text>
	<div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
		{% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
		{% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
		{{ advanced_link_demo }}
		{% endcell %}
		{% endgrid %}
	</div>
	<div class="u-bolt-margin-bottom-large">
		{% include card_replacement_demo.code_example(advanced_link_demo, true) %}
	</div>

	<bolt-text headline>
		Nested Links
	</bolt-text>
	<bolt-text>
		While making the whole card-replacement clickable, you are still able to insert nested links as needed. Any
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-link&gt;</bolt-code-snippet>,
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-link&gt;</bolt-code-snippet>, and
		<bolt-code-snippet display="inline" lang="html">&lt;bolt-card-replacement-action&gt;</bolt-code-snippet>
		will work as expected.
	</bolt-text>
	<div class="t-bolt-light u-bolt-margin-bottom-small u-bolt-padding-medium">
		{% grid "o-bolt-grid--flex o-bolt-grid--matrix o-bolt-grid--center" %}
		{% cell "u-bolt-width-12/12 u-bolt-width-6/12@small" %}
		{{ nested_links_demo }}
		{% endcell %}
		{% endgrid %}
	</div>
	<div class="u-bolt-margin-bottom-large">
		{% include card_replacement_demo.code_example(nested_links_demo, true) %}
	</div>
</div>
