<h2>Animations</h2>
<p>Animations (using the css <code>animate</code> property) allow for greater flexibility and control in comparison to simple transitions. Animations allow for the coordination of multiple transitions over time (through keyframes), repetition,and the ability to declare the direction of playback (forward, reversed, and alternate/boomerang).</p>

<div style="padding-left: 2rem">
  <h4>Zoom In</h4>
  <div style="margin-bottom: 5rem">
    <div class="demo-animated-bar demo-animated-bar--zoom-in"><strong>Zoom In</strong></div>
  </div>
  <h4>Zoom In and Down</h4>
  <div style="margin-bottom: 5rem">
    <div class="demo-animated-bar demo-animated-bar--zoom-in-down"><strong>Zoom In and Down</strong></div>
  </div>
  <h4>Zoom In and Left</h4>
  <div style="margin-bottom: 5rem">
    <div class="demo-animated-bar demo-animated-bar--zoom-in-left"><strong>Zoom In and Left</strong></div>
  </div>
  <h4>Heart Beat</h4>
  <div style="margin-bottom: 5rem">
    <div class="demo-animated-bar demo-animated-bar--heart-beat"><strong>Heart Beat</strong></div>
  </div>
  <h4>Spin</h4>
  <div style="margin-bottom: 5rem">
    <div class="demo-animated-bar demo-animated-bar--spin" style="width: 70px;"><strong>Spin</strong></div>
  </div>
</div>

<h3>How to use:</h3>
<p>First, apply base styling to prep element for animation.</p>
{{ '```scss
.class {
  @include bolt-animation--zoom-in($base: true);
}
```' | markdown }}
<p>Next, apply the same mixin with <code>$base: true</code> to the css.</p>
<p>For example, to trigger the animation on hover...</p>
{{ '```scss
.class {
  @include bolt-animation--zoom-in($base: true);
  &:hover {
    @include bolt-animation--zoom-in($active: true);
  }
}
```' | markdown }}
<p>Additionally, animations can be tied to data attributes that are applied with the javascript animation utitilites provided through <code>@bolt/animations</code>.</p>
{{ '```scss
.class {
  @include bolt-animation--zoom-in($base: true);
  &[data-anim-triggered="yes"] {
    @include bolt-animation--zoom-in($active: true);
  }
}
```' | markdown }}
<p>Or the animation can be fired without a triggering event.</p>
{{ '```scss
.class {
  @include bolt-animation--zoom-in($base: true, $active: true);
}
```' | markdown }}

<h2>Customizing Animations</h2>
<p>Animation mixins are fully customizable. For example, here are a number of 'heart beat' animations with various Bolt animation settings applied.</p>

<h4>Heart Beat - Extra Slow</h4>
{{ '```scss
.class {
  @include bolt-animation--heart-beat($base: true, $active: true, $duration: $bolt-duration--xslow);
}
```' | markdown }}
<div style="padding-left: 2rem; margin-bottom: 5rem">
  <div class="demo-animated-bar demo-animated-bar--heart-beat--xslow"><strong>Heart Beat</strong></div>
</div>

<h4>Heart Beat - Default</h4>
{{ '```scss
.class {
  @include bolt-animation--heart-beat($base: true, $active: true);
}
```' | markdown }}
<div style="padding-left: 2rem; margin-bottom: 5rem">
  <div class="demo-animated-bar demo-animated-bar--heart-beat"><strong>Heart Beat</strong></div>
</div>

<h4>Heart Beat - Fast</h4>
{{ '```scss
.class {
  @include bolt-animation--heart-beat($base: true, $active: true, $duration: $bolt-duration--fast);
}
```' | markdown }}
<div style="padding-left: 2rem; margin-bottom: 5rem">
  <div class="demo-animated-bar demo-animated-bar--heart-beat--fast"><strong>Heart Beat</strong></div>
</div>

<h4>Heart Beat - Alternate Direction</h4>
{{ '```scss
.class {
  @include bolt-animation--heart-beat($base: true, $active: true, $direction: alternate);
}
```' | markdown }}
<div style="padding-left: 2rem; margin-bottom: 5rem">
  <div class="demo-animated-bar demo-animated-bar--heart-beat--alternate"><strong>Heart Beat</strong></div>
</div>


