{% set icon_fb %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "facebook",
  } only %}
{% endset %}

{% set icon_twitter %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "twitter",
  } only %}
{% endset %}

{% set link_fb %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: icon_fb,
    attributes: {
      href: '',
    }
  } only %}
{% endset %}

{% set link_twitter %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: icon_twitter,
    attributes: {
      href: '',
    }
  } only %}
{% endset %}

{% set icon_chevron_right %}
  {% include "@bolt-components-icon/icon.twig" with {
    name: "chevron-right",
  } only %}
{% endset %}

{% set link1 %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Link1',
    icon_after: icon_chevron_right,
    reversed_underline: true,
    attributes: {
      href: '',
    }
  } only %}
{% endset %}

{% set link2 %}
  {% include '@bolt-elements-text-link/text-link.twig' with {
    content: 'Link2',
    icon_after: icon_chevron_right,
    reversed_underline: true,
    attributes: {
      href: '',
    }
  } only %}
{% endset %}

{% set links_collection1 %}
  <ul class="c-page-footer__nav-list">
    <li text="c-page-footer__nav-list-item">{{link1}}</li>
    <li text="c-page-footer__nav-list-item">{{link2}}</li>
    <li>...</li>
  </ul>
{% endset %}

<footer class="c-page-footer">
  <div class="c-page-footer__main">
    <div class="c-page-footer__description">
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'About Pegasystems',
        tag: 'h2',
      } only %}
      <p>Pegasystems is...</p>
    </div>
    <nav class="c-page-footer__nav" aria-label="Footer Navigation">
      <h3 class="c-page-footer__nav-heading">Join the conversation</h3>
      <ul class="c-page-footer__nav-list">
        <li class="c-page-footer__nav-list-item">{{link_twitter}} </li>
        <li class="c-page-footer__nav-list-item">{{link_fb}}</li>
        <li class="c-page-footer__nav-list-item">...</li>
      </ul>
      <h3 class="c-page-footer__nav-heading">Company</h3>
      {{links_collection1}}
      <h3 class="c-page-footer__nav-heading">Pega Sites</h3>
      {{links_collection1}}
      <h3 class="c-page-footer__nav-heading">Resources</h3>
      {{links_collection1}}
    </nav>
  </div>
  <aside class="c-page-footer__aside t-bolt-gray-xlight">
    <nav class="c-page-footer__nav c-page-footer__nav--inline" aria-label="Utility Navigation">
      <h3 class="c-page-footer__nav-heading">Language</h3>
      {{links_collection1}}
      <h3 class="c-page-footer__nav-heading">Legal</h3>
      {{links_collection1}}
    </nav>
    <span class="c-page-footer__copyrights">&copy;2021 Pegasystems Inc.</span>
  </aside>
</footer>
