{% set icon_chevron_right %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'chevron-right',
  } only %}
{% endset %}

{% set icon_chevron_down %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'chevron-down',
  } only %}
{% endset %}

{% set icon_fb %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'facebook',
  } only %}
{% endset %}

{% set icon_twitter %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'twitter',
  } only %}
{% endset %}

{% set icon_linkedin %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'linkedin-solid',
  } only %}
{% endset %}

{% set icon_youtube %}
  {% include '@bolt-components-icon/icon.twig' with {
    name: 'youtube-solid',
  } only %}
{% endset %}

{# Template #}
<footer class="c-page-footer js-bolt-page-footer">
  <nav class="c-page-footer__nav c-page-footer__nav--main" aria-labelledby="page-footer-heading">
    <div class="c-page-footer__nav-item c-page-footer__nav-item--description">
      {% include '@bolt-components-headline/headline.twig' with {
        text: 'About Pegasystems',
        tag: 'h2',
        attributes: {
          id: 'page-footer-heading',
        },
      } only %}
      <p>Pega delivers innovative software that crushes business complexity. From increasing customer lifetime value to streamlining service to boosting efficiency, we help the world’s leading brands solve problems fast and transform for tomorrow. Our solutions save people time, so our clients’ employees and customers can get back to what matters most.</p>
    </div>
    <div class="c-page-footer__nav-item c-page-footer__nav-item--social">
      <h3 class="c-page-footer__nav-headline">Join the conversation</h3>
      <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
        Join the conversation
        <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
      </button>
      <ul class="c-page-footer__nav-list">
        <li class="c-page-footer__nav-list-item">
          <a href="#!" target="_blank" rel="noopener" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">
            <span class="c-page-footer__nav-link__icon">{{ icon_twitter }}</span>
            <span class="c-page-footer__nav-link__text">Twitter</span>
          </a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" target="_blank" rel="noopener" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">
            <span class="c-page-footer__nav-link__icon">{{ icon_fb }}</span>
            <span class="c-page-footer__nav-link__text">Facebook</span>
          </a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" target="_blank" rel="noopener" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">
            <span class="c-page-footer__nav-link__icon">{{ icon_linkedin }}</span>
            <span class="c-page-footer__nav-link__text">LinkedIn</span>
          </a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" target="_blank" rel="noopener" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">
            <span class="c-page-footer__nav-link__icon">{{ icon_youtube }}</span>
            <span class="c-page-footer__nav-link__text">YouTube</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="c-page-footer__nav-item">
      <h3 class="c-page-footer__nav-headline">Company</h3>
      <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
        Company
        <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
      </button>
      <ul class="c-page-footer__nav-list">
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link">About Pega</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link">Office Locations</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link">Careers</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link">Contact Us</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="tel: 1-888-PEGA-NOW" class="c-page-footer__nav-link">US: 1-888-PEGA-NOW</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="tel: +44 118 965 1600" class="c-page-footer__nav-link">UK: +44 118 965 1600</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="tel: +49 (0) 89 540320" class="c-page-footer__nav-link">DACH: +49 (0) 89 540320</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="tel: +61 2 9581 7000" class="c-page-footer__nav-link">AU: +61 2 9581 7000</a>
        </li>
      </ul>
    </div>
    <div class="c-page-footer__nav-item">
      <h3 class="c-page-footer__nav-headline">Pega Sites</h3>
      <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
        Pega Sites
        <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
      </button>
      <ul class="c-page-footer__nav-list">
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Community</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Support</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Pega Academy Training</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Product Design</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Partners</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">PegaWorld Conference</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Blog</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">MyPega</a>
        </li>
      </ul>
    </div>
    <div class="c-page-footer__nav-item">
      <h3 class="c-page-footer__nav-headline">Resources</h3>
      <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
        Resources
        <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
      </button>
      <ul class="c-page-footer__nav-list">
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Analyst Reports</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Demo Videos</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Pega Platform Trial</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Partners &amp; Consulting Services</a>
        </li>
        <li class="c-page-footer__nav-list-item">
          <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Trust Center</a>
        </li>
      </ul>
    </div>
  </nav>
  <aside>
    <nav class="c-page-footer__nav c-page-footer__nav--aside" aria-label="Utility Navigation">
      <div class="c-page-footer__nav-item c-page-footer__nav-item--language">
        <h3 class="c-page-footer__nav-headline u-bolt-visuallyhidden">Language</h3>
        <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
          Language
          <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
        </button>
        <ul class="c-page-footer__nav-list">
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">English</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Français</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Deutsch</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Italiano</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">日本語</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Português</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Español</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Türkçe</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Pусский</a>
          </li>
        </ul>
      </div>
      <div class="c-page-footer__nav-item c-page-footer__nav-item--legal">
        <h3 class="c-page-footer__nav-headline u-bolt-visuallyhidden">Legal</h3>
        <button class="c-page-footer__nav-headline c-page-footer__nav-headline--trigger js-bolt-page-footer-toggle-trigger" type="button" aria-expanded="false">
          Legal
          <span class="c-page-footer__nav-headline--trigger__icon" aria-hidden="true">{{ icon_chevron_down }}</span>
        </button>
        <ul class="c-page-footer__nav-list">
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Terms of Use</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Contact</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Glossary</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Trademarks</a>
          </li>
          <li class="c-page-footer__nav-list-item">
            <a href="#!" class="c-page-footer__nav-link" aria-describedby="page-footer-new-window">Privacy</a>
          </li>
        </ul>
      </div>
      <span class="c-page-footer__nav-item c-page-footer__nav-item--copyrights">&copy;{{ "now"|date("Y") }} Pegasystems Inc.</span>
    </nav>
  </aside>
  <span id="page-footer-new-window" hidden>Opens in a new window</span>
</footer>
